<div class="post-container">
  <div class="post">
    <% if @post.featured_image.attached? %>
      <div class="post__feature-image">
        <%= image_tag @post.featured_image %>
      </div>
    <% end %>
    <h1 class="post__title"><%= @post.title %></h1>

    <div class="toolbar">
      <div class="toolbar__action">
        <a href="<%= space_root_path(@post.author.space) %>" class="author">
          <div class="author__avatar">
            <img src="<%= asset_pack_path 'media/images/avatar.png' %>">
          </div>
          <div class="author__info">
            <div class="author__name">
              <%= @post.author.name %>
            </div>
            <div class="author__time">
              <%= l @post.created_at, format: :short %>
            </div>
          </div>
        </a>
      </div>
      <div class="toolbar__space">
      </div>
      <div class="toolbar__action">
        <button type="button" class="button button--icon">
          <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#000000"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M6 10c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm12 0c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm-6 0c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2z"/></svg>
        </button>
      </div>
      <div class="toolbar__action">
        <button type="button" class="button button--icon">
          <svg xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 24 24" height="24px" viewBox="0 0 24 24" width="24px" fill="#000000"><rect fill="none" height="24" width="24"/><path d="M17,11v6.97l-5-2.14l-5,2.14V5h6V3H7C5.9,3,5,3.9,5,5v16l7-3l7,3V11H17z M21,7h-2v2h-2V7h-2V5h2V3h2v2h2V7z"/></svg>
        </button>
      </div>
      <div class="toolbar__action">
        <button type="button" class="button button--icon">
          <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#000000"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M16.5 3c-1.74 0-3.41.81-4.5 2.09C10.91 3.81 9.24 3 7.5 3 4.42 3 2 5.42 2 8.5c0 3.78 3.4 6.86 8.55 11.54L12 21.35l1.45-1.32C18.6 15.36 22 12.28 22 8.5 22 5.42 19.58 3 16.5 3zm-4.4 15.55l-.1.1-.1-.1C7.14 14.24 4 11.39 4 8.5 4 6.5 5.5 5 7.5 5c1.54 0 3.04.99 3.57 2.36h1.87C13.46 5.99 14.96 5 16.5 5c2 0 3.5 1.5 3.5 3.5 0 2.89-3.14 5.74-7.9 10.05z"/></svg>
        </button>
      </div>
    </div>

    <div class="post__content typography">
      <%= markdown_render @post.content %>
    </div>
  </div>
</div>
