<p>
  @<%= @membership.inviter.account.path %> has invite you to join @<%= @membership.organization.account.path %> organization. Head over to <a href="<%= account_root_url(@membership.organization.account) %>"><%= account_root_url(@membership.organization.account) %></a> to checkout @<%= @membership.organization.account.path %>'s profile.
</p>

<p>This invitation will expire in 7 days.</p>

<p>
  <a href="<%= account_invitation_url(@membership.organization.account, invitation_token: @membership.invitation_token) %>" class="btn-primary">Join @<%= @membership.organization.account.path %></a>
</p>
