<div class="display-flex height-100vh" data-nav-frame-nav-item-active-class="list__item--active">
  <div class="flex-grow-1">
    <%= turbo_frame_tag "revision-content", data: { turbo_action: 'advance' }  do %>
      <div class="revision display-flex flex-direction-column height-100" data-controller="revision">
        <div class="app-bar app-bar--borderless">
          <div class="top-app-bar">
            <div class="top-app-bar__action">
              <a href="<%= edit_account_dashboard_post_path(@account, @post) %>" class="button button--icon" data-turbo-frame="_top">
                <span class="material-icons">arrow_back</span>
              </a>
            </div>
            <div class="top-app-bar__title">
              <%= t 'common.revision' %>
              <% if @revision %>
                - <%= format_time @revision.created_at %>
              <% end %>
            </div>
            <div class="top-app-bar__action">
              <button type="button" class="button button--text revision__hide-changes-button" data-action="revision#hideChanges">
                <%= t 'common.hide_changes' %>
              </button>
              <button type="button" class="button button--text revision__show-changes-button" data-action="revision#showChanges">
                <%= t 'common.show_changes' %>
              </button>
            </div>
            <div class="top-app-bar__action">
              <%= form_with model: @revision, url: restore_account_dashboard_post_revision_path(@account, @post), data: { 'turbo-frame': '_top' } do |form| %>
                <button type="submit" class="button button--text button--primary" data-confirm="<%= t 'common.restore_revision_confirm', name: @revision.display_name %>">
                  <div class="button__icon">
                    <span class="material-icons">restore</span>
                  </div>
                  <div class="button__text">
                    <%= t 'common.restore_revision' %>
                  </div>
                </button>
              <% end %>
            </div>
            <div class="top-app-bar__action display-none@laptop">
              <button type="button" class="button button--icon" data-controller="toggle" data-toggle-target="#revision-sheet" data-toggle-action="sheet#toggle">
                <span class="material-icons">toc</span>
              </button>
            </div>
          </div>
        </div>

        <div class="overflow-auto">
          <div class="revision__container">
            <div class="revision__changes-content">
              <div class="revision__title">
                <%= diff_html(@revision.prev&.title, @revision.title) %>
              </div>
              <div class="revision__content">
                <%= diff_html(@revision.prev&.content, @revision.content) %>
              </div>
            </div>
            <div class="revision__show-content">
              <div class="revision__title">
                <%= diff_html(@revision.title, @revision.title) %>
              </div>
              <div class="revision__content">
                <%= diff_html(@revision.content, @revision.content) %>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>

  <div id="revision-sheet" class="sheet sheet--permanently" data-controller="sheet">
    <div class="sheet__container padding-0 border-left@laptop">
      <%= turbo_frame_tag "revision-nav", src: account_dashboard_post_revisions_path(@account, @post), class: 'display-contents', data: { action: 'turbo:frame-load->nav-frame#navLoad' } do %>
      <% end %>
    </div>
    <div class="sheet__scrim" data-action="click->sheet#close">
    </div>
  </div>
</div>
