<div class="container">
  <div class="layout">
    <%= render 'admin/navbar' %>

    <div class="main">
      <div class="card card--surface padding-3 margin-bottom-3">
        <div class="breadcrumb">
          <div class="breadcrumb__item">
            <a href="<%= admin_comments_path %>">
              <%= t 'common.comments' %>
            </a>
          </div>
          <div class="breadcrumb__item breadcrumb__item--active">
            <%= @comment.id %>
          </div>
        </div>
      </div>

      <div class="card card--surface padding-3">
        <%= form_with model: @comment, url: admin_comment_path(@comment), builder: CustomFormBuilder do |form| %>
          <div class="margin-bottom-3">
            <%= form.hidden_field :content, id: 'comment-content' %>
            <div class="markdown-editor" data-controller="markdown-editor" data-markdown-editor-input-value="comment-content" data-markdown-editor-direct-upload-url-value="<%= rails_direct_uploads_path %>" data-markdown-editor-i18n-value="<%= { write: I18n.t('markdown_editor.write'), preview: I18n.t('markdown_editor.preview') }.to_json %>">
            </div>
          </div>

          <button type="submit" class="button button--filled">
            <%= t 'common.save_changes' %>
          </button>
        <% end %>
      </div>
    </div>

    <div class="sidebar">
      <div class="card card--surface padding-3 margin-bottom-3">
        <div class="title-medium margin-bottom-3">
          <%= t 'common.meta' %>
        </div>

        <div class="margin-bottom-2">
          <div class="label-large margin-bottom-1">
            <%= t 'common.posts' %>
          </div>
          <div>
            <% if @comment.commentable %>
              <a href="<%= admin_post_path(@comment.commentable) %>">
                <%= @comment.commentable.title %>
              </a>
            <% end %>
          </div>
        </div>

        <div class="margin-bottom-2">
          <div class="label-large margin-bottom-1">
            <%= t 'common.user' %>
          </div>
          <div>
            <%= @comment.user.name %>
          </div>
        </div>

        <div class="margin-bottom-2">
          <div class="label-large margin-bottom-1">
            <%= t 'common.created_at' %>
          </div>
          <div>
            <%= @comment.created_at %>
          </div>
        </div>

        <div class="margin-bottom-2">
          <div class="label-large margin-bottom-1">
            <%= t 'common.updated_at' %>
          </div>
          <div>
            <%= @comment.updated_at %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
