<div class="">
  <div class="card">
    <div class="flex items-center h-14 px-2 gap-2">
      <a href="<%= admin_comment_path(@comment) %>" class="icon-button">
        <x-icon>arrow_back</x-icon>
      </a>
      <div class="flex-grow text-lg font-medium">
        Edit comment #<%= @comment.id %>
      </div>
    </div>

    <div class="p-4">
      <%= form_with model: @comment, url: admin_comment_path(@comment) do |form| %>
        <div class="form-field">
          <%= form.label :content, class: "form-label" %>
          <%= render "components/markdown_field", form: form, name: :content %>
        </div>

        <div class="form-field">
          <button type="submit" class="button button--filled">
            <%= t 'general.save_changes' %>
          </button>
        </div>
      <% end %>
    </div>
  </div>
</div>
