<div class="container padding-3">
  <div class="layout-primary">
    <%= render 'admin/navbar' %>

    <div class="">
      <div class="card card--elevated background-surface">
        <div class="top-app-bar">
          <div class="top-app-bar__title">
            <%= t 'common.comments' %>
          </div>
        </div>

        <table class="table border-top border-bottom">
          <tbody>
            <% @comments.each do |comment| %>
              <tr>
                <td>
                  <a href="<%= admin_comment_path(comment) %>">
                    <%= truncate comment.content, length: 35 %>
                  </a>
                </td>
                <td>
                  <%= comment.user.name %>
                </td>
                <td>
                  <%= format_time comment.created_at %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>

        <div class="padding-3">
          <%= paginate @comments %>
        </div>
      </div>
    </div>
  </div>
</div>
