<div class="container">
  <div class="layout">
    <%= render 'admin/navbar' %>

    <div class="main">
      <div class="card card--surface padding-3">
        <div class="headline-medium padding-y-2 padding-x-3">
          <%= t 'common.comments' %>
        </div>

        <table class="table">
          <tbody>
            <% @comments.each do |comment| %>
              <tr>
                <td>
                  <a href="<%= admin_comment_path(comment) %>">
                    <%= truncate comment.content, length: 35 %>
                  </a>
                </td>
                <td>
                  <%= comment.user.name %>
                </td>
                <td>
                  <%= format_time comment.created_at %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>

        <%= paginate @comments %>
      </div>
    </div>
  </div>
</div>
