<div class="container padding-3">
  <div class="layout-primary">
    <%= render 'admin/navbar' %>

    <div class="">
      <div class="card card--elevated background-surface">
        <div class="top-app-bar">
          <div class="top-app-bar__action">
            <a href="<%= admin_comments_path %>" class="button button--icon">
              <span class="material-icons">arrow_back</span>
            </a>
          </div>
          <div class="top-app-bar__title">
            <%= t 'common.comments' %> #<%= @comment.id %>
          </div>
          <div class="top-app-bar__action">
            <a href="<%= edit_admin_comment_path(@comment) %>" class="button button--text">
              <%= t 'common.edit' %>
            </a>
          </div>
        </div>

        <table class="table border-top">
          <tr>
            <th>
              <%= t 'common.user' %>
            </th>
            <td>
              <a href="<%= edit_admin_user_path(@comment.user) %>">
                <%= @comment.user.name %>
              </a>
            </td>
          </tr>

          <tr>
            <th>
              <%= t 'common.commentable' %>
            </th>
            <td>
              <a href="<%= url_for([:admin, @comment.commentable]) %>">
                <%= url_for([:admin, @comment.commentable]) %>
              </a>
            </td>
          </tr>

          <% @comment.attributes.each do |name, value| %>
            <tr>
              <th>
                <%= name %>
              </th>
              <td class="text-break-all">
                <%= value %>
              </td>
            </tr>
          <% end %>
        </table>
      </div>
    </div>
  </div>
</div>
