<div class="container">
  <div class="layout">
    <%= render 'admin/navbar' %>

    <div class="main">
      <div class="card card--surface padding-3 margin-bottom-3">
        <div class="breadcrumb">
          <div class="breadcrumb__item">
            <a href="<%= admin_comments_path %>">
              <%= t 'common.comments' %>
            </a>
          </div>
          <div class="breadcrumb__item breadcrumb__item--active">
            <%= @comment.id %>
          </div>
        </div>
      </div>

      <div class="card card--surface">
        <table class="table">
          <tr>
            <th>
              <%= t 'common.user' %>
            </th>
            <td>
              <a href="<%= edit_admin_user_path(@comment.user) %>">
                <%= @comment.user.name %>
              </a>
            </td>
          </tr>

          <tr>
            <th>
              <%= t 'common.commentable' %>
            </th>
            <td>
              <a href="<%= url_for([:admin, @comment.commentable]) %>">
                <%= url_for([:admin, @comment.commentable]) %>
              </a>
            </td>
          </tr>

          <% @comment.attributes.each do |name, value| %>
            <tr>
              <th>
                <%= name %>
              </th>
              <td class="text-break-all">
                <%= value %>
              </td>
            </tr>
          <% end %>
        </table>
      </div>
    </div>

    <div class="sidebar">
      <div class="card card--surface padding-3">
        <div class="">
          <a href="<%= edit_admin_comment_path(@comment) %>" class="button button--outlined">
            <%= t 'common.edit' %>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
