<div class="container mx-auto">
  <div class="top-app-bar">
    <a href="/" class="icon-button">
      <x-icon>arrow_back</x-icon>
    </a>
    <div class="top-app-bar__headline">
      <%= t "general.sign_in" %>
    </div>
  </div>

  <div class="max-w-lg mx-auto p-4">
    <div class="card p-4">
      <div class="mt-4">
        <%= form_with(url: sign_in_path, model: @user, method: :post) do |form| %>
          <div class="form-field">
            <%= form.label :email, class: "form-label" %>
            <%= render "components/text_field", form: form, name: :email, options: { required: true, autofocus: true, autocomplete: "email" } %>
          </div>

          <div class="form-field">
            <%= form.label :password, class: "form-label" %>
            <%= render "components/text_field", form: form, type: :password_field, name: :password, options: { required: true, autocomplete: "current-password" } %>
          </div>

          <div class="form-field">
            <%= render "components/recaptcha_field", form: form %>
          </div>

          <div class="form-field">
            <button type="submit" class="button button--filled">
              <%= t "general.sign_in" %>
            </button>
          </div>
        <% end %>
      </div>
    </div>

    <div class="p-4 space-y-2 text-on-surface-variant">
      <div>
        <%= t(".dont_have_an_account") %>
        <a href="<%= sign_up_path %>" class="text-primary hover:underline">
          <%= t("general.sign_up") %>
        </a>
      </div>
      <div>
        <%= t(".forgot_password") %>
        <a href="<%= new_identity_password_path %>" class="text-primary hover:underline">
          <%= t("general.reset_password") %>
        </a>
      </div>
    </div>
  </div>
</div>
