<div class="max-w-md mx-auto p-4">
  <div class="card bg-base-100 shadow-sm p-4">
    <h2 class="font-medium mb-4">
      <%= t "general.sign_in" %>
    </h2>

    <%= form_with(url: session_path, model: @user, method: :post) do |form| %>
      <%= render "components/text_field", form: form, name: :email, options: { required: true, autocomplete: "email" } %>

      <%= render "components/text_field", form: form, name: :password, type: :password, options: { type: :password, value: nil, required: true, autocomplete: "email" } %>

      <%= render "components/recaptcha_field", form: form %>

      <button type="submit" class="btn btn-primary btn-block mt-4">
        <%= t "general.sign_in" %>
      </button>
    <% end %>
  </div>

  <div class="p-4">
    <a href="<%= new_registration_path %>" class="btn btn-link btn-block">
      <%= t("general.sign_up_account") %>
    </a>

    <a href="<%= new_identity_password_path %>" class="btn btn-link btn-block">
      <%= t("general.reset_password") %>
    </a>
  </div>
