<div class="max-w-screen-sm mx-auto">
  <div class="card p-4">
    <h1 class="text-lg font-medium">
      <%= t "general.sign_in" %>
    </h1>

    <div class="mt-4">
      <%= form_with(url: sign_in_path, model: @user, method: :post) do |form| %>
        <div class="form-field">
          <%= form.label :email, class: "form-label" %>
          <%= render "components/text_field", form: form, name: :email, options: { required: true, autofocus: true, autocomplete: "email" } %>
        </div>

        <div class="form-field">
          <%= form.label :password, class: "form-label" %>
          <%= render "components/text_field", form: form, type: :password_field, name: :password, options: { required: true, autocomplete: "current-password" } %>
        </div>

        <div class="form-field">
          <%= render "components/recaptcha_field", form: form %>
        </div>

        <div class="form-field">
          <button type="submit" class="button button--filled">
            <%= t "general.sign_in" %>
          </button>
        </div>
      <% end %>
    </div>
  </div>

  <div class="p-4 space-y-2 text-on-surface-variant">
    <div>
      <%= link_to t("general.sign_up"), sign_up_path %>
    </div>
    <div>
      <%= link_to t("general.reset_password"), new_identity_password_path %>
    </div>
  </div>
</div>
