<div class="posts__item">
  <a href="<%= account_post_path(post.account, post) %>" class="stretched-link"></a>
  <div class="flex">
    <div class="">
      <div class="flex flex-align-items-center margin-bottom-8">
        <div class="avatar avatar--small margin-right-8">
          <%= avatar_image_tag post.author.avatar %>
        </div>
        <div class="text-small">
          <span class="text-bold"><%= post.author.name %></span>
          <% if post.account != post.author.account %>
            in
            <span class="link-text text-bold"><%= post.account.owner.name %></span>
          <% end %>
        </div>
        <% if post.featured %>
          <span class="material-icons featured-post__icon">push_pin</span>
        <% end %>
      </div>
      <h3 class="margin-top-0 margin-bottom-8">
        <%= post.title.presence || 'Untitle' %>
      </h3>
      <div class="text-secondary">
        <%= truncate post.content, length: 100 %>
      </div>
    </div>
    <% if post.featured_image.attached? %>
      <div class="posts__item__feature-image margin-left">
        <%= image_tag post.featured_image.variant(resize_to_fill: [800, 800]) %>
      </div>
    <% end %>
  </div>
  <div class="toolbar">
    <div class="toolbar__text">
      <div class="text-secondary">
        <%= local_time post.created_at, format: :short %>
        &centerdot;
        <%= post.likes_count %> likes
        <% if post.allow_comments %>
          &centerdot;
          <%= post.comments_count %> comments
        <% end %>
      </div>
    </div>
    <div class="toolbar__space">
    </div>
    <div class="toolbar__action">
      <%= render 'account/posts/bookmarks/button', post: post %>
    </div>
    <div class="toolbar__action">
      <button type="button" class="button button--icon">
        <span class="material-icons">more_horiz</span>
      </button>
    </div>
  </div>
</div>
