<section id="<%= dom_id(post) %>" class="card card-border border-base-300 bg-base-100 p-4">
  <div class="flex gap-2">
    <div class="flex-shrink-0">
      <img src="<%= avatar_url(post.user) %>" alt="avatar" class="size-6 rounded-full">
    </div>
    <div class="flex-grow">
      <span class="font-medium"><%= post.user.name %></span>
      <% if post.account != post.user.account %>
        <span class="text-on-surface-variant">in</span>
        <span class="font-medium"><%= post.account.owner.name %></span>
      <% end %>
    </div>
  </div>

  <div class="flex gap-4 mt-2">
    <div class="grow">
      <div class="line-clamp-3">
        <h3 class="text-xl font-medium">
          <a href="<%= account_post_path(post.account.name, post) %>" class="after:absolute after:inset-0">
            <%= post.title %>
          </a>
        </h3>

        <div class="mt-2 text-sm text-on-surface-variant">
          <%= markdown_summary post.content %>
        </div>

      </div>

      <div class="text-sm text-on-surface-variant mt-2">
        <span><%= format_time post.published_at %></span>
        &centerdot;
        <span><%= post.likes_count %> <%= t "general.likes" %></span>
        &centerdot;
        <span><%= post.comments_count %> <%= t "general.comments" %></span>
      </div>
    </div>

    <% if post.featured_image.attached? %>
      <div class="flex-shrink-0 hidden md:block">
        <img src="<%= polymorphic_url(post.featured_image.variant(:large)) %>" alt="Featured image" class="rounded-lg w-40 aspect-video object-cover">
      </div>
    <% end %>
  </div>
</section>
