<div class="posts__item">
  <a href="<%= account_post_path(post.account, post) %>" class="stretched-link"></a>
  <div class="flex">
    <div class="">
      <h2 class="margin-top-0 margin-bottom">
        <%= post.title.presence || 'Untitle' %>
      </h2>
      <div class="text-muted margin-bottom">
        <%= truncate post.content, length: 70 %>
      </div>
    </div>
    <% if post.featured_image.attached? %>
      <div class="posts__item__feature-image margin-left">
        <%= image_tag post.featured_image.variant(resize_to_fill: [800, 450]) %>
      </div>
    <% end %>
  </div>
  <div class="toolbar">
    <div class="toobar__author">
      <div class="flex">
        <div class="avatar margin-right">
          <%= avatar_image_tag post.author.avatar %>
        </div>
        <div>
          <div class="text-primary">
            <a href="<%= account_root_path(post.author.account) %>" class="link-text text-bold"><%= post.author.name %></a>
            <% if post.account != post.author.account %>
              for
              <a href="<%= account_root_path(post.account) %>" class="link-text text-bold"><%= post.account.owner.name %></a>
            <% end %>
          </div>
          <div class="text-secondary">
            <%= l post.created_at, format: :short %>
            &centerdot;
            <%= post.likes_count %> likes
            &centerdot;
            <%= post.comments_count %> comments
          </div>
        </div>
      </div>
    </div>
    <div class="toolbar__space">
    </div>
    <div class="toolbar__action">
      <button type="button" class="button button--icon">
        <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#000000"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M6 10c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm12 0c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm-6 0c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2z"/></svg>
      </button>
    </div>
    <div class="toolbar__action">
      <%= render 'account/posts/collections/button', post: post %>
    </div>
  </div>
</div>
