<div class="post-item padding-y-3 position-relative" data-post-list-target="item" data-url="<%= account_post_path(post.account, post) %>">
  <div class="display-flex margin-bottom-2">
    <a href="<%= account_root_path(post.account) %>" class="display-flex link-text">
      <div class="avatar avatar--small margin-right-1">
        <%= avatar_image_tag post.account.owner.avatar %>
      </div>
      <%= post.account.owner.name %>
    </a>
    <% if post.account.organization? && post.author_users.any? %>
      <div class="margin-x-1">
        by
        <% post.author_users.each do |user| %>
          <a href="<%= account_root_path(user.account) %>" class="link-text"><%= user.name %></a><% if user != post.author_users.last %>, <% end %>
        <% end %>
      </div>
    <% end %>
  </div>

  <div class="display-flex gap-4 margin-bottom-1">
    <div class="flex-grow-1">
      <h3 class="headline-medium margin-top-0 margin-bottom-2">
        <a href="<%= account_post_path(post.account, post) %>" class="link-title link-expended">
          <%= post.title.presence || 'Untitle' %>
        </a>
      </h3>
      <div class="text-muted">
        <%= post_summary post %>
      </div>
    </div>
    <% if post.featured_image.attached? %>
      <div class="flex-shrink-0">
        <div class="post-item__featured_image overflow-hidden border-radius-3">
          <%= featured_image_thumb_tag post.featured_image %>
        </div>
      </div>
    <% end %>
  </div>

  <div class="display-flex gap-1 align-items-center">
    <div class="flex-grow-1 text-muted">
      <%= format_time post.published_at %>
      &centerdot;
      <%= post.likes_count %> <%= t 'common.likes' %>
      <% if post.allow_comments %>
      &centerdot;
      <%= post.comments_count %> <%= t 'common.comments' %>
      <% end %>
    </div>
    <%= render 'account/posts/collections/button', post: post %>
  </div>
</div>
