<div class="card card--surface position-relative">
  <div class="display-flex padding-3 gap-3">
    <div class="flex-grow-1">
      <div class="post-card__header">
        <h3 class="title-medium margin-top-0 margin-bottom-3">
          <a href="<%= account_post_path(post.account, post) %>" class="link-expended link-title" data-post-list-target="postLink">
            <%= post.title.presence || t('common.untitled') %>
          </a>
        </h3>
        <% if post.tags.any? %>
          <div class="display-flex flex-wrap gap-2">
            <% post.tags.each do |tag| %>
              <span class="text-muted">#<%= tag.name %></span>
            <% end %>
          </div>
        <% end %>
      </div>
      <div class="display-flex align-items-center gap-3">
        <div class="flex-grow-1">
          <div class="display-flex gap-2 align-items-center">
            <div class="avatar flex-shrink-0">
              <%= avatar_image_tag post.user.avatar %>
            </div>
            <div class="">
              <div class="title-small">
                <%= post.user.name %>
                <% if post.account != post.user.account %>
                  <span class="text-muted">
                    <%= t 'common.in' %>
                  </span>
                  <%= post.account.display_name %>
                <% end %>
              </div>
              <div class="body-medium">
                <%= format_time post.published_at %>
              </div>
            </div>
          </div>
        </div>
        <div class="display-flex align-items-center gap-1 text-muted">
          <span class="material-icons material-icons--inline">favorite</span>
          <span><%= post.likes_count %></span>
        </div>
        <div class="display-flex align-items-center gap-1 text-muted">
          <span class="material-icons material-icons--inline">comment</span>
          <span><%= post.comments_count %></span>
        </div>
      </div>
    </div>
    <div class="flex-shrink-0 display-none display-block@tablet">
      <div class="featured-image-thumb">
        <% if post.featured_image.attached? %>
          <%= featured_image_thumb_tag post.featured_image %>
        <% else %>
          <div class="featured-image-thumb__placeholder">
            <span class="material-icons">article</span>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
