<% cache post do %>
  <% toc = post_toc(post) %>

  <% if toc.any? %>
    <input type="checkbox" id="toc-sheet-toggle" class="sheet-toggle">
    <div class="sheet sheet--toc">
      <div class="sheet__container">
        <div class="title-medium margin-bottom-2">
          <%= t "general.table_of_contents" %>
        </div>

          <ul class="toc" data-controller="toc">
            <% toc.each do |item| %>
              <li class="toc__item toc__item--level-<%= item[:level] %>" data-toc-target="item" data-id="<%= item[:id] %>">
                <a href="<%= item[:href] %>">
                  <%= item[:title] %>
                </a>
              </li>
            <% end %>
          </ul>
      </div>
      <label for="toc-sheet-toggle" class="sheet__scrim">
    </div>
  <% end %>
<% end %>
