<% @page_titles.push @account.display_name %>

<% content_for :head do %>
  <%= auto_discovery_link_tag :atom, account_feed_url(@account, format: :atom) %>
<% end %>

<div class="flex gap-6">
  <div class="flex-grow min-w-0">
    <%= render "account/header", account: @account %>

    <div class="flex gap-2 mt-4">
      <%= render "components/tab", label: "Posts", active: true %>
      <%= render "components/tab", label: "Comments", active: false %>
    </div>

    <div class="mt-4">
      <%= render partial: "home/post", collection: @posts %>
    </div>
  </div>

  <div class="flex-shrink-0 w-80">
  </div>
</div>
