<% @page_title = @account.display_name %>

<% content_for :head do %>
  <%= auto_discovery_link_tag :atom, account_feed_url(@account, format: :atom) %>
<% end %>

<div class="banner-image">
  <div class="banner-image__inner">
    <% if @account.owner.banner_image.attached? %>
      <%= image_tag @account.owner.banner_image.variant(resize_to_limit: [1920, 1920]) %>
    <% end %>
  </div>
</div>

<div class="container container--medium">
  <div class="layout-primary padding-3">
    <%= render 'account/navbar' %>

    <div class="">
      <%= render 'account/tab' %>

      <div class="flex-grow-1 min-width-0">
        <div class="display-flex flex-direction-column gap-3">
          <%= render partial: 'post', collection: @posts, cached: true %>
        </div>

        <div class="padding-3">
          <%= paginate @posts %>
        </div>
      </div>
    </div>
  </div>
</div>
