<% @page_titles.push @account.display_name %>

<% content_for :head do %>
  <%= auto_discovery_link_tag :atom, account_feed_url(@account.name, format: :atom) %>
<% end %>

<div class="layout-main-sidebar">
  <div>
    <%= render "account/header", account: @account %>

    <div class="mt-4">
      <%= render partial: "account/posts/post", collection: @posts, cached: -> post { [ post.account, post.user, post ] } %>
    </div>
  </div>

  <div class="space-y-4">
    <% if @account.user? %>
      <% if @account.owner.organizations.any? %>
        <div class="card p-4">
          <div class="text-lg font-medium">
            <%= t "general.organizations" %>
          </div>
          <div class="flex flex-wrap gap-2 mt-4">
            <% @account.owner.organizations.includes(:account).each do |organization| %>
              <a href="<%= account_root_path(organization.account.name) %>" class="block">
                <img src="<%= avatar_url(organization) %>" alt="avatar" class="w-10 h-10 rounded-full">
              </a>
            <% end %>
          </div>
        </div>
      <% end %>

      <div class="card p-4">
        <div class="text-lg font-medium">
          <%= t "general.stats" %>
        </div>
        <div class="mt-4">
          <div class="flex items-center h-10 gap-4">
            <x-icon>article</x-icon>
            <div>
              <%= @account.owner.posts.published.count %>
              <%= t "general.posts" %>
            </div>
          </div>
          <div class="flex items-center h-10 gap-4">
            <x-icon>comment</x-icon>
            <div>
              <%= @account.owner.comments.count %>
              <%= t "general.comments" %>
            </div>
          </div>
        </div>
      </div>
    <% elsif @account.organization? %>
      <div class="card p-4">
        <div class="text-lg font-medium">
          <%= t "general.members" %>
        </div>
        <div class="flex flex-wrap gap-2 mt-4">
          <% @account.owner.users.includes(:account).each do |user| %>
            <a href="<%= account_root_path(user.account.name) %>" class="block">
              <img src="<%= avatar_url(user) %>" alt="avatar" class="w-10 h-10 rounded-full">
            </a>
          <% end %>
        </div>
      </div>

      <div class="card p-4">
        <div class="text-lg font-medium">
          <%= t "general.stats" %>
        </div>
        <div class="mt-4">
          <div class="flex items-center h-10 gap-4">
            <x-icon>article</x-icon>
            <div>
              <%= @account.posts.published.count %>
              <%= t "general.posts" %>
            </div>
          </div>
        </div>
      </div>
    <% end %>

  </div>
</div>
