<% @page_title = @account.display_name %>

<% content_for :head do %>
  <%= auto_discovery_link_tag :atom, account_feed_url(@account, format: :atom) %>
<% end %>

<div class="container">
  <div class="layout">
    <%= render 'account/navbar' %>

    <div class="main">
      <%= render 'account/tab' %>

      <div class="display-flex flex-direction-column gap-3">
        <% if @posts.current_page == 1 %>
          <%= render @account.posts.featured %>
        <% end %>

        <%= render partial: 'post', collection: @posts, cached: true %>
      </div>

      <div class="padding-3">
        <%= paginate @posts %>
      </div>
    </div>

    <%= render 'account/sidebar' %>
  </div>
</div>
