<% @page_title = @account.display_name %>

<% content_for :head do %>
  <%= auto_discovery_link_tag :atom, account_feed_url(@account, format: :atom) %>
<% end %>

<%= render 'account/header' %>

<div class="container container--medium padding-3">
  <% if @posts.current_page == 1 %>
    <div class="border-top border-bottom margin-bottom-3">
      <h4 class="headline-small margin-top-3 margin-bottom-0">
        <%= t 'common.featured' %>
      </h4>
      <%= render @account.posts.featured %>
    </div>
  <% end %>

  <%= render partial: 'post', collection: @posts, cached: true %>
  <%= paginate @posts %>
</div>
