<% content_for :head do %>
  <%= auto_discovery_link_tag :atom, account_feed_url(@account.name, format: :atom) %>
<% end %>

<div class="layout-nav-main">
  <div>
    <%= render "account/nav", account: @account %>
  </div>

  <div class="">
    <div class="tabs tabs-border">
      <a href="<%= account_root_path(@account.name) %>" class="tab tab-active">
        <%= t "general.posts" %>
      </a>
      <% if @account.user? %>
        <a href="<%= account_comments_path(@account.name) %>" class="tab">
          <%= t "general.comments" %>
        </a>
      <% end %>
    </div>

    <div class="mt-4">
      <%= render "components/scroll_pagination", pagy: @pagy, content_class: "space-y-4" do %>
        <%= render partial: "account/posts/post", collection: @posts, cached: -> post { [ post.account, post.user, post ] } %>
      <% end %>
    </div>
  </div>
</div>
