<% @page_title = @post.title %>

<% content_for :head do %>
  <meta property="og:type" content="article">
  <meta property="og:title" content="<%= @post.title %>">
  <meta property="og:url" content="<%= account_post_url(@account.name, @post) %>">
  <meta property="og:description" content="<%= post_summary @post %>">
  <% if @post.featured_image.attached? %>
    <meta property="og:image" content="<%= featured_image_url @post.featured_image %>">
  <% else %>
    <meta property="og:image" content="<%= avatar_url @post.user %>">
  <% end %>

  <meta name="twitter:title" content="<%= @post.title %>">
  <meta name="twitter:description" content="<%= post_summary @post %>">
  <% if @post.featured_image.attached? %>
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:image" content="<%= featured_image_url @post.featured_image %>">
  <% else %>
    <meta name="twitter:card" content="summary">
    <meta name="twitter:image" content="<%= avatar_url @post.user %>">
  <% end %>

  <link rel="canonical" href="<%= @post.canonical_url || account_post_url(@account.name, @post) %>">
<% end %>

<div class="top-app-bar">
  <a href="<%= account_root_path(@account.name) %>" class="icon-button">
    <x-icon>arrow_back</x-icon>
  </a>
  <div class="top-app-bar__headline">
    <%= t "general.post" %>
  </div>
</div>

<div class="layout-main-sidebar">
  <div class="min-w-0">

    <div class="card">
      <% if @post.featured_image.attached? %>
        <img src="<%= polymorphic_url(@post.featured_image.variant(:large)) %>" alt="cover" class="rounded-xl object-cover w-full aspect-video">
      <% end %>

      <div class="p-4">
        <div class="flex gap-4">
          <div class="flex-shrink-0">
            <a href="<%= account_root_path(@post.user.account.name) %>">
              <img src="<%= avatar_url(@post.user) %>" alt="avatar" class="w-10 h-10 rounded-full">
            </a>
          </div>

          <div class="flex-grow">
            <div class="text-sm">
              <a href="<%= account_root_path(@post.user.account.name) %>" class="font-medium">
                <%= @post.user.name %>
              </a>
              <% if @post.account != @post.user.account %>
                <span>in</span>
                <a href="<%= account_root_path(@post.account.name) %>" class="font-medium">
                  <%= @post.account.display_name %>
                </a>
              <% end %>
            </div>
            <div class="text-sm text-on-surface-variant">
              <%= format_time @post.published_at %>
              <% if @post.canonical_url.present? %>
                &centerdot;
                <%= t "general.originally_published_at" %>
                <a href="<%= @post.canonical_url %>" target="_blank" class="text-primary">
                  <%= URI(@post.canonical_url).host %>
                </a>
              <% end %>
            </div>
          </div>

          <div class="flex-shrink-0">
            <div class="menu">
              <label tabindex="0" type="button" class="icon-button">
                <x-icon>more_vert</x-icon>
              </label>
              <div tabindex="0" class="menu__content top-full right-0 origin-top-right">
                <button type="button" class="menu__item" data-controller="copy-link" data-action="copy-link#copy" data-copy-link-url-value="<%= account_post_path(@account.name, @post) %>">
                  <x-icon>link</x-icon>
                  <span><%= t "general.copy_link" %></span>
                </button>

                <div class="hidden visible-to-user--<%= @post.user.id %>">
                  <a href="<%= edit_dashboard_post_path(@account.name, @post) %>" class="menu__item">
                    <x-icon>edit</x-icon>
                    <span><%= t "general.edit" %></span>
                  </a>
                  <%= form_with url: dashboard_post_path(@account.name, @post), method: :delete do |form| %>
                    <button type="submit" class="menu__item">
                      <x-icon>delete</x-icon>
                      <span><%= t "general.delete" %></span>
                    </button>
                  <% end %>
                </div>

                <div class="hidden visible-to-admin">
                  <button type="button" class="menu__item">
                    <x-icon>build</x-icon>
                    <span><%= t "general.manage" %></span>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="mt-6">
          <article class="prose dark:prose-invert max-w-none mt-6">
            <h1>
              <%= @post.title %>
            </h1>

            <%= markdown_render @post.content %>
          </article>

          <% if @post.tags.any? %>
            <div class="flex gap-2 mt-6">
              <% @post.tags.each do |tag| %>
                <a href="#" class="inline-flex items-center h-8 px-3 text-sm font-medium interactive-bg-surface-container rounded-full">
                  <%= tag.name %>
                </a>
              <% end %>
            </div>
          <% end %>

          <div class="sticky flex justify-center px-4 mt-8 bottom-24 md:bottom-4 pb-safe">
            <div class="flex gap-2 p-1 bg-surface-container rounded-full shadow-md">
              <%= render "account/posts/likes/button", post: @post %>

              <div class="inline-flex items-center">
                <a href="<%= account_post_comments_path(@account.name, @post, comment: true) %>" class="icon-button">
                  <x-icon>mode_comment</x-icon>
                </a>
                <% if @post.comments_count > 0 %>
                  <span class="text-on-surface-variant tabular-nums px-1"><%= @post.comments_count %></span>
                <% end %>
              </div>

              <%= render "account/posts/bookmarks/button", post: @post %>
            </div>
          </div>

        </div>
      </div>
    </div>

    <%
      hot_comments = @post.comments.includes(:user).where("likes_count > 5").order(likes_count: :desc, created_at: :desc).limit(3)
      hot_comments_count = @post.comments.where("likes_count > 5").count
    %>

    <% if hot_comments_count > 0 %>
      <div class="card mt-4">
        <div class="flex items-center h-14 px-4 border-b border-outline-variant">
          <div class="text-lg font-medium">
            <%= t "general.hot_comments" %>
          </div>
        </div>

        <div id="comments_list">
          <%= render partial: "account/comments/comment", collection: hot_comments, cached: -> comment { [ comment.user, comment ]} %>

          <% if hot_comments_count > 3 %>
            <div class="p-4 text-center">
              <a href="<%= account_post_comments_path(@account.name, @post, sort: "likes", anchor: "comments") %>" class="button button--text text-on-surface-variant w-full">
                <%= t "general.view_all_hot_comments" %> <%= hot_comments_count %>
              </a>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>

    <div class="card mt-4">
      <div class="flex items-center h-14 px-4 border-b border-outline-variant">
        <div class="text-lg font-medium">
          <%= t "general.new_comment" %>
        </div>
      </div>

      <% if Current.user %>
        <%= render "account/comments/form", comment: Current.user.comments.new(commentable: @post), open: params[:comment].present? %>
      <% else %>
        <div class="p-4">
          <a href="<%= sign_in_path %>" class="button button--outlined">
            <%= t "general.sign_in_to_comment" %>
          </a>
        </div>
      <% end %>
    </div>

    <%
      last_comments = @post.comments.includes(:user).order(created_at: :desc).limit(3)
    %>

    <div class="card mt-4">
      <div class="flex items-center gap-4 h-14 px-4 border-b border-outline-variant">
        <div class="flex-grow text-lg font-medium">
          <%= t "general.all_comments" %> <%= @post.comments_count %>
        </div>

        <div class="menu">
          <label tabindex="0" class="button button--text text-on-surface-variant">
            <x-icon>sort</x-icon>
            <span>
              <%= t("general.newest") %>
            </span>
          </label>
          <div class="menu__content top-full right-0 origin-top-right">
            <a href="<%= account_post_comments_path(post_id: @post.id, sort: nil, anchor: "comments") %>" class="menu__item">
              <%= t "general.newest" %>
            </a>
            <a href="<%= account_post_comments_path(post_id: @post.id, sort: "oldest", anchor: "comments") %>" class="menu__item">
              <%= t "general.oldest" %>
            </a>
            <a href="<%= account_post_comments_path(post_id: @post.id, sort: "likes", anchor: "comments") %>" class="menu__item">
              <%= t "general.most_likes" %>
            </a>
          </div>
        </div>
      </div>

      <div id="comments_list">
        <%= render partial: "account/comments/comment", collection: last_comments, cached: -> comment { [ comment.user, comment ]} %>

        <% if @post.comments_count > 3 %>
          <div class="p-4 text-center">
            <a href="<%= account_post_comments_path(@account.name, @post, anchor: "comments") %>" class="button button--text text-on-surface-variant w-full">
              <%= t "general.view_all_comments" %> <%= @post.comments_count %>
            </a>
          </div>

        <% end %>
      </div>
    </div>

  </div>

  <div class="">

    <div class="flex flex-col gap-4">
      <% if @post.account != @post.user.account %>
        <div class="card">
          <%= render "account/item", account: @post.account %>
        </div>
      <% end %>

      <%= render "account/profile_card", account: @post.user.account %>

      <div class="card">
        <div class="text-lg font-medium p-4">
          <%= t "general.more_from", name: @account.display_name %>
        </div>
        <div class="mb-3">
          <% @post.user.posts.published.order(published_at: :desc).where.not(id: @post.id).limit(3).each do |post| %>
            <a href="<%= account_post_path(post.account.name, post) %>" class="flex p-4 interactive-bg-surface-container-lowest">
              <%= post.title.presence || t("general.untitled") %>
            </a>
          <% end %>
        </div>
      </div>
    </div>

  </div>
</div>
