<% @page_title = @post.title %>

<% content_for :head do %>
  <meta property="og:type" content="article">
  <meta property="og:title" content="<%= @post.title %>">
  <meta property="og:url" content="<%= account_post_url(@account, @post) %>">
  <meta property="og:description" content="<%= post_summary @post %>">
  <% if @post.featured_image.attached? %>
    <meta property="og:image" content="<%= featured_image_url @post.featured_image %>">
  <% end %>

  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:title" content="<%= @post.title %>">
  <meta name="twitter:description" content="<%= post_summary @post %>">
  <% if @post.featured_image.attached? %>
    <meta name="twitter:image" content="<%= featured_image_url @post.featured_image %>">
  <% end %>

  <link rel="canonical" href="<%= @post.canonical_url || account_post_url(@account, @post) %>">
<% end %>

<div class="">
  <div class="container">
    <div class="layout">
      <div class="navbar display-none display-block@tablet">
        <%= render 'account/profile_card', account: @account %>
      </div>

      <div class="main">
        <% if @post.draft? %>
          <div class="card card--filled padding-3 margin-bottom-3">
            <div class="title-medium">
              <%= t 'common.unpublished_post' %>
              <a href="<%= edit_account_dashboard_post_path(@post.account, @post) %>">
                <%= t 'common.continute_editing' %>
              </a>
            </div>
          </div>
        <% end %>

        <div class="card card--surface padding-3">
          <div class="display-flex margin-bottom-3">
            <h1 class="headline-medium margin-0 flex-grow-1">
              <%= @post.title.presence || t('common.untitled') %>
            </h1>

            <div class="flex-shrink-0" data-visible-to-user="<%= @post.user.id %>">
              <div class="dropdown dropdown--right">
                <label tabindex="0" class="button button--icon">
                  <span class="material-icons">more_horiz</span>
                </label>

                <div tabindex="0" class="dropdown__container">
                  <a href="<%= edit_account_dashboard_post_path(@account, @post) %>" class="dropdown__item">
                    <%= t 'common.edit' %>
                  </a>
                </div>
              </div>
            </div>
          </div>

          <div class="display-flex align-items-center flex-wrap gap-2 margin-y-3">
            <a href="<%= account_root_path(@post.user.account) %>" class="link-title">
              <div class="display-flex gap-2 align-items-center">
                <div class="avatar">
                  <%= avatar_image_tag @post.user.avatar %>
                </div>
                <div class="">
                  <b><%= @post.user.name %></b>
                </div>
              </div>
            </a>

            <% if @post.published_at %>
              &centerdot;
              <div class="text-muted">
                <%= format_time @post.published_at %>
              </div>
            <% end %>

            <% if @post.canonical_url %>
              &centerdot;
              <div class="text-muted">
                <%= t 'common.originally_published_at' %> <%= link_to_canonical_url @post.canonical_url %>
              </div>
            <% end %>
          </div>

          <% if @post.featured_image.attached? %>
            <div class="feature-image">
              <%= featured_image_tag @post.featured_image %>
            </div>
          <% end %>

          <div class="typography margin-bottom-3">
            <%= markdown_render @post.content %>
          </div>

          <% if @post.tags.any? %>
            <div class="display-flex flex-wrap gap-2 margin-bottom-3">
              <% @post.tags.each do |tag| %>
                <a href="<%= tag_path(id: tag.name) %>" class="chip chip--assist">
                  <%= tag.name %>
                </a>
              <% end %>
            </div>
          <% end %>

          <div class="display-flex gap-1">
            <%= render 'account/posts/likes/button', post: @post %>

            <%= render 'account/posts/collections/button', post: @post %>
          </div>
        </div>

        <div class="title-medium padding-3">
          <%= t 'common.comments' %>
        </div>

        <div id="reply" class="margin-bottom-3">
          <% if @post.allow_comments? %>
            <% if current_user %>
              <%= render 'account/posts/comments/form', comment: Comment.new %>
            <% else %>
              <a href="<%= sign_in_path(return_to: url_for()) %>" class="button button--filled">
                <%= t 'common.sign_in_to_comment' %>
              </a>
            <% end %>
          <% else %>
            <div class="padding-3 text-muted text-align-center">
              <%= t 'common.comment_is_disabled' %>
            </div>
          <% end %>
        </div>

        <div id="comments" class="display-flex flex-direction-column gap-3 margin-bottom-3" data-liked-ids="<%= "[#{@comments.filter(&:liked).map(&:id).join(',')}]" %>">
          <%= render partial: 'account/posts/comments/comment', collection: @comments, cached: true %>
        </div>

        <% if @post.comments_count > 3 %>
          <a href="<%= account_post_comments_path(@account, @post) %>" class="button button--text width-100 justify-content-center">
            <%= t 'common.show_all_comments' %> (<%= @post.comments_count %>)
          </a>
        <% end %>
      </div>

      <div class="sidebar">
        <div class="card card--surface">
          <div class="title-medium padding-x-3 padding-top-3 padding-bottom-2">
            <%= t 'common.more_from', name: @account.name %>
          </div>
          <div class="padding-bottom-2">
            <% @account.posts.published.order(created_at: :desc).where.not(id: @post.id).limit(3).each do |post| %>
              <a href="<%= account_post_path(@account, post) %>" class="link-block padding-3">
                <div class="">
                  <%= post.title.presence || t('common.untitled') %>
                </div>
              </a>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
