<% @page_title = @post.title %>

<% content_for :head do %>
  <meta property="og:type" content="article">
  <meta property="og:title" content="<%= @post.title %>">
  <meta property="og:url" content="<%= account_post_url(@account, @post) %>">
  <meta property="og:description" content="<%= post_summary @post %>">
  <% if @post.featured_image.attached? %>
    <meta property="og:image" content="<%= featured_image_url @post.featured_image %>">
  <% end %>

  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:title" content="<%= @post.title %>">
  <meta name="twitter:description" content="<%= post_summary @post %>">
  <% if @post.featured_image.attached? %>
    <meta name="twitter:image" content="<%= featured_image_url @post.featured_image %>">
  <% end %>

  <link rel="canonical" href="<%= @post.canonical_url || account_post_url(@account, @post) %>">
<% end %>

<div class="background-surface">
  <div class="container">
    <div class="post">
      <div class="post__header">
        <h1 class="display-small margin-y-4"><%= @revision.title %></h1>

        <div class="display-flex align-items-center gap-2 margin-y-3">
          <div class="display-flex align-items-center gap-2">
            <div class="avatar">
              <%= avatar_image_tag @post.account.owner.avatar %>
            </div>
            <div class="title-medium">
              <%= @post.account.owner.name %>
            </div>
          </div>

          <% if @post.account.organization? %>
            <% @post.author_users.each do |user| %>
              <div class="display-flex align-items-center gap-2">
                <div class="avatar">
                  <%= avatar_image_tag @user.avatar %>
                </div>
                <div class="title-medium">
                  <%= user.name %>
                </div>
              </div>
            <% end %>
          <% end %>


          <% if @post.published_at %>
            &centerdot;
            <div class="text-muted">
              <%= format_time @post.published_at %>
            </div>
          <% end %>

          <% if @post.canonical_url %>
            &centerdot;
            <div class="text-muted">
              <%= t 'common.originally_published_at' %> <%= link_to_canonical_url @post.canonical_url %>
            </div>
          <% end %>
        </div>

        <% if @post.featured_image.attached? %>
          <div class="post__feature-image">
            <%= featured_image_tag @post.featured_image %>
          </div>
        <% end %>
      </div>
      <div class="post__main">
        <div class="typography">
          <%= markdown_render @revision.content %>
        </div>

        <% if @post.tags.any? %>
          <div class="post__tags margin-y-4">
            <% @post.tags.each do |tag| %>
              <a href="<%= tag_path(id: tag.name) %>" class="chip chip--assist">
                <%= tag.name %>
              </a>
            <% end %>
          </div>
        <% end %>

        <div class="margin-y-4 padding-y-4 border-top border-bottom">
          <div class="display-flex flex-direction-column gap-3">
            <%= render 'account/follows/account', account: @post.account %>

            <% if @post.account.organization? %>
              <% @post.author_users.each do |user| %>
                <%= render 'account/follows/account', account: user.account %>
              <% end %>
            <% end %>
          </div>
        </div>

      </div>
      <div class="post__left-sidebar">
      </div>
      <div class="post__right-sidebar">
        <div class="position-sticky top-3">
          <div class="display-flex flex-direction-column align-items-flex-start gap-3">
            <%= render 'account/posts/likes/button', post: @post %>

            <div class="display-flex align-items-center gap-1">
              <a href="#post-comments" class="button button--icon">
                <span class="material-icons">comment</span>
              </a>
              <span><%= @post.comments_count %></span>
            </div>

            <div class="visible-to-user">
              <%= render 'account/posts/collections/button', post: @post %>
            </div>

            <% if current_member %>
              <% if current_member.can_edit_post?(@post) %>
                <div class="">
                  <div class="dropdown" data-controller="dropdown">
                    <button type="button" class="button button--icon" data-action="dropdown#toggle">
                      <span class="material-icons">more_vert</span>
                    </button>
                    <div class="dropdown__container dropdown__container--top-right">
                      <a href="<%= edit_account_dashboard_post_path(@account, @post) %>" class="dropdown__item">
                        <div class="dropdown__item__icon">
                          <span class="material-icons">edit</span>
                        </div>
                        <div class="dropdown__item__text">
                          <%= t 'common.edit' %>
                        </div>
                      </a>
                    </div>
                  </div>
                </div>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>

      <div id="post-comments" class="post__comments">
        <div class="title-large">
          <%= t 'common.comments' %> <%= @post.comments_count %>
        </div>

        <% if @post.allow_comments? %>
          <div class="margin-y-3">
            <% if current_user %>
              <%= render 'account/posts/comments/form', comment: Comment.new %>
            <% else %>
              <a href="<%= sign_in_path(return_to: url_for()) %>" class="button button--filled">
                <%= t 'common.sign_in_to_comment' %>
              </a>
            <% end %>
          </div>

          <div id="comments" class="comments">
            <%= render partial: 'account/posts/comments/comment', collection: @post.comments.with_liked(current_user).order(created_at: :desc).limit(3), cached: -> (comment) { [comment, comment.liked] } %>
          </div>
          <% if @post.comments_count > 3 %>
            <div class="margin-y-3">
              <a href="<%= account_post_comments_path(@account, @post) %>" class="button button--outlined width-100 justify-content-center">
                <%= t 'common.show_all_comments' %>
              </a>
            </div>
          <% end %>
        <% else %>
          <div class="padding-3 text-muted text-align-center">
            <%= t 'common.comment_is_disabled' %>
          </div>
        <% end %>
      </div>
    </div>

  </div>
</div>
