<div class="post-container">
  <div class="post">
    <% if @post.featured_image.attached? %>
      <div class="post__feature-image">
        <%= image_tag @post.featured_image %>
      </div>
    <% end %>
    <h1 class="post__title"><%= @post.title %></h1>

    <div class="toolbar toolbar--breakout">
      <div class="toolbar__text">
        <div class="post-meta">
          <a href="<%= account_root_path(@post.author.account) %>" class="link-author margin-right-8">
            <div class="avatar avatar--small margin-right-8">
              <%= avatar_image_tag @post.author.avatar %>
            </div>
            <div class="text-primary text-small text-bold">
              <%= @post.author.name %>
            </div>
          </a>
          <% if @post.account != @post.author.account %>
            <span class="margin-right-8">
              for
            </span>
            <a href="<%= account_root_path(@post.account) %>" class="link-text margin-right-8">
              <div class="text-small text-bold">
                <%= @post.account.owner.name %>
              </div>
            </a>
          <% end %>
          <span class="text-secondary">
            <%= l @post.created_at, format: :short %>
          </span>
        </div>
      </div>
      <div class="toolbar__space">
      </div>
      <div class="toolbar__action">
        <button type="button" class="button button--icon">
          <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#000000"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M18 16.08c-.76 0-1.44.3-1.96.77L8.91 12.7c.05-.23.09-.46.09-.7s-.04-.47-.09-.7l7.05-4.11c.54.5 1.25.81 2.04.81 1.66 0 3-1.34 3-3s-1.34-3-3-3-3 1.34-3 3c0 .24.04.47.09.7L8.04 9.81C7.5 9.31 6.79 9 6 9c-1.66 0-3 1.34-3 3s1.34 3 3 3c.79 0 1.5-.31 2.04-.81l7.12 4.16c-.05.21-.08.43-.08.65 0 1.61 1.31 2.92 2.92 2.92s2.92-1.31 2.92-2.92c0-1.61-1.31-2.92-2.92-2.92zM18 4c.55 0 1 .45 1 1s-.45 1-1 1-1-.45-1-1 .45-1 1-1zM6 13c-.55 0-1-.45-1-1s.45-1 1-1 1 .45 1 1-.45 1-1 1zm12 7.02c-.55 0-1-.45-1-1s.45-1 1-1 1 .45 1 1-.45 1-1 1z"/></svg>
        </button>
      </div>
      <div class="toolbar__action">
        <%= render 'account/posts/collections/button', post: @post %>
      </div>
      <div class="toolbar__action">
        <button type="button" class="button button--icon">
          <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#000000"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M6 10c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm12 0c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm-6 0c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2z"/></svg>
        </button>
      </div>
    </div>

    <div class="post__content typography">
      <%= markdown_render @post.content %>
    </div>

    <div class="toolbar toolbar--breakout">
      <div class="toolbar__action">
        <%= render 'account/posts/likes/button', post: @post %>
      </div>
      <div class="toolbar__action">
        <button type="button" class="button button--text">
          <div class="button__icon">
            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#000000"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M21.99 4c0-1.1-.89-2-1.99-2H4c-1.1 0-2 .9-2 2v12c0 1.1.9 2 2 2h14l4 4-.01-18zM20 4v13.17L18.83 16H4V4h16zM6 12h12v2H6zm0-3h12v2H6zm0-3h12v2H6z"/></svg>
          </div>
          <div class="button__text">
            0 comments
          </div>
        </button>
      </div>
      <div class="toolbar__space">
      </div>
      <div class="toolbar__action">
        <button type="button" class="button button--icon">
          <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#000000"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M18 16.08c-.76 0-1.44.3-1.96.77L8.91 12.7c.05-.23.09-.46.09-.7s-.04-.47-.09-.7l7.05-4.11c.54.5 1.25.81 2.04.81 1.66 0 3-1.34 3-3s-1.34-3-3-3-3 1.34-3 3c0 .24.04.47.09.7L8.04 9.81C7.5 9.31 6.79 9 6 9c-1.66 0-3 1.34-3 3s1.34 3 3 3c.79 0 1.5-.31 2.04-.81l7.12 4.16c-.05.21-.08.43-.08.65 0 1.61 1.31 2.92 2.92 2.92s2.92-1.31 2.92-2.92c0-1.61-1.31-2.92-2.92-2.92zM18 4c.55 0 1 .45 1 1s-.45 1-1 1-1-.45-1-1 .45-1 1-1zM6 13c-.55 0-1-.45-1-1s.45-1 1-1 1 .45 1 1-.45 1-1 1zm12 7.02c-.55 0-1-.45-1-1s.45-1 1-1 1 .45 1 1-.45 1-1 1z"/></svg>
        </button>
      </div>
      <div class="toolbar__action">
        <%= render 'account/posts/collections/button', post: @post %>
      </div>
      <div class="toolbar__action">
        <button type="button" class="button button--icon">
          <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#000000"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M6 10c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm12 0c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm-6 0c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2z"/></svg>
        </button>
      </div>
    </div>
  </div>

  <hr class="divider">

  <div class="list list--breakout">
    <div class="list__item">
      <div class="list__avatar">
        <div class="avatar">
          <%= avatar_image_tag @post.author.avatar %>
        </div>
      </div>
      <div class="list__content">
        <div class="text-primary text-bold">
          <%= @post.author.name %>
        </div>
        <div class="text-secondary">
          <%= @post.author.bio %>
        </div>
      </div>
      <div class="list__action">
        <button type="button" class="button button--outlined">
          Follow
        </button>
      </div>
    </div>
    <% if @post.account.organization? %>
      <div class="list__item">
        <div class="list__avatar">
          <div class="avatar">
            <%= avatar_image_tag @post.account.owner.avatar %>
          </div>
        </div>
        <div class="list__content">
          <div class="text-primary text-bold">
            <%= @post.account.owner.name %>
          </div>
          <div class="text-secondary">
            <%= @post.account.owner.description %>
          </div>
        </div>
        <div class="list__action">
          <button type="button" class="button button--outlined">
            Follow
          </button>
        </div>
      </div>
    <% end %>
  </div>
</div>
