<% @page_title = @post.title %>

<% content_for :head do %>
  <meta property="og:type" content="article">
  <meta property="og:title" content="<%= @post.title %>">
  <meta property="og:url" content="<%= account_post_url(@account, @post) %>">
  <meta property="og:description" content="<%= post_summary @post %>">
  <% if @post.featured_image.attached? %>
    <meta property="og:image" content="<%= featured_image_url @post.featured_image %>">
  <% end %>

  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:title" content="<%= @post.title %>">
  <meta name="twitter:description" content="<%= post_summary @post %>">
  <% if @post.featured_image.attached? %>
    <meta name="twitter:image" content="<%= featured_image_url @post.featured_image %>">
  <% end %>
<% end %>

<div class="container container--post">
  <div class="post">
    <% if @post.featured_image.attached? %>
      <div class="post__feature-image">
        <%= featured_image_tag @post.featured_image %>
      </div>
    <% end %>
    <h1 class="post__title"><%= @post.title %></h1>

    <div class="toolbar toolbar--breakout">
      <div class="toobar__author">
        <div class="flex">
          <div class="avatar-group margin-right">
            <div class="avatar">
              <%= avatar_image_tag @post.account.owner.avatar %>
            </div>
            <% if @post.account.organization? && @post.author_users.any? %>
              <% @post.author_users.each do |user| %>
                <div class="avatar">
                  <%= avatar_image_tag user.avatar %>
                </div>
              <% end %>
            <% end %>
          </div>
          <div>
            <div class="text-primary">
              <a href="<%= account_root_path(@post.account) %>" class="link-text text-bold"><%= @post.account.owner.name %></a>
              <% if @post.account.organization? && @post.author_users.any? %>
                by
                <% @post.author_users.each do |user| %>
                  <a href="<%= account_root_path(user.account) %>" class="link-text text-bold"><%= user.name %></a>
                <% end %>
              <% end %>
            </div>
            <div class="text-secondary">
              <% if @post.published_at %>
                <%= local_time @post.published_at, format: :short %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
      <div class="toolbar__space">
      </div>
      <div class="toolbar__action">
        <%= render 'account/posts/share_button', post: @post %>
      </div>
      <div class="toolbar__action">
        <%= render 'account/posts/bookmarks/button', post: @post %>
      </div>
      <% if current_member %>
        <% if current_member.can_edit_post?(@post) %>
          <div class="toolbar__action">
            <div class="dropdown" data-controller="dropdown">
              <button type="button" class="button button--icon" data-action="dropdown#toggle">
                <span class="material-icons">more_horiz</span>
              </button>
              <div class="dropdown__menu dropdown__menu--top-right">
                    <a href="<%= edit_account_dashboard_post_path(@account, @post) %>" class="dropdown__item">
                      <div class="dropdown__item__icon">
                        <span class="material-icons">edit</span>
                      </div>
                      <div class="dropdown__item__text">
                        <%= t 'common.edit' %>
                      </div>
                    </a>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>

    <div class="post__content typography">
      <%= markdown_render @post.content %>
    </div>

    <% if @post.tags.any? %>
      <div class="post__tags">
        <% @post.tags.each do |tag| %>
          <a href="<%= account_tag_path(@account, id: tag.name) %>" class="chip">
            <%= tag.name %>
          </a>
        <% end %>
      </div>
    <% end %>

    <div class="toolbar toolbar--breakout">
      <div class="toolbar__action">
        <%= render 'account/posts/likes/button', post: @post %>
      </div>
      <div class="toolbar__space">
      </div>
      <div class="toolbar__action">
        <%= render 'account/posts/share_button', post: @post %>
      </div>
      <div class="toolbar__action">
        <%= render 'account/posts/bookmarks/button', post: @post %>
      </div>
      <% if current_member %>
        <% if current_member.can_edit_post?(@post) %>
          <div class="toolbar__action">
            <div class="dropdown" data-controller="dropdown">
              <button type="button" class="button button--icon" data-action="dropdown#toggle">
                <span class="material-icons">more_horiz</span>
              </button>
              <div class="dropdown__menu dropdown__menu--top-right">
                    <a href="<%= edit_account_dashboard_post_path(@account, @post) %>" class="dropdown__item">
                      <div class="dropdown__item__icon">
                        <span class="material-icons">edit</span>
                      </div>
                      <div class="dropdown__item__text">
                        <%= t 'common.edit' %>
                      </div>
                    </a>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>

  <hr class="divider margin-x">

  <div class="list">
    <div class="list__item">
      <div class="list__avatar">
        <a href="<%= account_root_path(@post.account) %>" class="link-text">
          <div class="avatar">
            <%= avatar_image_tag @post.account.owner.avatar %>
          </div>
        </a>
      </div>
      <div class="list__content">
        <a href="<%= account_root_path(@post.account) %>" class="link-text text-primary text-bold">
          <%= @post.account.owner.name %>
        </a>
        <div class="text-secondary">
          <% if @post.account.user? %>
            <%= @post.account.owner.bio %>
          <% else %>
            <%= @post.account.owner.description %>
          <% end %>
        </div>
      </div>
      <% if current_user && @post.account != current_user.account %>
        <div class="list__action">
          <%= render 'account/follows/button', account: @post.account %>
        </div>
      <% end %>
    </div>
    <% if @post.account.organization? %>
      <% @post.author_users.each do |user| %>
        <div class="list__item">
          <div class="list__avatar">
            <a href="<%= account_root_path(user.account) %>" class="link-text">
              <%= avatar_image_tag user.avatar %>
            </a>
          </div>
          <div class="list__content">
            <a href="<%= account_root_path(user.account) %>" class="link-text text-primary text-bold">
              <%= user.name %>
            </a>
            <div class="text-secondary">
              <%= user.bio %>
            </div>
          </div>
          <% if user != current_user %>
            <div class="list__action">
              <%= render 'account/follows/button', account: user.account %>
            </div>
          <% end %>
        </div>
      <% end %>
    <% end %>
  </div>

  <hr class="divider margin-x">

  <% if @post.allow_comments? %>
    <h4 class="padding-x">
      <%= t 'common.comments' %> (<%= @post.comments_count %>)
    </h4>

    <% if current_user %>
      <%= render 'account/posts/comments/form', comment: Comment.new %>
    <% else %>
      <div class="padding">
        <a href="<%= sign_in_path(return_to: url_for()) %>" class="button button--contained button--primary" data-turbo-frame="_top">Sign in to comment</a>
      </div>
    <% end %>
    <hr class="divider margin-x">
    <div id="comments" class="comments">
      <%= render partial: 'account/posts/comments/comment', collection: @post.comments.no_parent.with_liked(current_user).hot.limit(3), cached: -> (comment) { [comment, comment.liked] } %>
    </div>
    <div class="padding">
      <a href="<%= account_post_comments_path(@account, @post) %>" class="button button--text width-100">
        <div class="button__text">
          <%= t 'common.view_all' %>
        </div>
        <div class="button__icon">
          <span class="material-icons">expand_more</span>
        </div>
      </a>
    </div>
  <% else %>
    <div class="padding text-muted text-align-center">
      Comment is disabled.
    </div>
  <% end %>
</div>
