<div class="container container--post">
  <div class="post">
    <% if @post.featured_image.attached? %>
      <div class="post__feature-image">
        <%= image_tag @post.featured_image %>
      </div>
    <% end %>
    <h1 class="post__title"><%= @post.title %></h1>

    <div class="toolbar toolbar--breakout">
      <div class="toobar__author">
        <div class="flex">
          <div class="avatar margin-right">
            <%= avatar_image_tag @post.author.avatar %>
          </div>
          <div>
            <div class="text-primary">
              <a href="<%= account_root_path(@post.author.account) %>" class="link-text text-bold"><%= @post.author.name %></a>
              <% if @post.account != @post.author.account %>
                for
                <a href="<%= account_root_path(@post.account) %>" class="link-text text-bold"><%= @post.account.owner.name %></a>
              <% end %>
            </div>
            <div class="text-secondary">
              <%= local_time @post.created_at, format: :short %>
            </div>
          </div>
        </div>
      </div>
      <div class="toolbar__space">
      </div>
      <div class="toolbar__action">
        <%= render 'account/posts/share_button', post: @post %>
      </div>
      <div class="toolbar__action">
        <%= render 'account/posts/bookmarks/button', post: @post %>
      </div>
      <div class="toolbar__action">
        <button type="button" class="button button--icon">
          <span class="material-icons">more_horiz</span>
        </button>
      </div>
    </div>

    <div class="post__content typography">
      <%= markdown_render @post.content %>
    </div>

    <div class="toolbar toolbar--breakout">
      <div class="toolbar__action">
        <%= render 'account/posts/likes/button', post: @post %>
      </div>
      <div class="toolbar__space">
      </div>
      <div class="toolbar__action">
        <%= render 'account/posts/share_button', post: @post %>
      </div>
      <div class="toolbar__action">
        <%= render 'account/posts/bookmarks/button', post: @post, suffix: '-bottom' %>
      </div>
      <div class="toolbar__action">
        <button type="button" class="button button--icon">
          <span class="material-icons">more_horiz</span>
        </button>
      </div>
    </div>
  </div>

  <hr class="divider margin-x">

  <div class="list">
    <div class="list__item">
      <div class="list__avatar">
        <a href="<%= account_root_path(@post.author.account) %>" class="link-text">
          <div class="avatar">
            <%= avatar_image_tag @post.author.avatar %>
          </div>
        </a>
      </div>
      <div class="list__content">
        <a href="<%= account_root_path(@post.author.account) %>" class="link-text text-primary text-bold">
          <%= @post.author.name %>
        </a>
        <div class="text-secondary">
          <%= @post.author.bio %>
        </div>
      </div>
      <% if @post.author != current_user %>
        <div class="list__action">
          <%= render 'account/follows/button', account: @post.author.account %>
        </div>
      <% end %>
    </div>
    <% if @post.account.organization? %>
      <div class="list__item">
        <div class="list__avatar">
          <a href="<%= account_root_path(@post.account) %>" class="link-text">
            <%= avatar_image_tag @post.account.owner.avatar %>
          </a>
        </div>
        <div class="list__content">
          <a href="<%= account_root_path(@post.account) %>" class="link-text text-primary text-bold">
            <%= @post.account.owner.name %>
          </a>
          <div class="text-secondary">
            <%= @post.account.owner.description %>
          </div>
        </div>
        <div class="list__action">
          <%= render 'account/follows/button', account: @post.account %>
        </div>
      </div>
    <% end %>
  </div>

  <hr class="divider margin-x">

  <h4 class="padding-x">
    Comments (<%= @post.comments_count %>)
  </h4>

  <% if current_user %>
    <%= render 'account/posts/comments/form', comment: Comment.new %>
  <% else %>
    <div class="padding">
      <a href="<%= sign_in_path(return_to: url_for()) %>" class="button button--contained button--primary" data-turbo-frame="_top">Sign in to comment</a>
    </div>
  <% end %>
  <hr class="divider margin-x">
  <div id="comments" class="comments">
    <%= render partial: 'account/posts/comments/comment', collection: @post.comments.order(likes_count: :desc).limit(3) %>
  </div>
  <div class="margin-y">
    <a href="<%= account_post_comments_path(@account, @post) %>" class="button button--text width-100">
      <div class="button__text">
        Show all comments
      </div>
      <div class="button__icon">
        <span class="material-icons">expand_more</span>
      </div>
    </a>
  </div>
</div>
