<%# locals: (form:, name:, label: nil, description: nil, options: {}) %>

<%
  error ||= form.object && form.object.errors[name].first
%>

<fieldset class="fieldset">
  <legend class="fieldset-legend">
    <%= form.label name %>
  </legend>

  <div class="group/image-field <%= 'attached' if form.object.send(name).attached? %>" data-controller="image-field">
    <div class="hidden">
      <%= form.file_field name, options.merge( direct_upload: true, data: { image_field_target: "input", action: "image-field#preview" }) %>
      <input type="checkbox" name="<%= form.field_name name %>" value="" id="<%= form.field_id(name, :remove) %>" data-image-field-target="removeInput" data-action="image-field#remove">
    </div>
    <div class="relative w-32 h-32">
      <div class="absolute inset-0 [&>img]:object-cover [&>img]:h-full [&>img]:w-full [&>img]:rounded-full" data-image-field-target="preview">
        <% if form.object.send(name).attached? %>
          <%= image_tag form.object.send(name) %>
        <% end %>
      </div>

      <label for="<%= form.field_id name %>" class="absolute inset-0 flex flex-col items-center justify-center gap-2 group-[.attached]/image-field:hidden rounded-full border-2 border-dashed border-base-300 cursor-pointer">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-image-plus-icon lucide-image-plus"><path d="M16 5h6"/><path d="M19 2v6"/><path d="M21 11.5V19a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h7.5"/><path d="m21 15-3.086-3.086a2 2 0 0 0-2.828 0L6 21"/><circle cx="9" cy="9" r="2"/></svg>
      </label>

      <div class="absolute top-2 right-2 items-center gap-2 hidden group-[.attached]/image-field:flex">
        <div class="bg-surface-variant rounded-full">
          <label for="<%= form.field_id name %>" class="btn btn-soft btn-circle">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-image-plus-icon lucide-image-plus"><path d="M16 5h6"/><path d="M19 2v6"/><path d="M21 11.5V19a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h7.5"/><path d="m21 15-3.086-3.086a2 2 0 0 0-2.828 0L6 21"/><circle cx="9" cy="9" r="2"/></svg>
          </label>
        </div>
      </div>
    </div>
  </div>

  <% if error %>
    <p class="label text-error">
      <%= error %>
    </p>
  <% elsif description %>
    <p class="label">
      <%= description %>
    </p>
  <% end %>
</fieldset>
