<%# locals: (form:, name:, label: nil, options: {}) %>

<%
  error ||= form.object && form.object.errors[name].first
%>

<div>
  <div class="group/image-field <%= 'attached' if form.object.send(name).attached? %>" data-controller="image-field">
    <%= form.file_field name, class: "hidden", direct_upload: true, data: { image_field_target: "input", action: "image-field#preview" } %>
    <%= form.check_box "remove_#{name}", class: "hidden", data: { image_field_target: "removeInput", action: "image-field#remove" } %>
    <%= yield %>
  </div>
  <% if error %>
    <div class="mt-2 text-sm text-error">
      <%= error %>
    </div>
  <% end %>
</div>
