<%# locals: (url:, icon:, label:, active: false, badge: nil) %>

<a href="<%= url %>" class="navigation-rail__item <%= "navigation-rail__item--active" if active %>">
  <div class="navigation-rail__item__icon">
    <% if active %>
      <x-icon fill><%= icon %></x-icon>
    <% else %>
      <x-icon><%= icon %></x-icon>
    <% end %>
  </div>
  <div class="navigation-rail__item__label">
    <%= label %>
  </div>
  <% if badge && badge > 0 %>
    <div class="navigation-rail__item__badge">
      <%= badge > 99 ? "99+" : badge %>
    </div>
  <% end %>
</a>
