<%# locals: (icon: nil, label: nil, tag: :a, options: {}, active: false) %>

<%
  height = (icon && label) ? "h-16" : "h-12"
%>

<%= content_tag tag, options.merge(class: "flex-grow flex justify-center px-4 cursor-pointer select-none interactive-bg-surface") do %>
  <div class="relative flex flex-col items-center justify-center <%= height %> <%= 'text-primary' if active %>">
    <% if icon %>
      <div class="icon w-6 h-6">
        <%= material_icon icon %>
      </div>
    <% end %>
    <% if label %>
      <div class="text-sm">
        <%= label %>
      </div>
    <% end %>
    <% if active %>
      <div class="absolute left-0 right-0 bottom-0 h-[3px] bg-primary rounded-t"></div>
    <% end %>
  </div>
<% end %>
