<%# locals: (pagy:, content_html: {}) %>

<div id="scroll-pagination" data-controller="scroll-pagination">
  <%= content_tag :div, **{ id: "scroll-pagination-content", class: "", data: { scroll_pagination_target: "content" } }.deep_merge(content_html) do %>
    <%= yield %>
  <% end %>

  <div id="scroll-pagination-info" class="p-4" data-scroll-pagination-target="next">
    <% if pagy.next %>
      <div class="text-center">
        <a href="<%= pagy_url_for(pagy, pagy.next) %>" class="button button--text" data-scroll-pagination-target="nextLink">
          <%= t "general.load_more" %>
        </a>
      </div>
    <% else %>
      <div class="text-center text-xs opacity-60">
        <%= t "general.end_label" %>
      </div>
    <% end %>
  </div>
</div>
