<%# locals: (form:, name:, type: :text_field, prefix: nil, suffix: nil, error: nil, label: nil, description: nil, options: {}) %>

<%
  error ||= form.object && form.object.errors[name].first
%>

<fieldset class="fieldset">
  <legend class="fieldset-legend">
    <%= form.label name %>
  </legend>

  <label class="input w-full <%= "input-error" if error %>">
    <% if prefix %>
      <span class="label">
        <%= prefix %>
      </span>
    <% end %>
    <%= form.text_field name, options %>
    <% if suffix %>
      <span class="label">
        <%= suffix %>
      </span>
    <% end %>
  </label>

  <% if error %>
    <p class="label text-error">
      <%= error %>
    </p>
  <% elsif description %>
    <p class="label">
      <%= description %>
    </p>
  <% end %>
</fieldset>
