<div class="">
  <div class="card">
    <div class="flex items-center h-14 px-2 gap-2">
      <a href="<%= admin_account_path(@account) %>" class="icon-button">
        <%= material_icon :arrow_back %>
      </a>
      <div class="flex-grow text-lg font-medium px-2">
        Edit account #<%= @account.id %>
      </div>
    </div>

    <div class="p-4">
      <%= form_with model: @account, url: admin_account_path(@account.id) do |form| %>
        <div class="form-field">
          <%= form.label :name, class: "form-label" %>
          <%= render "components/text_field", form: form, name: :name %>
        </div>

        <div class="form-field">
          <%= form.label :feed_url, class: "form-label" %>
          <%= render "components/text_field", form: form, name: :feed_url %>
        </div>

        <div class="form-field">
          <%= render "components/checkbox_field", form: form, name: :feed_mark_canonical %>
        </div>

        <div class="form-field">
          <button type="submit" class="filled-button">
            <%= t 'common.save_changes' %>
          </button>
        </div>
      <% end %>
    </div>
  </div>
</div>
