<div class="top-app-bar">
  <a href="<%= admin_account_path(@account) %>" class="icon-button">
    <x-icon>arrow_back</x-icon>
  </a>
  <div class="top-app-bar__headline">
    Edit account #<%= @account.id %>
  </div>
</div>

<div class="card p-4">
  <%= form_with model: @account, url: admin_account_path(@account.id) do |form| %>
    <div class="form-field">
      <%= form.label :name, class: "form-label" %>
      <%= render "components/text_field", form: form, name: :name %>
    </div>

    <div class="form-field">
      <%= form.label :feed_url, class: "form-label" %>
      <%= render "components/text_field", form: form, name: :feed_url %>
    </div>

    <div class="form-field">
      <%= render "components/checkbox_field", form: form, name: :feed_mark_canonical %>
    </div>

    <div class="form-field">
      <button type="submit" class="button button--filled">
        <%= t 'general.save_changes' %>
      </button>
    </div>
  <% end %>
</div>
