<div class="">
  <div class="card">
    <div class="flex items-center h-14 gap-2 px-2">
      <div class="flex-grow text-lg font-medium px-2">
        <%= t 'common.accounts' %>
      </div>
    </div>

    <table class="data-table">
      <thead>
        <tr>
          <th>
            ID
          </th>
          <th>
            Name
          </th>
          <th>
            Owner type
          </th>
          <th>
            Created at
          </th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @accounts.each do |account| %>
          <tr>
            <td>
              <%= account.id %>
            </td>
            <td>
              <%= account.name %>
            </td>
            <td>
              <%= account.owner_type %>
            </td>
            <td>
              <%= format_time account.created_at %>
            </td>
            <td class="text-right">
              <a href="<%= admin_account_path(account) %>" class="text-button">
                View
              </a>
            </td>
          </tr>
        <% end %>
      </tbody>

    </table>

    <div class="p-4">
      <%= render "components/page_pagination", pagy: @pagy %>
    </div>
</div>
