<div class="container padding-3">
  <div class="layout-primary">
    <%= render 'admin/navbar' %>

    <div class="">
      <div class="card card--elevated background-surface">
        <div class="top-app-bar">
          <div class="top-app-bar__title">
            <%= t 'common.accounts' %>
          </div>

          <%= form_with method: :get, builder: CustomFormBuilder do |form| %>
            <%= form.text_field :name, value: params[:name] %>
          <% end %>
        </div>

        <table class="table border-top border-bottom">
          <tbody>
            <% @accounts.each do |account| %>
              <tr>
                <td>
                  <a href="<%= admin_account_path(account.id) %>">
                    <%= account.name %>
                  </a>
                </td>
                <td>
                  <%= account.owner_type %>
                </td>
                <td>
                  <%= format_time account.created_at %>
                </td>
              </tr>
            <% end %>
          </tbody>

        </table>

        <div class="padding-3">
          <%= paginate @accounts %>
        </div>
      </div>
    </div>
</div>
