<div class="top-app-bar">
  <label for="navigation-drawer-toggle" class="icon-button xl:hidden">
    <x-icon>menu</x-icon>
  </label>
  <div class="top-app-bar__headline">
    <%= t 'general.accounts' %>
  </div>
</div>

<div class="card">
  <table class="data-table">
    <thead>
      <tr>
        <th>
          ID
        </th>
        <th>
          Name
        </th>
        <th>
          Owner type
        </th>
        <th>
          Created at
        </th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @accounts.each do |account| %>
        <tr>
          <td>
            <%= account.id %>
          </td>
          <td>
            <%= account.name %>
          </td>
          <td>
            <%= account.owner_type %>
          </td>
          <td>
            <%= format_time account.created_at %>
          </td>
          <td class="text-right">
            <a href="<%= admin_account_path(account) %>" class="button button--text">
              View
            </a>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <div class="p-4">
    <%= render "components/page_pagination", pagy: @pagy %>
  </div>
</div>
