
<div class="navbar px-0 gap-4">
  <div class="flex-none">
    <a href="<%= admin_accounts_path %>" class="btn btn-ghost btn-square">
      <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="m12 19-7-7 7-7"/><path d="M19 12H5"/></svg>
    </a>
  </div>
  <div class="flex-grow">
    <div class="text-xl font-medium">
      Account #<%= @account.id %>
    </div>
  </div>
  <div class="flex-none">
    <a href="<%= edit_admin_account_path(@account) %>" class="btn btn-ghost">
      <%= t "general.edit" %>
    </a>
    <div class="dropdown dropdown-end">
      <label tabindex="0" class="btn btn-ghost btn-square">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><circle cx="12" cy="12" r="1"/><circle cx="12" cy="5" r="1"/><circle cx="12" cy="19" r="1"/></svg>
      </label>
      <ul tabindex="0" class="dropdown-content menu p-2 shadow bg-base-100 rounded-box w-52">
        <li>
          <%= form_with url: admin_account_path(@account), method: :delete, data: { turbo_confirm: "Delete account?" } do %>
            <button type="submit" class="menu__item">
              <%= t "general.delete" %>
            </button>
          <% end %>
        </li>
      </ul>
    </div>
  </div>
</div>


<div class="card card-default">
  <div class="card-body">
    <table class="table">
      <tbody>
        <tr>
          <th class="w-40"><%= t 'general.owner' %></th>
          <td>
            <a href="<%= url_for([:admin, @account.owner]) %>" class="text-primary underline">
              <%= url_for([:admin, @account.owner]) %>
            </a>
          </td>
        </tr>
        <tr>
          <th class="w-40"><%= t 'general.public_link' %></th>
          <td>
            <a href="<%= account_root_path(@account.name) %>" class="text-primary underline">
              <%= account_root_path(@account.name) %>
            </a>
          </td>
        </tr>
        <% @account.attributes.each do |name, value| %>
          <tr>
            <th class="w-40"><%= name %></th>
            <td class="break-words"><%= value %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
