<div class="container padding-3">
  <div class="layout-primary">
    <%= render 'admin/navbar' %>

    <div class="">
      <div class="card card--elevated background-surface">
        <div class="top-app-bar">
          <div class="top-app-bar__action">
            <a href="<%= admin_accounts_path %>" class="button button--icon">
              <span class="material-icons">arrow_back</span>
            </a>
          </div>
          <div class="top-app-bar__title">
            <%= t 'common.accounts' %> #<%= @account.id %>
          </div>
          <div class="top-app-bar__action">
            <a href="<%= edit_admin_account_path(@account.id) %>" class="button button--text">
              <%= t 'common.edit' %>
            </a>
          </div>
        </div>

        <table class="table border-top">
          <tr>
            <th>
              <%= t 'common.owner' %>
            </th>
            <td>
              <a href="<%= url_for([:admin, @account.owner]) %>">
                <%= url_for([:admin, @account.owner]) %>
              </a>
            </td>
          </tr>

          <tr>
            <th>
              <%= t 'common.public_link' %>
            </th>
            <td>
              <a href="<%= account_root_path(@account) %>">
                <%= account_root_path(@account) %>
              </a>
            </td>
          </tr>

          <% @account.attributes.each do |name, value| %>
            <tr>
              <th>
                <%= name %>
              </th>
              <td class="text-break-all">
                <%= value %>
              </td>
            </tr>
          <% end %>
        </table>
      </div>
    </div>
  </div>
</div>
