<div class="container">
  <div class="layout">
    <%= render 'admin/navbar' %>

    <div class="main">
      <div class="card card--surface padding-3 margin-bottom-3">
        <div class="breadcrumb">
          <div class="breadcrumb__item">
            <a href="<%= admin_accounts_path %>">
              <%= t 'common.accounts' %>
            </a>
          </div>
          <div class="breadcrumb__item breadcrumb__item--active">
            <%= @account.id %>
          </div>
        </div>
      </div>

      <div class="card card--surface">
        <div class="title-medium padding-3">
          <%= t 'common.attributes' %>
        </div>

        <table class="table border-top">
          <tr>
            <th>
              <%= t 'common.owner' %>
            </th>
            <td>
              <a href="<%= url_for([:admin, @account.owner]) %>">
                <%= url_for([:admin, @account.owner]) %>
              </a>
            </td>
          </tr>

          <tr>
            <th>
              <%= t 'common.public_link' %>
            </th>
            <td>
              <a href="<%= account_root_path(@account) %>">
                <%= account_root_path(@account) %>
              </a>
            </td>
          </tr>

          <% @account.attributes.each do |name, value| %>
            <tr>
              <th>
                <%= name %>
              </th>
              <td class="text-break-all">
                <%= value %>
              </td>
            </tr>
          <% end %>
        </table>
      </div>
    </div>

    <div class="sidebar">
      <div class="card card--surface padding-3">
        <div class="">
          <a href="<%= edit_admin_account_path(@account.id) %>" class="button button--outlined">
            <%= t 'common.edit' %>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
