<div class="top-app-bar">
  <a href="<%= settings_root_path %>" class="icon-button">
    <x-icon>arrow_back</x-icon>
  </a>
  <div class="top-app-bar__headline">
    <%= t "general.notification" %>
  </div>
</div>

<div class="layout-main-sidebar">
  <div class="">
    <div class="card p-4">
      <%= form_with model: @user, url: settings_notification_path do |form| %>
        <div class="space-y-4">
          <%= render "components/checkbox_field", form: form, name: :comment_email_notification_enabled, description: t(".comment_email_notification_description") %>

          <%= render "components/checkbox_field", form: form, name: :weekly_digest_email_enabled, description: t(".weekly_digest_email_description") %>

          <div>
            <button type="submit" class="button button--filled">
              <%= t "general.save_changes" %>
            </button>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
