<div class="max-w-screen-sm mx-auto">
  <div class="bg-surface-container-lowest rounded-xl">
    <div class="flex items-center p-2">
      <a href="<%= settings_root_path %>" class="icon-button">
        <x-icon>arrow_back</x-icon>
      </a>
      <div class="text-lg font-medium flex-grow px-2">
        <%= t "general.notification" %>
      </div>
    </div>

    <div class="p-4">
      <%= form_with model: @user, url: settings_notification_path do |form| %>
        <div class="space-y-4">
          <%= render "components/checkbox_field", form: form, name: :comment_email_notification_enabled, description: t(".comment_email_notification_description") %>

          <%= render "components/checkbox_field", form: form, name: :weekly_digest_email_enabled, description: t(".weekly_digest_email_description") %>

          <div>
            <button type="submit" class="filled-button">
              <%= t "general.save_changes" %>
            </button>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
