<div class="container">
  <div class="layout-primary padding-3">
    <%= render 'account/dashboard/navbar' %>

    <div class="">
      <div class="breadcrumb headline-small padding-y-1 margin-bottom-3">
        <div class="breadcrumb__item">
          <a href="<%= account_dashboard_settings_root_path %>">
            <%= t 'common.settings' %>
          </a>
        </div>
        <div class="breadcrumb__item breadcrumb__item--active">
          <%= t 'common.exports' %>
        </div>
      </div>

      <div class="card card--elevated background-surface padding-3">
        <div class="display-flex gap-2 align-items-center margin-bottom-3">
          <div class="flex-grow-1 title-large">
            <%= t 'common.exports' %>
          </div>
          <%= form_with url: account_dashboard_settings_exports_path do %>
            <button type="submit" class="button button--outlined">
              <%= t 'common.create_export' %>
            </button>
          <% end %>
        </div>

        <% if @exports.any? %>
          <div class="margin-bottom-3">
            <%= render partial: 'export', collection: @exports %>
          </div>
          <%= paginate @exports %>
        <% else %>
          <div class="padding-5 text-muted text-align-center">
            <%= t '.no_data_exported_yet' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
