<p><b><%= @comment.user.account.name %></b> 评论了 <b><%= @comment.commentable.title %></b>：</p>

<%= markdown_render @comment.content %>

<a href="<%= account_comment_url(@comment.user.account.name, @comment) %>" class="btn-primary">
  查看评论
</a>

<div class="body-sub">
  <p class="sub">
    不想收到同类邮件？<a href="<%= identity_email_unsubscribe_url(token: @user.generate_token_for(:email_unsubscription), type: 'comment') %>">退订邮件</a>或<a href="<%= settings_notification_url %>">修改设置</a>。
  </p>
</div>
