<%= sanitize @site.weekly_digest_header_html %>

<h2>热门文章</h2>

<% @posts.each do |post| %>
  <p>
    <a href="<%= account_post_url(post.account, post) %>"><b><%= post.title %></b></a>
    &mdash;
    <%= post_summary post, length: 70 %>
    <br>
    <span class="text-muted"><%= post.account.display_name %></span>
  </p>
<% end %>

<%= sanitize @site.weekly_digest_footer_html %>

<div class="body-sub">
  <p class="sub">
    不想收到同类邮件？<a href="<%= user_email_unsubscribe_url(token: @user.email_auth_token, type: 'weekly_digest') %>">退订邮件</a>或<a href="<%= settings_notification_url %>">修改通知设置</a>。
  </p>
</div>
