<a href="<%= account_root_path(account.name) %>" class="block card hover:interactive-bg-surface-container-lowest p-4 mt-4 first:mt-0">
  <div class="flex gap-4">
    <div class="flex-shrink-0">
      <img src="<%= avatar_url(account.owner) %>" alt="avatar" class="w-10 h-10 rounded-full">
    </div>
    <div class="flex-grow">
      <div class="font-medium">
        <%= account.display_name %>
      </div>
      <div class="text-on-surface-variant">
        @<%= account.name %>
      </div>
      <div class="mt-2 line-clamp-3 text-sm text-on-surface-variant">
        <%= account.description %>
      </div>
    </div>
  </div>
</a>
