<% liked ||= false %>

<a href="<%= account_post_comment_like_path(@post.account, @post, comment) %>" id="comment-<%= comment.id %>-like-button" class="button button--text button--like <%= 'button--active' if liked %>" data-comment-target="likeButton" data-turbo-method="<%= liked ? 'delete' : 'post' %>">
  <div class="button__icon">
    <div class="button__show-on-active">
      <span class="material-icons">favorite</span>
    </div>
    <div class="button__hide-on-active">
      <span class="material-icons">favorite_border</span>
    </div>
  </div>
  <div class="button__text">
    <% if comment.likes_count > 0 %>
      <%= comment.likes_count %> likes
    <% else %>
      Like
    <% end %>
  </div>
</a>
