<div class="navigation-drawer">
  <input type="checkbox" id="navigation-drawer-toggle" class="navigation-drawer__toggle">
  <div class="navigation-drawer__content">
    <div class="flex flex-col px-3 gap-3 h-full">
      <div class="flex items-center h-16">
        <a href="<%= dashboard_root_path %>" class="inline-flex items-center p-2 gap-2">
          <img src="<%= asset_path "icon.svg" %>" alt="logo" class="size-10">
          <div class="text-lg font-medium text-on-surface-variant">
            <%= t "general.dashboard" %>
          </div>
        </a>
      </div>

      <div class="flex items-center gap-2">
        <div class="menu">
          <label tabindex="0" class="button button--outlined">
            <img src="<%= avatar_url(@account.owner) %>" alt="avatar" class="w-6 h-6 rounded-full">
            <div>
              <%= @account.owner.name %>
            </div>
            <x-icon>arrow_drop_down</x-icon>
          </label>
          <div tabindex="0" class="menu__content top-full left-0">
            <div class="px-4 py-2 text-sm font-medium text-on-surface-variant">
              <%= t "general.personal" %>
            </div>

            <a href="<%= dashboard_root_path(Current.user.account.name) %>" class="menu__item">
              <img src="<%= avatar_url(Current.user) %>" alt="avatar" class="w-6 h-6 rounded-full">
              <div class="">
                <div class="font-medium">
                  <%= Current.user.name %>
                </div>
              </div>
            </a>

            <hr class="border-outline-variant my-2">

            <div class="px-4 py-2 text-sm font-medium text-on-surface-variant">
              <%= t "general.organizations" %>
            </div>

            <% Current.user.organizations.includes(:account).each do |organization| %>
              <a href="<%= dashboard_root_path(organization.account.name) %>" class="menu__item">
                <img src="<%= avatar_url(organization) %>" alt="avatar" class="w-6 h-6 rounded-full">
                <div class="flex-grow">
                  <div class="font-medium">
                    <%= organization.name %>
                  </div>
                </div>
              </a>
            <% end %>

            <a href="<%= new_organization_path %>" class="menu__item">
              <x-icon>add</x-icon>
              <span><%= t "general.new_organization" %></span>
            </a>
          </div>
        </div>
      </div>

      <div class="flex flex-col gap-2 grow">
        <a href="<%= dashboard_root_path %>" class="navigation-drawer__item <%= "navigation-drawer__item--active" if current_page?(dashboard_root_path) %>"">
          <div class="navigation-drawer__item__icon">
            <x-icon>dashboard</x-icon>
          </div>
          <div class="navigation-drawer__item__label">
            <%= t "general.overview" %>
          </div>
        </a>
        <a href="<%= dashboard_posts_path %>" class="navigation-drawer__item <%= "navigation-drawer__item--active" if current_page?(dashboard_posts_path) %>">
          <div class="navigation-drawer__item__icon">
            <x-icon>article</x-icon>
          </div>
          <div class="navigation-drawer__item__label">
            <%= t "general.posts" %>
          </div>
        </a>

        <a href="<%= dashboard_settings_root_path %>" class="navigation-drawer__item <%= "navigation-drawer__item--active" if request.path.start_with?(dashboard_settings_root_path) %>">
          <div class="navigation-drawer__item__icon">
            <x-icon>settings</x-icon>
          </div>
          <div class="navigation-drawer__item__label">
            <%= t "general.settings" %>
          </div>
        </a>

        <a href="/" class="navigation-drawer__item">
          <div class="navigation-drawer__item__icon">
            <x-icon>arrow_back</x-icon>
          </div>
          <div class="navigation-drawer__item__label">
            <%= t "general.back_to_home" %>
          </div>
        </a>
      </div>
    </div>
  </div>
  <label for="navigation-drawer-toggle" class="navigation-drawer__scrim"></label>
</div>
