<div class="navbar">
  <div class="card card--surface padding-2">
    <div class="display-flex padding-2 margin-bottom-3 gap-2 align-items-center">
      <div class="avatar">
        <%= avatar_image_tag @account.owner.avatar %>
      </div>
      <div class="title-large flex-grow-1">
        <%= @account.owner.name %>
      </div>
    </div>

    <div class="tab flex-direction-column@tablet">
      <a href="<%= account_dashboard_posts_path(@account) %>" class="tab__item <%= 'tab__item--active' if controller_name == 'posts' %>">
        <div class="tab__item__icon">
          <span class="material-icons">article</span>
        </div>
        <div class="tab__item__label">
          <%= t 'common.posts' %>
        </div>
      </a>
      <% if current_member.role.in?(%w(owner admin)) %>
        <a href="<%= account_dashboard_collections_path(@account) %>" class="tab__item <%= 'tab__item--active' if controller_name == 'collections' %>">
          <div class="tab__item__icon">
            <span class="material-icons">library_books</span>
          </div>
          <div class="tab__item__label">
            <%= t 'common.collections' %>
          </div>
        </a>
        <% if @account.organization? %>
          <a href="<%= account_dashboard_members_path(@account) %>" class="tab__item <%= 'tab__item--active' if controller_name == 'members' %>">
            <div class="tab__item__icon">
              <span class="material-icons">people</span>
            </div>
            <div class="tab__item__label">
              <%= t 'common.members' %>
            </div>
          </a>
        <% end %>
        <a href="<%= account_dashboard_settings_root_path(@account) %>" class="tab__item <%= 'tab__item--active' if request.path.include?('dashboard/settings') %>">
          <div class="tab__item__icon">
            <span class="material-icons">settings</span>
          </div>
          <div class="tab__item__label">
            <%= t 'common.settings' %>
          </div>
        </a>
      <% end %>
    </div>
  </div>
</div>
