<div class="navbar">
  <div class="card card--surface padding-2">
    <div class="display-flex padding-2 margin-bottom-3 gap-2 align-items-center">
      <div class="avatar">
        <%= avatar_image_tag @account.owner.avatar %>
      </div>
      <div class="title-large flex-grow-1">
        <%= @account.owner.name %>
      </div>
    </div>

    <div class="nav">
      <a href="<%= account_dashboard_posts_path(@account) %>" class="nav__item <%= 'nav__item--active' if controller_name == 'posts' %>">
        <div class="nav__item__icon">
          <span class="material-icons">article</span>
        </div>
        <div class="nav__item__label">
          <%= t 'common.posts' %>
        </div>
      </a>
      <a href="<%= account_dashboard_collections_path(@account) %>" class="nav__item <%= 'nav__item--active' if controller_name == 'collections' %>">
        <div class="nav__item__icon">
          <span class="material-icons">library_books</span>
        </div>
        <div class="nav__item__label">
          <%= t 'common.collections' %>
        </div>
      </a>
      <a href="<%= account_dashboard_settings_root_path(@account) %>" class="nav__item <%= 'nav__item--active' if request.path.include?('dashboard/settings') %>">
        <div class="nav__item__icon">
          <span class="material-icons">settings</span>
        </div>
        <div class="nav__item__label">
          <%= t 'common.settings' %>
        </div>
      </a>
    </div>
  </div>
</div>
