<div class="container padding-3">
  <div class="layout-primary">
    <%= render 'admin/navbar' %>

    <div class="">
      <div class="card card--elevated background-surface">
        <div class="top-app-bar">
          <div class="top-app-bar__action">
            <a href="<%= admin_settings_weekly_digest_path %>" class="button button--icon">
              <span class="material-icons">arrow_back</span>
            </a>
          </div>
          <div class="top-app-bar__title">
            <%= t 'common.send_preview' %>
          </div>
        </div>

        <div class="padding-3">
          <%= form_with model: @user, url: admin_settings_weekly_digest_preview_path, builder: CustomFormBuilder do |form| %>
            <div class="margin-bottom-3">
              <%= form.text_field :email %>
            </div>
            <button type="submit" class="button button--filled">
              <%= t 'common.send_email' %>
            </button>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
