<div class="top-app-bar">
  <a href="<%= admin_settings_weekly_digest_path %>" class="icon-button">
    <x-icon>arrow_back</x-icon>
  </a>
  <div class="top-app-bar__headline">
    <%= t 'general.send_preview' %>
  </div>
</div>

<div class="card p-4">
  <%= form_with model: @user, url: admin_settings_weekly_digest_preview_path do |form| %>
    <div class="form-field">
      <%= form.label :email, class: "form-label" %>
      <%= render "components/text_field", form: form, name: :email %>
    </div>

    <div class="form-field">
      <button type="submit" class="button button--filled">
        <%= t 'general.send_email' %>
      </button>
    </div>
  <% end %>
</div>
