<div class="dropdown" data-controller="dropdown">
  <button type="button" class="button button--text" data-action="dropdown#toggle">
    <div class="button__text">
      <%= @post.draft? ? 'Publish' : 'Update' %>
    </div>
    <div class="button__icon">
      <span class="material-icons">expand_more</span>
    </div>
  </button>
  <div class="dropdown__menu dropdown__menu--medium dropdown__menu--paddingless dropdown__menu--top-right">
    <%= form_with model: @post, url: account_dashboard_post_status_path(@account, @post), builder: CustomFormBuilder, class: 'form' do |form| %>
      <div class="toolbar border-bottom">
        <div class="toolbar__title">
          <%= @post.draft? ? 'Ready to publish?' : 'Update post status' %>
        </div>
      </div>
      <% if @post.draft? %>
        <div class="padding">
          <div class="form__control">
            <%= form.radio_button :status, :published, checked: true %>
            <label for="post_status_published" class="form__control__label">
              Publish now
              <div class="text-secondary">
                Publish this post immediately
              </div>
            </label>
          </div>
        </div>
      <% else %>
        <div class="padding">
          <div class="form__control">
            <%= form.radio_button :status, :draft, checked: true %>
            <label for="post_status_draft" class="form__control__label">
              Unpublished
              <div class="text-secondary">
                Revert this post to private draft
              </div>
            </label>
          </div>
          <div class="form__control">
            <%= form.radio_button :status, :published, checked: true %>
            <label for="post_status_published" class="form__control__label">
              Published
              <div class="text-secondary">
                Display this post publicly
              </div>
            </label>
          </div>
        </div>
      <% end %>
      <div class="toolbar border-top">
        <div class="toolbar__space">
        </div>
        <div class="toolbar__aciton">
          <button type="button" class="button button--text" data-action="dropdown#close">
            Cancel
          </button>
        </div>
        <div class="toolbar__aciton">
          <button type="submit" class="button button--contained button--primary">
            <%= @post.draft? ? 'Publish' : 'Update' %>
          </button>
        </div>
      </div>
    <% end %>
  </div>
</div>
