<div class="dropdown" data-controller="dropdown">
  <button type="button" class="button button--text" data-action="dropdown#toggle">
    <div class="button__text">
      <% if @post.published? %>
        <%= t 'common.published' %>
      <% else %>
        <%= t 'common.publish' %>
      <% end %>
    </div>
    <div class="button__icon">
      <span class="material-icons">expand_more</span>
    </div>
  </button>
  <div class="dropdown__menu dropdown__menu--paddingless dropdown__menu--top-right">
    <% if @current_member.has_permission?(:publish_other_post) || (@current_member.has_permission?(:publish_own_post) && @post.authors.include?(current_user)) %>
      <%= form_with model: @post, url: account_dashboard_post_status_path(@account, @post), builder: CustomFormBuilder, class: 'form' do |form| %>
        <% if @post.draft? %>
          <%= form.hidden_field :status, value: :published %>
          <button type="submit" class="dropdown__item">
            <div class="dropdown__item__icon">
              <span class="material-icons">publish</span>
            </div>
            <div class="dropdown__item__text">
              <div class="text-primary">
                <%= t '.publish_now' %>
              </div>
              <div class="text-secondary">
                <%= t '.publish_now_description' %>
              </div>
            </div>
          </button>
        <% else %>
          <%= form.hidden_field :status, value: :draft %>
          <button type="submit" class="dropdown__item">
            <div class="dropdown__item__icon">
              <span class="material-icons">unpublished</span>
            </div>
            <div class="dropdown__item__text">
              <div class="text-primary">
                <%= t '.unpublish' %>
              </div>
              <div class="text-secondary">
                <%= t '.unpublish_description' %>
              </div>
            </div>
          </button>
        <% end %>
      <% end %>
    <% else %>
      <div class="padding">
        <%= t '.no_publish_permission_description' %>
      </div>
    <% end %>
  </div>
</div>
