<div class="container">
  <div class="layout">
    <%= render 'admin/navbar' %>

    <div class="main">
      <div class="card card--surface padding-3 margin-bottom-3">
        <div class="breadcrumb">
          <div class="breadcrumb__item">
            <a href="<%= admin_settings_root_path %>">
              <%= t 'common.settings' %>
            </a>
          </div>
          <div class="breadcrumb__item breadcrumb__item--active">
            <%= t 'common.weekly_summary' %>
          </div>
        </div>
      </div>

      <div class="card card--surface padding-3">
        <%= form_with url: admin_settings_weekly_summary_path, model: @site, builder: CustomFormBuilder do |form| %>
          <div class="margin-bottom-3">
            <label class="display-flex gap-3 align-items-center">
              <div class="flex-grow-1">
                <%= Site.human_attribute_name(:weekly_summary_email_enabled) %>
              </div>
              <%= form.check_box :weekly_summary_email_enabled %>
            </label>
          </div>
          <div class="margin-bottom-3">
            <%= form.text_area :weekly_summary_header_html, rows: 5 %>
          </div>

          <div class="margin-bottom-3">
            <%= form.text_area :weekly_summary_footer_html, rows: 5 %>
          </div>

          <button type="submit" class="button button--filled">
            <%= t 'common.save_changes' %>
          </button>
        <% end %>
      </div>
    </div>
  </div>
</div>
