<div class="app">
  <div class="app-bar-wrapper post-editor" data-controller="post-editor" data-post-editor-direct-upload-url-value="<%= rails_direct_uploads_path %>">
    <%= render 'appbar' %>
    <div class="app-content">
      <div class="post-editor__container">
        <%= form_with model: @post, url: [@space, :dashboard, @post], data: { 'post-editor-target': 'form' }, class: 'post-editor__form', id: 'post-form' do |form| %>
          <%= form.text_area :title, placeholder: 'Post Title', autocomplete: 'off', class: 'post-editor__title', "data-post-editor-target": 'titleInput' %>
          <%= form.hidden_field :content, "data-post-editor-target": 'contentInput' %>
          <div class="post-editor__content-editor" data-post-editor-target="contentEditor">
          </div>
        <% end %>
      </div>
    </div>
    <div class="post-editor__toolbar">
      <div class="post-editor__toolbar-container" data-post-editor-target="toolbarContainer">
      </div>
    </div>
    <div id="snackbar-container" class="snackbar-container">
    </div>
    <div id="preview-dialog">
    </div>
  </div>
</div>
