<div class="app-bar-wrapper">
  <div class="app-bar app-bar--borderless">
    <div class="toolbar">
      <div class="toolbar__title">
        Posts
      </div>
      <div class="toolbar__action dropdown" data-controller="dropdown">
        <button type="button" class="button button--text" data-action="dropdown#toggle">
          <div class="button__label">
            All posts
          </div>
          <div class="button__icon">
            <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24"><path d="M24 24H0V0h24v24z" fill="none" opacity=".87"/><path d="M16.59 8.59L12 13.17 7.41 8.59 6 10l6 6 6-6-1.41-1.41z"/></svg>
          </div>
        </button>
        <div class="dropdown__menu dropdown__menu--top-right">
          <a href="#" class="dropdown__item">All posts</a>
          <a href="#" class="dropdown__item">Draft posts</a>
          <a href="#" class="dropdown__item">Published posts</a>
          <a href="#" class="dropdown__item">Scheduled posts</a>
          <a href="#" class="dropdown__item">Trashed posts</a>
        </div>
      </div>
      <div class="toolbar__action">
        <a href="<%= new_space_dashboard_post_path(@space.path) %>" class="button button--contained button--primary button--last">
          New Post
        </a>
      </div>
    </div>
  </div>

  <div class="app-content">
    <div class="padding">
      <div class="card card--outlined">
        <table class="table table--flex">
          <thead>
            <tr>
              <th class="table__cell--title">Title</th>
              <th class="table__cell--attribute">Series</th>
              <th class="table__cell--attribute">Status</th>
              <th class="table__cell--action"></th>
            </tr>
          </thead>
          <tbody>
            <% @posts.each do |post| %>
              <tr>
                <td class="table__cell--title">
                  <a href="<%= edit_space_dashboard_post_path(@space, post) %>" class="table__row-link">
                  </a>
                  <div class="text-primary text-bold">
                    <%= post.title.presence || 'Untitled' %>
                  </div>
                  <div class="text-secondary">
                    By <%= post.author.name %> &centerdot; <%= l post.updated_at, format: :short %>
                  </div>
                </td>
                <td class="table__cell--attribute"></td>
                <td class="table__cell--attribute"><%= post.status %></td>
                <td class="table__cell--action"></td>
              </tr>
            <% end %>
          </tbody>
        </table>
        <div class="toolbar border-top">
          <div class="toolbar__space">
          </div>
          <div class="toolbar__text">
            <%= page_entries_info @posts %>
          </div>
          <div class="toolbar__action">
            <%= paginate @posts %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
