<div class="tabbar">
  <div class="card card--surface padding-2">
    <div class="tab flex-direction-column@tablet">
      <a href="<%= admin_root_path %>" class="tab__item <%= 'tab__item--active' if request.path == '/admin' %>">
        <div class="tab__item__icon">
          <span class="material-icons">dashboard</span>
        </div>
        <div class="tab__item__label">
          <%= t 'common.overview' %>
        </div>
      </a>

      <a href="<%= admin_posts_path %>" class="tab__item <%= 'tab__item--active' if request.path.start_with?('/admin/posts') %>">
        <div class="tab__item__icon">
          <span class="material-icons">article</span>
        </div>
        <div class="tab__item__label">
          <%= t 'common.posts' %>
        </div>
      </a>

      <a href="<%= admin_collections_path %>" class="tab__item <%= 'tab__item--active' if request.path.start_with?('/admin/collections') %>">
        <div class="tab__item__icon">
          <span class="material-icons">library_books</span>
        </div>
        <div class="tab__item__label">
          <%= t 'common.collections' %>
        </div>
      </a>

      <a href="<%= admin_comments_path %>" class="tab__item <%= 'tab__item--active' if request.path.start_with?('/admin/comments') %>">
        <div class="tab__item__icon">
          <span class="material-icons">comment</span>
        </div>
        <div class="tab__item__label">
          <%= t 'common.comments' %>
        </div>
      </a>

      <a href="<%= admin_accounts_path %>" class="tab__item <%= 'tab__item--active' if request.path.start_with?('/admin/accounts') %>">
        <div class="tab__item__icon">
          <span class="material-icons">account_circle</span>
        </div>
        <div class="tab__item__label">
          <%= t 'common.account' %>
        </div>
      </a>

      <a href="<%= admin_users_path %>" class="tab__item <%= 'tab__item--active' if request.path.start_with?('/admin/users') %>">
        <div class="tab__item__icon">
          <span class="material-icons">person</span>
        </div>
        <div class="tab__item__label">
          <%= t 'common.user' %>
        </div>
      </a>

      <a href="<%= admin_organizations_path %>" class="tab__item <%= 'tab__item--active' if request.path.start_with?('/admin/organizations') %>">
        <div class="tab__item__icon">
          <span class="material-icons">people</span>
        </div>
        <div class="tab__item__label">
          <%= t 'common.organization' %>
        </div>
      </a>

      <a href="<%= admin_settings_root_path %>" class="tab__item <%= 'tab__item--active' if request.path.start_with?('/admin/settings') %>">
        <div class="tab__item__icon">
          <span class="material-icons">settings</span>
        </div>
        <div class="tab__item__label">
          <%= t 'common.settings' %>
        </div>
      </a>
    </div>
  </div>
</div>
