<div class="tabbar">
  <div class="card card--surface padding-2">
    <div class="tab flex-direction-column@tablet">
      <a href="<%= admin_root_path %>" class="tab__item <%= 'tab__item--active' if request.path == '/admin' %>">
        <div class="tab__item__icon">
          <span class="material-icons">dashboard</span>
        </div>
        <div class="tab__item__label">
          <%= t 'common.overview' %>
        </div>
      </a>
      <a href="<%= admin_settings_root_path %>" class="tab__item <%= 'tab__item--active' if request.path.start_with?('/admin/settings') %>">
        <div class="tab__item__icon">
          <span class="material-icons">settings</span>
        </div>
        <div class="tab__item__label">
          <%= t 'common.settings' %>
        </div>
      </a>
    </div>
  </div>
</div>
