<%
  comment = notification.comment
%>

<a href="<%= account_comment_path(comment.user.account.name, comment) %>" class="flex p-4 gap-4 interactive">
  <div class="shrink-0">
    <x-icon>comment</x-icon>
  </div>
  <div class="grow">
    <div class="font-medium line-clamp-1">
      <%= comment.user.name %>
      <%= t "general.commented_on" %>
      <%= comment.commentable.title %>
    </div>
    <div class="text-sm text-on-surface-variant line-clamp-1">
      <%= markdown_summary comment.content %>
    </div>
  </div>
  <div class="shrink-0">
    <div class="text-sm text-on-surface-variant">
      <%= format_time notification.created_at %>
    </div>
  </div>
</a>
