<%
  comment = notification.comment
%>

<div>
  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-message-circle-icon lucide-message-circle"><path d="M2.992 16.342a2 2 0 0 1 .094 1.167l-1.065 3.29a1 1 0 0 0 1.236 1.168l3.413-.998a2 2 0 0 1 1.099.092 10 10 0 1 0-4.777-4.719"/></svg>
</div>
<div>
  <div class="line-clamp-1">
    <%= comment.user.name %>
    <%= t "general.commented_on" %>
    <a href="<%= account_comment_path(comment.user.account.name, comment) %>" class="after:absolute after:inset-0">
      <%= comment.commentable.title %>
    </a>
  </div>
  <div class="text-sm text-base-content/80 line-clamp-1 mt-2">
    <%= markdown_summary comment.content %>
  </div>
</div>
<div class="text-sm text-base-content/80">
  <%= format_time notification.created_at %>
</div>
