<div class="list__item position-relative">
  <div class="list__avatar">
    <div class="avatar">
      <%= avatar_image_tag account.owner.avatar %>
    </div>
  </div>
  <div class="list__content">
    <a href="<%= account_root_path(account) %>" class="stretched-link">
    </a>
    <div class="text-primary text-bold">
      <%= account.display_name %>
    </div>
    <div class="text-secondary overflow-ellipsis">
      <%= account.description %>
    </div>
  </div>
  <% if current_user && account != current_user.account %>
    <div class="list__action">
      <%= render 'account/follows/button', account: account %>
    </div>
  <% end %>
</div>
