<div class="display-flex gap-3 position-relative">
  <div class="avatar flex-shrink-0">
    <%= avatar_image_tag account.owner.avatar %>
  </div>
  <div class="flex-grow-1">
    <div class="title-medium">
      <a href="<%= account_root_path(account) %>" class="link-text link-expended">
        <%= account.display_name %>
      </a>
    </div>
    <div class="body-medium text-muted">
      <%= truncate account.description %>
    </div>
  </div>
  <% if account != current_user&.account %>
    <%= render 'account/follows/button', account: account %>
  <% end %>
</div>
