<div class="navbar px-0 gap-4">
  <div class="flex-none">
    <a href="<%= dashboard_settings_members_path(@account.name) %>" class="btn btn-ghost btn-square">
      <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-arrow-left-icon lucide-arrow-left"><path d="m12 19-7-7 7-7"/><path d="M19 12H5"/></svg>
    </a>
  </div>
  <div class="flex-grow">
    <div class="text-xl font-medium">
      <%= t "general.add_member" %>
    </div>
  </div>
</div>

<div class="card card-default">
  <div class="card-body">
    <div class="max-w-screen-sm">
      <%= form_with model: @member, url: dashboard_settings_members_path(@account.name) do |form| %>
        <%= render "components/text_field", form: form, name: :invitation_email %>

        <fieldset class="fieldset">
          <legend class="fieldset-legend">
            <%= t "general.role" %>
          </legend>

          <div class="space-y-2">
            <%= render "components/radio_button_field", form: form, name: :role, value: "admin", label: "Admin", description: "Can manage member's posts and change dashboard settings." %>
            <%= render "components/radio_button_field", form: form, name: :role, value: "member", label: "Member", description: "Can write and publish their own posts." %>
          </div>
        </fieldset>

        <div class="mt-4">
          <button type="submit" class="btn btn-primary">
            <%= t "general.send_invitation" %>
          </button>
        </div>
      <% end %>
    </div>
  </div>
</div>
