<div class="top-app-bar">
  <a href="<%= dashboard_settings_members_path %>" class="icon-button">
    <x-icon>arrow_back</x-icon>
  </a>
  <div class="top-app-bar__headline">
    Add member
  </div>
</div>

<div class="card">
  <div class="p-4">
    <div class="max-w-screen-sm">
      <%= form_with model: @member, url: dashboard_settings_members_path(@account.name) do |form| %>
        <div class="form-field">
          <%= form.label :invitation_email, class: "form-label" %>
          <%= render "components/text_field", form: form, name: :invitation_email %>
        </div>
        <div class="form-field">
          <div class="text-sm font-medium">
            Role
          </div>
          <div class="space-y-2">
            <%= render "components/radio_button_field", form: form, name: :role, value: "admin", label: "Admin", description: "Can manage member's posts and change dashboard settings." %>
            <%= render "components/radio_button_field", form: form, name: :role, value: "member", label: "Member", description: "Can write and publish their own posts." %>
          </div>
        </div>
        <div class="form-field">
          <button type="submit" class="button button--filled">
            Send invitation
          </button>
        </div>
      <% end %>
    </div>
  </div>
</div>
