<div class="navigation-rail hidden md:flex 2xl:hidden">
  <div class="flex flex-col items-center gap-3">
    <div class="flex h-16 items-center shrink-0">
      <a href="/" class="p-2">
        <img src="<%= asset_path "icon.svg" %>" alt="logo" class="size-10">
      </a>
    </div>

    <% if Current.user %>
      <a href="<%= new_dashboard_post_path(Current.user.account.name) %>" class="fab hover:shadow-md">
        <x-icon>edit_square</x-icon>
      </a>
    <% end %>

    <div class="flex-grow flex flex-col gap-3 justify-start">
      <a href="/" class="navigation-rail__item <%= "navigation-rail__item--active" if request.path.in?(["/", "/following", "/newest"]) %>">
        <div class="navigation-rail__item__icon">
          <x-icon>home</x-icon>
        </div>
        <div class="navigation-rail__item__label">
          <%= t "general.home" %>
        </div>
      </a>

      <a href="<%= search_path %>" class="navigation-rail__item <%= "navigation-rail__item--active" if current_page?(search_path) %>">
        <div class="navigation-rail__item__icon">
          <x-icon>search</x-icon>
        </div>
        <div class="navigation-rail__item__label">
          <%= t "general.search" %>
        </div>
      </a>

      <% if Current.user %>
        <a href="<%= notifications_path %>" class="navigation-rail__item <%= "navigation-rail__item--active" if current_page?(notifications_path) %>">
          <div class="navigation-rail__item__icon">
            <x-icon>notifications</x-icon>
            <% notification_count = Current.user.notifications.unread.count %>
            <% if notification_count > 0 %>
              <div class="navigation-rail__item__badge">
                <%= notification_count > 99 ? "99+" : notification_count %>
              </div>
            <% end %>
          </div>
          <div class="navigation-rail__item__label">
            <%= t "general.notifications" %>
          </div>
        </a>

        <a href="<%= dashboard_root_path(Current.user.account.name) %>" class="navigation-rail__item <%= "navigation-rail__item--active" if request.path.start_with?("/dashboard") %>">
          <div class="navigation-rail__item__icon">
            <x-icon>dashboard</x-icon>
          </div>
          <div class="navigation-rail__item__label">
            <%= t "general.dashboard_short" %>
          </div>
        </a>

        <a href="<%= account_root_path(Current.user.account.name) %>" class="navigation-rail__item <%= "navigation-rail__item--active" if current_page?(account_root_path(Current.user.account.name)) %>">
          <div class="navigation-rail__item__icon">
            <img src="<%= avatar_url(Current.user) %>" class="h-6 w-6 rounded-full">
          </div>
          <div class="navigation-rail__item__label">
            <%= t "general.me" %>
          </div>
        </a>
      <% else %>
        <a href="<%= new_session_path %>" class="navigation-rail__item  <%= "navigation-rail__item--active" if current_page?(new_session_path) %>">
          <div class="navigation-rail__item__icon">
            <x-icon>login</x-icon>
          </div>
          <div class="navigation-rail__item__label">
            <%= t "general.sign_in" %>
          </div>
        </a>

        <a href="<%= new_registration_path %>" class="navigation-rail__item  <%= "navigation-rail__item--active" if current_page?(new_registration_path) %>">
          <div class="navigation-rail__item__icon">
            <x-icon>person_add</x-icon>
          </div>
          <div class="navigation-rail__item__label">
            <%= t "general.sign_up" %>
          </div>
        </a>
      <% end %>
    </div>
  </div>
</div>
