<div class="navigation-drawer hidden 2xl:block">
  <div class="navigation-drawer__content">
    <div class="flex flex-col px-3 gap-3 h-full">
      <div class="h-16 flex items-center shrink-0">
        <a href="/" class="inline-flex items-center p-2 gap-2">
          <img src="<%= asset_path "icon.svg" %>" alt="logo" class="size-10">
          <div class="text-lg font-medium text-on-surface-variant">
            <%= @site.name %>
          </div>
        </a>
      </div>

      <% if Current.user %>
        <div class="">
          <a href="<%= new_dashboard_post_path(Current.user.account.name) %>" class="fab fab--extended hover:shadow-md">
            <x-icon>edit_square</x-icon>
            <%= t "general.new_post" %>
          </a>
        </div>
      <% end %>

      <div class="grow flex flex-col gap-2 justify-start">
        <a href="/" class="navigation-drawer__item <%= "navigation-drawer__item--active" if request.path.in?(["/", "/following", "/newest"]) %>">
          <div class="navigation-drawer__item__icon">
            <x-icon>home</x-icon>
          </div>
          <div class="navigation-drawer__item__label">
            <%= t "general.home" %>
          </div>
        </a>

        <a href="<%= search_path %>" class="navigation-drawer__item <%= "navigation-drawer__item--active" if current_page?(search_path) %>">
          <div class="navigation-drawer__item__icon">
            <x-icon>search</x-icon>
          </div>
          <div class="navigation-drawer__item__label">
            <%= t "general.search" %>
          </div>
        </a>

        <% if Current.user %>
          <a href="<%= notifications_path %>" class="navigation-drawer__item <%= "navigation-drawer__item--active" if current_page?(notifications_path) %>">
            <div class="navigation-drawer__item__icon">
              <x-icon>notifications</x-icon>
            </div>
            <div class="navigation-drawer__item__label">
              <%= t "general.notifications" %>
            </div>
            <% notification_count = Current.user.notifications.unread.count %>
            <% if notification_count > 0 %>
              <div class="navigation-drawer__item__badge">
                <%= notification_count > 99 ? "99+" : notification_count %>
              </div>
            <% end %>
          </a>

          <a href="<%= dashboard_root_path(Current.user.account.name) %>" class="navigation-drawer__item <%= "navigation-drawer__item--active" if request.path.start_with?("/dashboard") %>">
            <div class="navigation-drawer__item__icon">
              <x-icon>dashboard</x-icon>
            </div>
            <div class="navigation-drawer__item__label">
              <%= t "general.dashboard" %>
            </div>
          </a>
        <% else %>
          <a href="<%= sign_in_path %>" class="navigation-drawer__item  <%= "navigation-drawer__item--active" if current_page?(sign_in_path) %>">
            <div class="navigation-drawer__item__icon">
              <x-icon>login</x-icon>
            </div>
            <div class="navigation-drawer__item__label">
              <%= t "general.sign_in" %>
            </div>
          </a>

          <a href="<%= sign_up_path %>" class="navigation-drawer__item  <%= "navigation-drawer__item--active" if current_page?(sign_up_path) %>">
            <div class="navigation-drawer__item__icon">
              <x-icon>person_add</x-icon>
            </div>
            <div class="navigation-drawer__item__label">
              <%= t "general.sign_up" %>
            </div>
          </a>
        <% end %>
      </div>

      <% if Current.user %>
        <div class="menu flex-shrink-0 mb-3">
          <label tabindex="0" class="navigation-drawer__item">
            <div class="navigation-drawer__item__icon">
              <img src="<%= avatar_url(Current.user) %>" class="h-6 w-6 rounded-full">
            </div>
            <div class="navigation-drawer__item__label">
              <%= Current.user.name %>
            </div>
          </label>
          <div tabindex="0" class="menu__content left-0 bottom-full right-0 w-full">
            <a href="<%= account_root_path(Current.user.account.name) %>" class="menu__item">
              <x-icon>account_circle</x-icon>
              <span><%= t "general.profile" %></span>
            </a>

            <a href="<%= bookmarks_path %>" class="menu__item">
              <x-icon>bookmarks</x-icon>
              <span><%= t "general.bookmarks" %></span>
            </a>

            <a href="<%= settings_root_path %>" class="menu__item">
              <x-icon>settings</x-icon>
              <span><%= t "general.settings" %></span>
            </a>

            <%= form_with url: sign_out_path, method: :delete do |form| %>
              <button type="submit" class="menu__item">
                <x-icon>logout</x-icon>
                <span><%= t "general.sign_out" %></span>
              </button>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
