<%= form_with model: @account, url: account_dashboard_settings_import_path, builder: CustomFormBuilder, id: 'settings-form' do |form| %>
  <div class="margin-bottom-3">
    <%= form.text_field :feed_url %>
  </div>
  <div class="margin-bottom-3">
    <label class="display-flex gap-3">
      <div class="">
        <%= form.check_box :feed_mark_canonical %>
      </div>
      <div class="flex-grow-1 padding-y-2">
        <div class="title-medium">
          <%= t '.feed_mark_canonical_label' %>
        </div>
        <div class="body-medium">
          <%= t '.feed_mark_canonical_description' %>
        </div>
      </div>
    </label>
  </div>
  <div class="display-flex align-items-center gap-3">
    <button type="submit" class="button button--filled">
      <%= t 'common.save_and_fetch' %>
    </button>
    <% if @account.feed_url.present? && @account.feed_fetched_at %>
      <div class="text-muted">
        <%= t 'common.last_fetched_at' %>
        <%= format_time @account.feed_fetched_at %>
      </div>
    <% end %>
  </div>
<% end %>
