<div class="container container--medium padding-3">
  <div class="title-medium display-flex align-items-center gap-2 margin-bottom-4">
    <a href="<%= account_root_path(@account) %>" class="link-title display-inline-flex gap-1">
      <div class="avatar avatar--small">
        <%= avatar_image_tag @account.owner.avatar %>
      </div>
      <%= @account.display_name %>
    </a>
    <span class="material-icons">chevron_right</span>
    <a href="<%= account_dashboard_root_path(@account) %>" class="link-title">
      <%= t 'common.dashboard' %>
    </a>
    <span class="material-icons">chevron_right</span>
    <a href="<%= account_dashboard_settings_root_path(@account) %>" class="link-title">
      <%= t 'common.settings' %>
    </a>
    <span class="material-icons">chevron_right</span>
    <%= t 'common.import' %>
  </div>

  <div class="container container--small">
    <h2 class="headline-medium margin-top-0 margin-bottom-4">
      <%= t 'common.import_from_rss_atom' %>
    </h2>
    <div class="padding-bottom-3 border-bottom margin-bottom-3">
      <%= render 'form' %>
    </div>

    <%= render 'rules' %>
  </div>
</div>
