<% comment = notification.record %>

<a href="<%= account_post_comment_path(comment.account, comment.commentable, comment) %>" class="list__item">
  <div class="list__avatar">
    <div class="avatar">
      <%= avatar_image_tag comment.user.avatar %>
    </div>
  </div>
  <div class="list__content">
    <div class="text-primary">
      <span class="text-bold"><%= comment.user.name %></span>
      <%= t 'common.comment_on' %>
      <% if comment.commentable %>
        <%= comment.commentable.title %>
      <% else %>
        <%= t 'common.deleted_content' %>
      <% end %>
    </div>
    <div class="text-secondary">
      <%= comment_summary comment %>
    </div>
  </div>
</a>
