<% comment = notification.record %>

<div class="list__item position-relative">
  <div class="list__avatar">
    <div class="avatar">
      <%= avatar_image_tag comment.user.avatar %>
    </div>
  </div>
  <div class="list__content">
    <% if comment.commentable %>
      <a href="<%= account_post_comment_path(comment.account, comment.commentable, comment) %>" class="stretched-link"></a>
    <% end %>
    <div class="text-primary">
      <a href="<%= account_root_path(comment.user.account) %>" class="link-text text-bold">
        <%= comment.user.name %>
      </a>
      <%= t 'common.comment_on' %>
      <% if comment.commentable %>
        <%= comment.commentable.title %>
      <% else %>
        <%= t 'common.deleted_content' %>
      <% end %>
    </div>
    <div class="text-secondary">
      <%= comment_summary comment %>
    </div>
  </div>
</div>
