<div class="navigation-drawer">
  <input type="checkbox" id="navigation-drawer-toggle" class="navigation-drawer__toggle">
  <div class="navigation-drawer__content px-3">
    <div class="flex items-center h-16">
      <a href="#" class="inline-flex items-center p-2 gap-2">
        <img src="<%= asset_path "icon.svg" %>" alt="logo" class="size-10">
        <div class="text-lg font-medium text-on-surface-variant">
          <%= t "general.admin" %>
        </div>
      </a>
    </div>

    <div class="flex flex-col gap-2">
      <a href="<%= admin_root_path %>" class="navigation-drawer__item <%= "navigation-drawer__item--active" if request.path == "/admin" %>">
        <div class="navigation-drawer__item__icon">
          <x-icon>dashboard</x-icon>
        </div>
        <div class="navigation-drawer__item__label">
          Dashboard
        </div>
      </a>

      <a href="<%= admin_posts_path %>" class="navigation-drawer__item <%= "navigation-drawer__item--active" if request.path.start_with?("/admin/posts") %>">
        <div class="navigation-drawer__item__icon">
          <x-icon>article</x-icon>
        </div>
        <div class="navigation-drawer__item__label">
          Posts
        </div>
      </a>

      <a href="<%= admin_comments_path %>" class="navigation-drawer__item <%= "navigation-drawer__item--active" if request.path.start_with?("/admin/comments") %>">
        <div class="navigation-drawer__item__icon">
          <x-icon>comment</x-icon>
        </div>
        <div class="navigation-drawer__item__label">
          Comments
        </div>
      </a>

      <a href="<%= admin_tags_path %>" class="navigation-drawer__item <%= "navigation-drawer__item--active" if request.path.start_with?("/admin/tags") %>">
        <div class="navigation-drawer__item__icon">
          <x-icon>label</x-icon>
        </div>
        <div class="navigation-drawer__item__label">
          Tags
        </div>
      </a>

      <a href="<%= admin_accounts_path %>" class="navigation-drawer__item <%= "navigation-drawer__item--active" if request.path.start_with?("/admin/accounts") %>">
        <div class="navigation-drawer__item__icon">
          <x-icon>account_circle</x-icon>
        </div>
        <div class="navigation-drawer__item__label">
          Accounts
        </div>
      </a>

      <a href="<%= admin_users_path %>" class="navigation-drawer__item <%= "navigation-drawer__item--active" if request.path.start_with?("/admin/users") %>">
        <div class="navigation-drawer__item__icon">
          <x-icon>person</x-icon>
        </div>
        <div class="navigation-drawer__item__label">
          Users
        </div>
      </a>

      <a href="<%= admin_organizations_path %>" class="navigation-drawer__item <%= "navigation-drawer__item--active" if request.path.start_with?("/admin/organizations") %>">
        <div class="navigation-drawer__item__icon">
          <x-icon>group</x-icon>
        </div>
        <div class="navigation-drawer__item__label">
          Organizations
        </div>
      </a>

      <a href="<%= admin_settings_root_path %>" class="navigation-drawer__item <%= "navigation-drawer__item--active" if request.path.start_with?("/admin/settings") %>">
        <div class="navigation-drawer__item__icon">
          <x-icon>settings</x-icon>
        </div>
        <div class="navigation-drawer__item__label">
          Settings
        </div>
      </a>
    </div>
  </div>
  <label for="navigation-drawer-toggle" class="navigation-drawer__scrim"></label>
</div>
