<div class="max-w-screen-sm mx-auto">
  <div class="card">
    <div class="flex items-center p-2">
      <a href="<%= settings_root_path %>" class="icon-button">
        <%= material_icon :arrow_back %>
      </a>
      <div class="text-lg font-medium flex-grow px-2">
        Password
      </div>
    </div>

    <div class="p-4">
      <%= form_with model: @user, url: settings_password_path do |form| %>
        <div class="form-field">
          <%= form.label :password_challenge, class: "form-label" %>
          <%= render "components/text_field", form: form, name: :password_challenge, type: :password_field, options: { autocomplete: "current-password" } %>
        </div>

        <div class="form-field">
          <%= form.label :password, class: "form-label" %>
          <%= render "components/text_field", form: form, name: :password, type: :password_field, options: { autocomplete: "new-password" } %>
        </div>

        <div class="form-field">
          <%= form.label :password_confirmation, class: "form-label" %>
          <%= render "components/text_field", form: form, name: :password_confirmation, type: :password_field, options: { autocomplete: "new-password" } %>
        </div>

        <div class="form-field">
          <button type="submit" class="filled-button">
            Save changes
          </button>
        </div>
      <% end %>
    </div>
  </div>
</div>
