<%= form_with model: @owner, url: account_dashboard_settings_profile_path, builder: CustomFormBuilder, class: 'form', id: 'profile-form', data: { controller: 'form' } do |form| %>
  <div class="form__field">
    <%= form.fields_for :account, include_id: false do |account_form| %>
      <%= account_form.text_field :name, prefix_text: ENV['HOST'] + '/' %>
    <% end %>
  </div>
  <div class="form__field">
    <%= form.text_field :name %>
  </div>
  <% if @owner.is_a? Organization %>
    <div class="form__field">
      <%= form.text_area :description %>
    </div>
  <% else %>
    <div class="form__field">
      <%= form.text_area :bio %>
    </div>
  <% end %>
  <button type="submit" class="button button--contained button--primary">
    <%= t 'common.save_changes' %>
  </button>
<% end %>
