<%= form_with model: @owner, url: account_dashboard_settings_profile_path, builder: CustomFormBuilder, class: 'form', id: 'profile-form' do |form| %>
  <div class="margin-bottom-3">
    <%= form.text_field :name %>
  </div>
  <% if @owner.is_a? Organization %>
    <div class="margin-bottom-3">
      <%= form.text_area :description %>
    </div>
  <% else %>
    <div class="margin-bottom-3">
      <%= form.text_area :bio %>
    </div>
  <% end %>
  <button type="submit" class="button button--contained button--primary">
    <%= t 'common.save_changes' %>
  </button>
<% end %>
