<div class="toolbar">
  <div class="toolbar__action">
    <a href="<%= account_dashboard_settings_path(@account) %>" class="button button--icon">
      <span class="material-icons">arrow_back</span>
    </a>
  </div>
  <div class="toolbar__title">
    Profile
  </div>
  <div class="toolbar__action">
    <a href="<%= account_root_path(@account) %>" class="button button--text">
      <div class="button__text">
        View
      </div>
    </a>
  </div>
</div>

<div class="container container--medium">
  <div class="padding">
    <%= render 'account/dashboard/settings/banner_images/form' %>
    <%= render 'account/dashboard/settings/avatars/form' %>
    <label class="label">Info</label>
    <%= render 'form' %>
  </div>
</div>
