<div class="container">
  <div class="padding">
    <div class="breadcrumb">
      <div class="breadcrumb__item">
        <a href="<%= account_root_path(@account) %>">
          <%= @account.display_name %>
        </a>
      </div>
      <div class="breadcrumb__item">
        <a href="<%= account_dashboard_root_path(@account) %>">
          <%= t 'common.dashboard' %>
        </a>
      </div>
      <div class="breadcrumb__item">
        <a href="<%= account_dashboard_settings_root_path(@account) %>">
          <%= t 'common.settings' %>
        </a>
      </div>
      <div class="breadcrumb__item breadcrumb__item--active">
        <%= t 'common.account_profile' %>
      </div>
    </div>
  </div>
</div>


<div class="container container--medium">
  <div class="padding">
    <h2 class="headline-4"><%= t 'common.account_profile' %></h2>
    <%= render 'account/dashboard/settings/banner_images/form' %>
    <%= render 'account/dashboard/settings/avatars/form' %>

    <h3 class="headline-5"><%= t 'common.info' %></h3>
    <%= render 'form' %>
  </div>
</div>
