<div class="container">
  <div class="padding">
    <div class="breadcrumb">
      <a href="<%= account_root_path(@account) %>" class="breadcrumb__item">
        <%= @account.display_name %>
      </a>
      <a href="<%= account_dashboard_root_path(@account) %>" class="breadcrumb__item">
        <%= t 'common.dashboard' %>
      </a>
      <a href="<%= account_dashboard_settings_path(@account) %>" class="breadcrumb__item">
        <%= t 'common.settings' %>
      </a>
      <span class="breadcrumb__item breadcrumb__item--active">
        <%= t 'common.account_profile' %>
      </span>
    </div>
  </div>
</div>


<div class="container container--medium">
  <div class="padding">
    <h2 class="headline-4"><%= t 'common.account_profile' %></h2>
    <%= render 'account/dashboard/settings/banner_images/form' %>
    <%= render 'account/dashboard/settings/avatars/form' %>

    <h3 class="headline-5"><%= t 'common.info' %></h3>
    <%= render 'form' %>
  </div>
</div>
