<%= form_with model: organization, url: dashboard_settings_profile_path do |form| %>
  <div class="form-field">
    <%= form.label :banner_image, class: "form-label" %>
    <%= render "components/image_field", form: form, name: :banner_image %>
  </div>

  <div class="form-field">
    <%= form.label :avatar, class: "form-label" %>
    <%= render "components/avatar_field", form: form, name: :avatar %>
  </div>

  <div class="form-field">
    <%= form.label :name, class: "form-label" %>
    <%= render "components/text_field", form: form, name: :name %>
  </div>

  <%= form.fields_for :account do |account_form| %>
    <div class="form-field">
      <%= account_form.label :name, class: "form-label" %>
      <%= render "components/text_field", form: account_form, name: :name, prefix: "@" %>
    </div>
  <% end %>

  <div class="form-field">
    <%= form.label :description, class: "form-label" %>
    <%= render "components/text_field", form: form, name: :description, type: :text_area, options: { rows: 3 } %>
  </div>

  <div class="form-field">
    <button type="submit" class="button button--filled">
      Save changes
    </button>
  </div>
<% end %>
