<%= form_with model: user, url: dashboard_settings_profile_path do |form| %>
  <%= render "components/image_field", form: form, name: :banner_image %>

  <%= render "components/avatar_field", form: form, name: :avatar %>

  <%= render "components/text_field", form: form, name: :name %>

  <%= form.fields_for :account do |account_form| %>
    <%= render "components/text_field", form: account_form, name: :name, prefix: "@" %>
  <% end %>

  <%= render "components/text_field", form: form, name: :bio, type: :text_area, options: { rows: 3 } %>

  <div class="mt-4">
    <button type="submit" class="btn btn-primary">
      <%= t "general.save_changes" %>
    </button>
  </div>
<% end %>
