<%= form_with model: @user, builder: CustomFormBuilder, html: { class: 'form', id: 'sign-up-form' } do |form| %>
  <%= form.fields_for :account do |account_form| %>
    <div class="form__field">
      <%= account_form.text_field :name, prefix_text: ENV['HOST'] + '/', helper_text: t('.account_name_helper_text') %>
    </div>
  <% end %>
  <div class="form__field">
    <%= form.text_field :name %>
  </div>
  <div class="form__field">
    <%= form.text_field :email %>
  </div>
  <div class="form__field">
    <%= form.password_field :password %>
  </div>
  <%= form.submit t('common.sign_up'), class: 'button button--contained button--primary button--full-width' %>
<% end %>
