<%= form_with model: @user, builder: CustomFormBuilder, html: { class: 'form', id: 'sign-up-form' }, data: { turbo: 'false' } do |form| %>
  <%= form.fields_for :account do |account_form| %>
    <div class="margin-bottom-3">
      <%= account_form.text_field :name, prefix_text: ENV['HOST'] + '/', helper_text: t('.account_name_helper_text') %>
    </div>
  <% end %>
  <div class="margin-bottom-3">
    <%= form.text_field :name %>
  </div>
  <div class="margin-bottom-3">
    <%= form.text_field :email %>
  </div>
  <div class="margin-bottom-3">
    <%= form.password_field :password %>
  </div>
  <div class="margin-bottom-3">
    <%= recaptcha_tags %>
  </div>
  <button type="submit" class="button button--filled justify-content-center width-100">
    <%= t('common.sign_up') %>
  </button>
<% end %>
