<div class="comment" id="comment-<%= comment.id %>">
  <div class="comment__avatar">
    <div class="avatar">
      <a href="<%= account_root_path(comment.user.account) %>">
        <%= avatar_image_tag comment.user.avatar %>
      </a>
    </div>
  </div>
  <div class="flex-grow-1">
    <div class="comment__header">
      <div class="toolbar">
        <div class="comment__meta">
          <a href="<%= account_root_path(comment.user.account) %>" class="link-text text-bold">
            <%= comment.user.name %>
          </a>
          <a href="<%= account_post_comment_path(@account, @post, comment) %>" class="link-text">
            <span class="text-muted">
              <%= local_time comment.created_at, format: :short %>
            </span>
          </a>
        </div>
        <div class="toolbar__action">
          <div class="dropdown" data-controller="dropdown">
            <button type="button" class="button button--icon" data-action="dropdown#toggle">
              <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#000000"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M6 10c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm12 0c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm-6 0c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2z"/></svg>
            </button>
            <div class="dropdown__menu dropdown__menu--top-right">
              <% if comment.user == current_user %>
                <a href="<%= edit_account_post_comment_path(@account, @post, comment) %>" class="dropdown__item">
                  Edit
                </a>
                <%= form_with url: account_post_comment_path(@account, @post, comment), method: 'delete' do |form| %>
                  <button type="submit" class="dropdown__item" data-confirm="Are you sure delete this comment?">
                    Delete
                  </button>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="comment__content">
      <%= simple_format comment.content %>
    </div>
    <div class="comment__footer">
      <div class="toolbar">
        <div class="toolbar__action">
          <%= render 'account/posts/comments/likes/button', comment: comment %>
        </div>
        <% if comment.replies_count > 0 %>
          <div class="toolbar__text">
            <a href="<%= account_post_comment_path(@account, @post, comment) %>" class="link-text text-muted">
              <span class="text-muted">
                <%= comment.replies_count %> replies
              </span>
            </a>
          </div>
        <% end %>
        <div class="toolbar__space">
        </div>
        <div class="toolbar__action">
          <a href="<%= account_post_comment_path(@account, @post, comment, anchor: 'comment-form') %>" class="button button--text">
            <div class="button__icon">
              <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#000000"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M10 9V5l-7 7 7 7v-4.1c5 0 8.5 1.6 11 5.1-1-5-4-10-11-11z"/></svg>
            </div>
            <div class="button__text">
              Reply
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
