<div class="comment padding-y-3" id="comment-<%= comment.id %>" data-controller="comment" data-comment-id-value="<%= comment.id %>">
  <%= render "account/posts/comments/comment_content", comment: comment %>

  <div class="comment__replies">
    <a href="#comment-<%= comment.id %>" class="comment__border-link"></a>

    <div id="comment-<%= comment.id%>-reply">
    </div>

    <div id="comment-<%= comment.id%>-reply-list" class="divide-y" data-comment-target="replyList">
    </div>
  </div>

</div>
