<div class="padding-x-4 padding-y-3" id="comment-<%= comment.id %>" data-controller="comment" data-comment-id-value="<%= comment.id %>">
  <div class="display-flex gap-1 align-items-center margin-bottom-3">
    <div class="display-flex gap-2">
      <div class="avatar avatar--small">
        <%= avatar_image_tag comment.user.avatar %>
      </div>
      <div>
        <b><%= comment.user.name %></b>
      </div>
    </div>
    <span class="text-muted">&centerdot;</span>
    <a href="<%= account_post_comment_path(@account, @post, comment) %>" class="link-text">
      <span class="text-muted"><%= format_time comment.created_at %></span>
    </a>

    <div class="flex-grow-1"></div>

    <div class="dropdown dropdown--right">
      <label tabindex="0" class="button button--icon">
        <span class="material-icons">more_horiz</span>
      </label>
      <div tabindex="0" class="dropdown__container">
        <a href="<%= edit_account_post_comment_path(@account, @post, comment) %>" class="dropdown__item" data-visible-to-user="<%= comment.user_id %>">
          <%= t 'common.edit' %>
        </a>
        <%= form_with url: account_post_comment_path(@account, @post, comment), method: 'delete', data: { 'visible-to-user': comment.user_id, 'turbo-confirm': "Are you sure delete this comment?" } do |form| %>
          <button type="submit" class="dropdown__item">
            <%= t 'common.delete' %>
          </button>
        <% end %>
      </div>
    </div>
  </div>

  <% if comment.parent %>
    <a href="<%= account_post_comment_path(@account, @post, comment.parent) %>" class="card card--filled padding-3 margin-bottom-3 comment__reply-to">
        <span><%= t 'common.reply_to' %></span>
        <b><%= comment.parent.user.name %></b>
        <span> - </span>
        <span><%= comment_summary comment.parent %></span>
    </a>
  <% end %>

  <div class="typography margin-bottom-3">
    <%= markdown_render comment.content %>
  </div>

  <div class="display-flex gap-3">
    <%= render 'account/posts/comments/likes/button', comment: comment %>

    <a href="<%= account_post_comment_path(@account, @post, comment, anchor: "reply") %>" class="button button--icon">
      <span class="material-icons">reply</span>
    </a>

    <div class="flex-grow-1">
    </div>

    <% if comment.replies_count > 0 %>
      <div class="display-flex gap-1 align-items-center">
        <a href="<%= account_post_comment_path(@account, @post, comment, anchor: "replies") %>" class="button button--text button--muted">
          <div class="button__label">
            <%= comment.replies_count %> <%= t 'common.replies' %>
          </div>
          <div class="button__icon">
            <span class="material-icons">arrow_right_alt</span>
          </div>
        </a>
      </div>
    <% end %>
  </div>
</div>
