<div class="display-flex gap-3 padding-y-3 border-bottom" id="comment-<%= comment.id %>">
  <div class="avatar">
    <a href="<%= account_root_path(comment.user.account) %>">
      <%= avatar_image_tag comment.user.avatar %>
    </a>
  </div>
  <div class="flex-grow-1">
    <div class="display-flex align-items-center">
      <div class="flex-grow-1">
        <a href="<%= account_root_path(comment.user.account) %>" class="link-text text-bold">
          <%= comment.user.name %>
        </a>
        <a href="<%= account_post_comment_path(@account, @post, comment) %>" class="link-text">
          <span class="text-muted">
            <%= format_time comment.created_at %>
          </span>
        </a>
      </div>
      <div class="toolbar__action" data-visible-to-user="<%= comment.user_id %>">
        <div class="dropdown" data-controller="dropdown">
          <button type="button" class="button button--icon" data-action="dropdown#toggle">
            <span class="material-icons">more_horiz</span>
          </button>
          <div class="dropdown__container dropdown__container--top-right">
            <a href="<%= edit_account_post_comment_path(@account, @post, comment) %>" class="dropdown__item" data-visible-to-user="<%= comment.user_id %>">
              <%= t 'common.edit' %>
            </a>
            <%= form_with url: account_post_comment_path(@account, @post, comment), method: 'delete', data: { 'visible-to-user': comment.user_id } do |form| %>
              <button type="submit" class="dropdown__item" data-confirm="Are you sure delete this comment?">
                <%= t 'common.delete' %>
              </button>
            <% end %>
          </div>
        </div>
      </div>
    </div>

    <div class="typography">
      <%= markdown_render comment.content %>
    </div>

    <div class="display-flex justify-content-center">
      <%= render 'account/posts/comments/likes/button', comment: comment %>
      <a href="<%= account_post_comment_path(@account, @post, comment, anchor: "reply") %>" class="button button--text button--muted">
        <div class="button__icon">
          <span class="material-icons">reply</span>
        </div>
        <div class="button__text">
          <%= t 'common.reply' %>
        </div>
      </a>
      <div class="flex-grow-1">
      </div>
      <% if comment.replies_count > 0 %>
        <a href="<%= account_post_comment_path(@account, @post, comment) %>" class="button button--text button--muted">
          <div class="button__label">
            <%= comment.replies_count %> <%= t 'common.replies' %>
          </div>
          <div class="button__icon">
            <span class="material-icons">arrow_right_alt</span>
          </div>
        </a>
      <% end %>
    </div>
  </div>
</div>
