<div class="comment" id="comment-<%= comment.id %>">
  <div class="comment__avatar">
    <div class="avatar">
      <a href="<%= account_root_path(comment.user.account) %>">
        <%= avatar_image_tag comment.user.avatar %>
      </a>
    </div>
  </div>
  <div class="flex-grow-1">
    <div class="comment__header">
      <div class="toolbar">
        <div class="comment__meta">
          <a href="<%= account_root_path(comment.user.account) %>" class="link-text text-bold">
            <%= comment.user.name %>
          </a>
          <a href="<%= account_post_comment_path(@account, @post, comment) %>" class="link-text-muted">
            <%= l comment.created_at, format: :short %>
          </a>
        </div>
        <div class="toolbar__action">
          <div class="dropdown" data-controller="dropdown">
            <button type="button" class="button button--icon" data-action="dropdown#toggle">
              <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#000000"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M6 10c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm12 0c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm-6 0c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2z"/></svg>
            </button>
            <div class="dropdown__menu dropdown__menu--top-right">
              <% if comment.user == current_user %>
                <a href="<%= edit_account_post_comment_path(@account, @post, comment) %>" class="dropdown__item">
                  Edit
                </a>
                <%= form_with url: account_post_comment_path(@account, @post, comment), method: 'delete' do |form| %>
                  <button type="submit" class="dropdown__item" data-confirm="Are you sure delete this comment?">
                    Delete
                  </button>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="comment__content">
      <%= simple_format comment.content %>
    </div>
    <div class="comment__footer">
      <div class="toolbar">
        <div class="toolbar__action">
          <%= render 'account/posts/comments/likes/button', comment: comment %>
        </div>
        <div class="toolbar__action">
          <a href="<%= account_post_comment_path(@account, @post, comment) %>" class="button button--text">
            <div class="button__icon">
              <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#000000"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M21.99 4c0-1.1-.89-2-1.99-2H4c-1.1 0-2 .9-2 2v12c0 1.1.9 2 2 2h14l4 4-.01-18zM20 4v13.17L18.83 16H4V4h16zM6 12h12v2H6zm0-3h12v2H6zm0-3h12v2H6z"/></svg>
            </div>
            <% if comment.replies_count > 0 %>
              <div class="button__text">
                <%= comment.replies_count %>
              </div>
            <% end %>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
