<div class="padding-x-4 padding-y-3" id="comment-<%= comment.id %>" data-controller="comment" data-comment-id-value="<%= comment.id %>">
  <div class="display-flex gap-1 align-items-center margin-bottom-3">
    <div class="display-flex gap-2">
      <div class="avatar avatar--small">
        <%= avatar_image_tag comment.user.avatar %>
      </div>
      <div>
        <b><%= comment.user.name %></b>
      </div>
    </div>
    <span class="text-muted">&centerdot;</span>
    <a href="<%= account_post_comment_path(@account, @post, comment) %>" class="link-text">
      <span class="text-muted"><%= format_time comment.created_at %></span>
    </a>

    <div class="flex-grow-1"></div>

    <div class="dropdown dropdown--right">
      <label tabindex="0" class="button button--icon">
        <span class="material-icons">more_horiz</span>
      </label>
      <div tabindex="0" class="dropdown__container">
        <a href="<%= edit_account_post_comment_path(@account, @post, comment) %>" class="dropdown__item" data-visible-to-user="<%= comment.user_id %>">
          <%= t 'common.edit' %>
        </a>
        <%= form_with url: account_post_comment_path(@account, @post, comment), method: 'delete', data: { 'visible-to-user': comment.user_id, 'turbo-confirm': "Are you sure delete this comment?" } do |form| %>
          <button type="submit" class="dropdown__item">
            <%= t 'common.delete' %>
          </button>
        <% end %>
      </div>
    </div>
  </div>

  <div class="typography">
    <%= markdown_render comment.content %>
  </div>

  <div class="display-flex gap-3">
    <%= render 'account/posts/comments/likes/button', comment: comment %>

    <% if comment.replies_count > 0 %>
      <div class="display-flex gap-1 align-items-center">
        <a href="<%= account_post_comment_path(@account, @post, comment, anchor: "replies") %>" class="button button--icon">
          <span class="material-icons">comment</span>
        </a>
        <div class="">
          <%= comment.replies_count %>
        </div>
      </div>
    <% end %>

    <div class="flex-grow-1">
    </div>

    <a href="<%= account_post_comment_path(@account, @post, comment) %>" class="button button--text button--muted">
      <%= t 'common.reply' %>
    </a>
  </div>
</div>
