<div class="comment" id="comment-form">
  <div class="comment__avatar">
    <div class="avatar">
      <%= avatar_image_tag current_user.avatar %>
    </div>
  </div>
  <div class="flex-grow-1">
    <div class="padding-y padding-right">
      <%= form_with model: comment, url: [@account, @post, comment], builder: CustomFormBuilder, class: 'form' do |form| %>
        <%= form.hidden_field :parent_id %>
        <div class="form__field">
          <%= form.text_area :content, rows: 3 %>
          <script>
            if (document.location.hash == '#reply') {
              document.getElementById('comment_content').focus()
            }
          </script>
        </div>
        <% if comment.new_record? %>
          <button type="submit" class="button button--contained button--primary">
            <%= t 'common.submit' %>
          </button>
        <% else %>
          <button type="submit" class="button button--contained button--primary">
            <%= t 'common.save_changes' %>
          </button>
          <a href="<%= account_post_comment_path(@account, @post, comment) %>" class="button button--text">
            <%= t 'common.cancel' %>
          </a>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
