<%
  form_id =if comment.new_record?
    "comment-#{comment.parent_id}-new-form"
  elsif
    "comment-#{comment.id}-form"
  end
%>

<div class="padding-y-3 comment-form" id="<%= form_id %>" data-controller="removable">
  <%= form_with model: comment, url: [@account, @post, comment], builder: CustomFormBuilder do |form| %>
    <%= form.hidden_field :parent_id %>
    <div class="margin-bottom-3">
      <%= render "components/markdown_editor", autofocus: true do %>
        <%= form.hidden_field :content, data: { markdown_editor_target: "input" }, placeholder: "" %>
      <% end %>
    </div>
    <div class="display-flex gap-2">
      <% if comment.new_record? %>
        <button type="submit" class="button button--filled">
          <%= t 'common.submit' %>
        </button>
        <button type="button" class="button button--text" data-action="removable#remove">
          <%= t 'common.cancel' %>
        </button>
      <% else %>
        <button type="submit" class="button button--filled">
          <%= t 'common.save_changes' %>
        </button>
        <a href="<%= account_post_comment_path(@account, @post, comment) %>" class="button button--text">
          <%= t 'common.cancel' %>
        </a>
      <% end %>
    </div>
  <% end %>
</div>
