<div class="card card--filled padding-3" id="comment-form">
  <div class="display-flex gap-3">
    <div class="flex-shrink-0">
      <div class="avatar">
        <%= avatar_image_tag current_user.avatar %>
      </div>
    </div>
    <div class="flex-grow-1">
      <div class="padding-y padding-right">
        <%= form_with model: comment, url: [@account, @post, comment], builder: CustomFormBuilder, class: 'form' do |form| %>
          <%= form.hidden_field :parent_id %>
          <div class="margin-bottom-3">
            <%= form.hidden_field :content, id: 'comment-content' %>
            <div class="markdown-editor" data-controller="markdown-editor" data-markdown-editor-input-value="comment-content" data-markdown-editor-direct-upload-url-value="<%= rails_direct_uploads_path %>">
            </div>
          </div>
          <% if comment.new_record? %>
            <button type="submit" class="button button--filled">
              <%= t 'common.submit' %>
            </button>
          <% else %>
            <button type="submit" class="button button--filled">
              <%= t 'common.save_changes' %>
            </button>
            <a href="<%= account_post_comment_path(@account, @post, comment) %>" class="button button--text">
              <%= t 'common.cancel' %>
            </a>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
