<div class="container container--post padding-3">
  <div class="headline-medium margin-bottom-3">
    <a href="<%= account_post_path(@account, @post) %>" class="link-title">
      <%= @post.title %>
    </a>
  </div>

  <div class="margin-bottom-3">
    <a href="<%= account_post_comment_path(@account, @post, @comment) %>" class="button button--outlined">
      <div class="button__icon">
        <span class="material-icons">arrow_back</span>
      </div>
      <div class="button__label">
        <%= t 'common.back_to_comment' %>
      </div>
    </a>
  </div>

  <div class="padding-y-3">
    <%= render 'form', comment: @comment %>
  </div>
</div>
