<% @body_class = "background-surface" %>

<div class="container container--post padding-3">
  <div class="breadcrumb title-medium padding-3">
    <div class="breadcrumb__item">
      <a href="<%= account_post_path(@account, @post) %>">
        <%= @post.title %>
      </a>
    </div>
    <div class="breadcrumb__item">
      <a href="<%= account_post_comments_path(@account, @post) %>">
        <%= t 'common.comments' %>
      </a>
    </div>
    <div class="breadcrumb__item">
      <a href="<%= account_post_comment_path(@account, @post, @comment) %>">
        <%= @comment.id %>
      </a>
    </div>
    <div class="breadcrumb__item breadcrumb__item--active">
      <%= t 'common.edit' %>
    </div>
  </div>

  <%= render 'form', comment: @comment %>
</div>
