<div class="container">
  <div class="layout">
    <div class="main">
      <div class="card card--surface padding-3 margin-bottom-3">
        <div class="breadcrumb">
          <div class="breadcrumb__item">
            <a href="<%= account_post_path(@account, @post) %>">
              <%= @post.title %>
            </a>
          </div>
          <div class="breadcrumb__item breadcrumb__item--active">
            <%= t 'common.comments' %>
          </div>
        </div>
      </div>

      <div id="comments" class="display-flex flex-direction-column gap-3">
        <%= render partial: 'account/posts/comments/comment', collection: @comments, cached: -> (comment) { [comment, comment.liked] } %>
      </div>

      <div class="margin-3">
        <%= paginate @comments %>
      </div>

      <% if @post.allow_comments? %>
        <div class="margin-top-3">
          <% if current_user %>
            <%= render 'account/posts/comments/form', comment: Comment.new %>
          <% else %>
            <a href="<%= sign_in_path(return_to: url_for()) %>" class="button button--filled">
              <%= t 'common.sign_in_to_comment' %>
            </a>
          <% end %>
        </div>
      <% else %>
        <div class="padding-3 text-muted text-align-center">
          <%= t 'common.comment_is_disabled' %>
        </div>
      <% end %>
    </div>

  </div>
