<div class="container container--post">
  <div class="breadcrumb padding">
    <a href="<%= account_post_path(@account, @post) %>" class="breadcrumb__item">
      <%= @post.title %>
    </a>
    <span class="breadcrumb__item breadcrumb__item--active">
      Comments
    </span>
  </div>
  <% if current_user %>
    <%= render 'form', comment: Comment.new %>
  <% else %>
    <div class="padding">
      <a href="<%= sign_in_path(return_to: url_for()) %>" class="button button--contained button--primary" data-turbo-frame="_top">Sign in to comment</a>
    </div>
  <% end %>
  <hr class="divider">
  <div id="comments" class="comments">
    <%= render @comments %>
  </div>
  <div class="toolbar">
    <div class="toolbar__space">
    </div>
    <div class="toolbar__text">
      <%= page_entries_info @comments %>
    </div>
    <div class="toolbar__action">
      <%= paginate @comments %>
    </div>
  </div>
</div>
