<div class="navbar px-0 gap-4">
  <div class="flex-none">
    <a href="<%= account_post_path(@account.name, @post) %>" class="btn btn-square btn-ghost">
      <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-arrow-left-icon lucide-arrow-left"><path d="m12 19-7-7 7-7"/><path d="M19 12H5"/></svg>
    </a>
  </div>
  <div class="flex-grow">
    <div class="text-xl font-medium">
      <%= t "general.comments" %>
    </div>
  </div>
</div>

<div class="layout-main-sidebar">
  <div>
    <% if @post.allow_comments? %>
      <div class="card card-border border-base-300 bg-base-100">
        <div class="card-body">
          <div class="card-title">
            <%= t "general.new_comment" %>
          </div>

          <% if Current.user %>
            <%= render "account/comments/form", comment: Current.user.comments.new(commentable: @post), open: params[:comment].present? %>
          <% else %>
            <div class="py-4">
              <a href="<%= new_session_path %>" class="btn btn-primary">
                <%= t "general.sign_in_to_comment" %>
              </a>
            </div>
          <% end %>
        </div>
      </div>

      <div id="comments" class="card card-border border-base-300 bg-base-100 mt-4">
        <div class="card-body">
          <div class="flex items-center gap-4 pb-4 border-b border-base-300">
            <div class="card-title flex-grow">
              <%= t "general.all_comments" %> <%= @pagy.count %>
            </div>
            <div class="dropdown">
              <label tabindex="0" class="btn btn-ghost">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-arrow-down-wide-narrow-icon lucide-arrow-down-wide-narrow"><path d="m3 16 4 4 4-4"/><path d="M7 20V4"/><path d="M11 4h10"/><path d="M11 8h7"/><path d="M11 12h4"/></svg>
                <%=
                  case @sort
                  when "oldest"
                    t("general.oldest")
                  when "popular"
                    t("general.popular")
                  else
                    t("general.newest")
                  end
                %>
              </label>
              <ul class="dropdown-content menu w-52 bg-base-100 p-2 shadow-sm">
                <li>
                  <a href="<%= url_for(sort: nil) %>">
                    <%= t "general.newest" %>
                  </a>
                </li>
                <li>
                  <a href="<%= url_for(sort: "oldest") %>">
                    <%= t "general.oldest" %>
                  </a>
                </li>
                <li>
                  <a href="<%= url_for(sort: "popular") %>">
                    <%= t "general.popular" %>
                  </a>
                </li>
              </ul>
            </div>
          </div>

          <div class="">
            <%= render "components/scroll_pagination", pagy: @pagy, content_id: "comments_list" do %>
              <%= render partial: "account/comments/comment", collection: @comments, cached: -> comment { [ comment.user, comment ]} %>
              <%= render "account/comments/status", comments: @comments %>
            <% end %>
          </div>
        </div>
      </div>
    <% else %>
      <div class="card p-4">
        <div class="flex items-center justify-center gap-4 text-on-surface-variant">
          <x-icon>lock</x-icon>
          <div class="text-sm">
            <%= t "general.comments_is_disabled" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>

  <div>

  </div>
</div>
