<div class="top-app-bar">
  <a href="<%= account_post_path(@account.name, @post) %>" class="icon-button">
    <x-icon>arrow_back</x-icon>
  </a>
  <div class="top-app-bar__headline">
    <%= t "general.comments" %>
  </div>
</div>

<div class="layout-main-sidebar">
  <div>
    <div class="card mt-4">
      <div class="text-lg p-4 pb-0">
        <%= t "general.post" %>
        <a href="<%= account_post_path(@post.account.name, @post) %>" class="text-primary underline">
          <%= @post.title %>
        </a>
      </div>

      <% if Current.user %>
        <div class="p-4">
          <%= render "account/comments/form", comment: Current.user.comments.new(commentable: @post), open: params[:comment].present? %>
        </div>
      <% end %>
    </div>

    <div id="comments" class="">
      <div class="flex items-center p-2 gap-4">
        <div class="flex-grow font-medium px-2">
          <%= t "general.comments" %> <%= @pagy.count %>
        </div>
        <div class="menu">
          <label tabindex="0" class="button button--text text-on-surface-variant">
            <x-icon>sort</x-icon>
            <span>
              <%=
                case @sort
                when "oldest"
                  t("general.oldest")
                when "likes"
                  t("general.most_likes")
                else
                  t("general.newest")
                end
              %>
            </span>
          </label>
          <div class="menu__content top-full right-0 origin-top-right">
            <a href="<%= url_for(sort: nil) %>" class="menu__item">
              <%= t "general.newest" %>
            </a>
            <a href="<%= url_for(sort: "oldest") %>" class="menu__item">
              <%= t "general.oldest" %>
            </a>
            <a href="<%= url_for(sort: "likes") %>" class="menu__item">
              <%= t "general.most_likes" %>
            </a>
          </div>
        </div>
      </div>

      <div class="">
        <%= render "components/scroll_pagination", pagy: @pagy, content_id: "comments_list" do %>
          <%= render partial: "account/comments/comment", collection: @comments, cached: -> comment { [ comment.user, comment ]} %>
          <%= render "account/comments/status", comments: @comments %>
        <% end %>
      </div>
    </div>
  </div>

  <div>

  </div>
</div>
