<div class="container">
  <div class="layout">
    <div class="main">
      <div class="card card--filled padding-3 margin-bottom-3">
        <div class="breadcrumb">
          <div class="breadcrumb__item">
            <a href="<%= account_post_path(@account, @post) %>">
              <%= @post.title %>
            </a>
          </div>
          <div class="breadcrumb__item">
            <a href="<%= account_post_comments_path(@account, @post) %>">
              <%= t 'common.comments' %>
            </a>
          </div>
          <div class="breadcrumb__item breadcrumb__item--active">
            <%= @comment.id %>
          </div>
        </div>
      </div>

      <div class="margin-bottom-3">
        <%= render partial: 'comment', object: @comment %>
      </div>

      <div class="margin-bottom-3">
        <% if current_user %>
          <%= render 'form', comment: @comment.replies.new %>
        <% else %>
          <a href="<%= sign_in_path(return_to: url_for()) %>" class="button button--filled">
            <%= t 'common.sign_in_to_comment' %>
          </a>
        <% end %>
      </div>

      <div id="comments" class="display-flex flex-direction-column gap-3 comment-replies">
        <%= render partial: 'comment', collection: @comment.replies.with_liked(current_user).order(created_at: :desc), cached: -> (comment) { [comment, comment.liked] } %>
      </div>
    </div>
  </div>

</div>
