<div class="container container--post padding-3">
  <div class="title-medium display-flex align-items-center gap-2 margin-bottom-4">
    <a href="<%= account_root_path(@account) %>" class="link-title display-inline-flex gap-1">
      <div class="avatar avatar--small">
        <%= avatar_image_tag @account.owner.avatar %>
      </div>
      <%= @account.display_name %>
    </a>
    <span class="material-icons">chevron_right</span>
    <a href="<%= account_post_path(@account, @post) %>" class="link-title">
      <%= @post.title %>
    </a>
    <span class="material-icons">chevron_right</span>
    <a href="<%= account_post_comments_path(@account, @post) %>" class="link-title">
      <%= t 'common.comments' %>
    </a>
  </div>
  <div class="comment-thread">
    <%= render partial: 'comment', collection: @comment.ancestors.reverse, cached: -> (comment) { [comment, comment.liked] } %>
  </div>
  <div data-controller="focusable">
    <%= render partial: 'comment', object: @comment %>
  </div>
  <div class="padding-y-3 border-bottom">
    <% if current_user %>
      <%= render 'form', comment: Comment.new(parent: @comment) %>
    <% else %>
      <a href="<%= sign_in_path(return_to: url_for()) %>" class="button button--filled">Sign in to comment</a>
    <% end %>
  </div>
  <div id="comments" class="comments">
    <%= render partial: 'comment', collection: @comment.replies.hot.with_liked(current_user), cached: -> (comment) { [comment, comment.liked] } %>
  </div>
</div>
