<div class="container padding-3">
  <div class="post-layout">
    <div></div>

    <div class="card card--elevated">
      <div class="breadcrumb padding-x-4 padding-y-3">
        <div class="breadcrumb__item">
          <a href="<%= account_post_path(@account, @post) %>">
            <%= @post.title %>
          </a>
        </div>
        <div class="breadcrumb__item">
          <a href="<%= account_post_comments_path(@account, @post) %>">
            <%= t 'common.comments' %>
          </a>
        </div>
        <div class="breadcrumb__item breadcrumb__item--active">
          <a href="<%= account_post_comment_path(@account, @post, @comment) %>">
            <%= @comment.id %>
          </a>
        </div>
      </div>

      <%= render @comment %>

      <div class="padding-x-4">
        <div class="divider"></div>
      </div>

      <div id="reply">
        <% if @post.allow_comments? %>
          <% if current_user %>
            <%= render 'form', comment: @comment.replies.new %>
          <% else %>
            <a href="<%= sign_in_path(return_to: url_for()) %>" class="button button--filled">
              <%= t 'common.sign_in_to_comment' %>
            </a>
          <% end %>
        <% else %>
          <div class="padding-3 text-muted text-align-center">
            <%= t 'common.comment_is_disabled' %>
          </div>
        <% end %>
      </div>

      <div id="comments" class="comment-replies border-top divide-y" data-liked-ids="<%= "[#{@replies.filter(&:liked).map(&:id).join(',')}]" %>">
        <%= render partial: 'comment', collection: @replies, cached: true %>
      </div>

      <div class="margin-3">
        <%= paginate @replies %>
      </div>
    </div>

    <div>
      <div class="card card--elevated padding-3">
        <div class="display-flex gap-3 position-relative">
          <div class="avatar">
            <%= avatar_image_tag @comment.user.avatar %>
          </div>
          <div class="flex-grow-1">
            <div class="title-medium">
              <a href="<%= account_root_path(@comment.user.account) %>" class="link-text link-expended">
                <%= @comment.user.name %>
              </a>
            </div>
            <div class="body-medium">
              <%= @comment.user.bio %>
            </div>
          </div>
          <div>
            <% if @comment.user != current_user %>
              <%= render 'account/follows/button', account: @comment.user.account %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
