<div class="container container--post">
  <div class="breadcrumb padding">
    <a href="<%= account_post_path(@account, @post) %>" class="breadcrumb__item">
      <%= @post.title %>
    </a>
    <a href="<%= account_post_comments_path(@account, @post) %>" class="breadcrumb__item">
      Comments
    </a>
  </div>
  <div class="comment-thread">
    <%= render @comment.ancestors.reverse %>
    <%= render @comment %>
    <% if current_user %>
      <%= render 'form', comment: Comment.new(parent: @comment) %>
    <% else %>
      <div class="padding">
        <a href="<%= sign_in_path(return_to: url_for()) %>" class="button button--contained button--primary" data-turbo-frame="_top">Sign in to comment</a>
      </div>
    <% end %>
  </div>
  <hr class="divider margin-x">
  <div class="subheader">
    Replies
  </div>
  <div id="comments" class="comments">
    <%= render @comment.replies.with_liked(current_user) %>
  </div>
</div>
