<%= form_with model: @member, url: [@account, :dashboard, @member], builder: CustomFormBuilder, class: 'form', id: 'member-form' do |form| %>
  <div class="margin-bottom-3">
    <% if @member.new_record? %>
      <%= form.text_field :identifier %>
    <% else %>
      <label class="label"><%= Member.human_attribute_name 'identifier' %></label>
      <%= @member.user ? @member.user.name : @member.invitation_email %>
    <% end %>
  </div>
  <div class="margin-bottom-3">
    <label class="label"><%= t 'common.role' %></label>
    <div class="form__control">
      <%= form.radio_button :role, :contributor %>
      <label for="member_role_contributor" class="form__control__label">
        <div class="primary-text">
          <%= Member.human_attribute_name "role.contributor" %>
        </div>
        <div class="secondary-text">
          <%= t '.role_contributor_description' %>
        </div>
      </label>
    </div>
    <div class="form__control">
      <%= form.radio_button :role, :writer %>
      <label for="member_role_writer" class="form__control__label">
        <div class="primary-text">
          <%= Member.human_attribute_name "role.writer" %>
        </div>
        <div class="secondary-text">
          <%= t '.role_writer_description' %>
        </div>
      </label>
    </div>
    <% if Member.roles[current_member.role] < Member.roles['editor'] %>
      <div class="form__control">
        <%= form.radio_button :role, :editor %>
        <label for="member_role_editor" class="form__control__label">
          <div class="primary-text">
            <%= Member.human_attribute_name "role.editor" %>
          </div>
          <div class="secondary-text">
            <%= t '.role_editor_description' %>
          </div>
        </label>
      </div>
    <% end %>
    <% if current_member.owner? %>
      <div class="form__control">
        <%= form.radio_button :role, :admin %>
        <label for="member_role_admin" class="form__control__label">
          <div class="primary-text">
            <%= Member.human_attribute_name "role.admin" %>
          </div>
          <div class="secondary-text">
            <%= t '.role_admin_description' %>
          </div>
        </label>
      </div>
      <div class="form__control">
        <%= form.radio_button :role, :owner %>
        <label for="member_role_owner" class="form__control__label">
          <div class="primary-text">
            <%= Member.human_attribute_name "role.owner" %>
          </div>
          <div class="secondary-text">
            <%= t '.role_owner_description' %>
          </div>
        </label>
      </div>
    <% end %>
  </div>
  <button type="submit" class="button button--contained button--primary">
    <% if @member.new_record? %>
      <%= t 'common.send_invitation' %>
    <% else %>
      <%= t 'common.save_changes' %>
    <% end %>
  </button>
<% end %>
