<%= form_with model: @member, url: [@account, :dashboard, @member], builder: CustomFormBuilder, class: 'form', id: 'member-form' do |form| %>
  <% if @member.user.nil? %>
    <div class="margin-bottom-3">
      <%= form.text_field :invitation_email %>
    </div>
  <% end %>
  <% if current_member.owner? && !@member.owner? %>
    <div class="margin-bottom-3">
      <label class="display-block title-medium margin-bottom-2">
        <%= t 'common.role' %>
      </label>
      <label class="display-flex gap-2">
        <%= form.radio_button :role, :member %>
        <div class="flex-grow-1 padding-y-2">
          <div class="title-medium">
            <%= Member.human_attribute_name "role.member" %>
          </div>
          <div class="secondary-text">
            <%= t '.role_member_description' %>
          </div>
        </div>
      </label>
      <label class="display-flex gap-2">
        <%= form.radio_button :role, :admin %>
        <div for="member_role_admin" class="flex-grow-1 padding-y-2">
          <div class="title-medium">
            <%= Member.human_attribute_name "role.admin" %>
          </div>
          <div class="secondary-text">
            <%= t '.role_admin_description' %>
          </div>
        </div>
      </label>
    </div>
  <% end %>
  <button type="submit" class="button button--filled">
    <% if @member.new_record? %>
      <%= t 'common.send_invitation' %>
    <% else %>
      <%= t 'common.save_changes' %>
    <% end %>
  </button>
<% end %>
