<div class="container">
  <div class="padding">
    <div class="breadcrumb">
      <a href="<%= account_root_path(@account) %>" class="breadcrumb__item">
        <%= @account.display_name %>
      </a>
      <a href="<%= account_dashboard_root_path(@account) %>" class="breadcrumb__item">
        <%= t 'common.dashboard' %>
      </a>
      <a href="<%= account_dashboard_members_path(@account) %>" class="breadcrumb__item">
        <%= t 'common.members' %>
      </a>
      <a href="<%= account_dashboard_member_path(@account, @member) %>" class="breadcrumb__item">
        <%= t 'common.detail' %>
      </a>
      <span class="breadcrumb__item breadcrumb__item--active">
        <%= t 'common.edit' %>
      </span>
    </div>
  </div>
</div>

<div class="container container--small">
  <div class="padding">
    <%= render 'form' %>
  </div>
</div>
