<div class="card card--elevated background-surface">
  <div class="top-app-bar border-bottom">
    <div class="top-app-bar__title">
      <%= t 'common.members' %>
    </div>
    <div class="top-app-bar__action">
      <a href="<%= new_account_dashboard_member_path(@account) %>" class="button button--text button--muted">
        <div class="button__icon">
          <span class="material-icons">person_add</span>
        </div>
        <div class="button__text">
          <%= t 'common.invite_member' %>
        </div>
      </a>
    </div>
  </div>


  <% @members.each do |member| %>
    <div class="display-flex padding-3 position-relative border-bottom">
      <div class="flex-grow-1">
        <% if member.active? %>
          <div class="title-medium">
            <a href="<%= account_dashboard_member_path(@account, member) %>" class="link-title link-expended">
              <%= member.user.name %>
            </a>
          </div>
          <div class="text-muted">
            <%= member.user.email %>
          </div>
        <% else %>
          <div class="title-medium">
            <a href="<%= account_dashboard_member_path(@account, member) %>" class="link-title link-expended">
              <%= t 'common.pending' %>
            </a>
          </div>
          <div class="text-muted">
            <%= member.invitation_email %>
          </div>
        <% end %>
      </div>
      <div class="">
        <%= Member.human_attribute_name "role.#{member.role}" %>
      </div>
    </div>
  <% end %>
</div>
