<div class="container">
  <div class="padding">
    <div class="breadcrumb">
      <div class="breadcrumb__item">
        <a href="<%= account_root_path(@account) %>">
          <%= @account.display_name %>
        </a>
      </div>
      <div class="breadcrumb__item">
        <a href="<%= account_dashboard_root_path(@account) %>">
          <%= t 'common.dashboard' %>
        </a>
      </div>
      <div class="breadcrumb__item breadcrumb__item--active">
        <%= t 'common.members' %>
      </div>
    </div>
  </div>

  <div class="toolbar">
    <div class="toolbar__title headline-4">
      <%= t 'common.members' %>
    </div>
    <div class="toolbar__action">
      <a href="<%= new_account_dashboard_member_path %>" class="button button--contained button--primary button--last">
        <div class="button__icon">
          <span class="material-icons">person_add</span>
        </div>
        <div class="button__text">
          <%= t 'common.invite_member' %>
        </div>
      </a>
    </div>
  </div>

  <div class="padding">
    <table class="table border-bottom">
      <thead>
        <tr>
          <th><%= t 'common.name' %></th>
          <th class="table__cell--min"><%= t 'common.role' %></th>
        </tr>
      </thead>
      <tbody>
        <% @members.each do |member| %>
          <tr>
            <td class="position-relative">
              <a href="<%= account_dashboard_member_path(@account, member) %>" class="link-stretched link-styleless">
                <%= member.user.name %>
              </a>
            </td>
            <td class="table__cell--min">
              <%= Member.human_attribute_name "role.#{member.role}" %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <% if @pending_members.any? %>
      <div class="headline-5 margin-y">
        <%= t 'common.pending' %>
      </div>
      <table class="table border-bottom">
        <thead>
          <tr>
            <th><%= t 'common.indentifier' %></th>
            <th class="table__cell--min"><%= t 'common.role' %></th>
          </tr>
        </thead>
        <tbody>
          <% @pending_members.each do |member| %>
            <tr>
              <td class="position-relative">
                <a href="<%= account_dashboard_member_path(@account, member) %>" class="link-stretched link-styleless">
                  <% if member.user %>
                    <%= member.user.name %>
                  <% else %>
                    <%= member.invitation_email %>
                  <% end %>
                </a>
              </td>
              <td class="table__cell--min">
                <%= Member.human_attribute_name "role.#{member.role}" %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% end %>
  </div>
</div>
