<div class="app-bar app-bar--borderless">
  <div class="app-bar app-bar--borderless">
    <div class="toolbar">
      <div class="toolbar__title">
        Members
      </div>
      <% if current_member.has_permission?(:invite_member) %>
        <div class="toolbar__action">
          <a href="<%= new_account_dashboard_member_path %>" class="button button--text button--primary">
            <div class="button__icon">
              <span class="material-icons">person_add</span>
            </div>
            <div class="button__text">
              Invite member
            </div>
          </a>
        </div>
      <% end %>
    </div>
  </div>

  <div class="app-content">
    <div class="padding">
      <div class="card card--outlined">
        <table class="table table--flex">
          <thead>
            <tr>
              <td class="table__cell--title">Name</td>
              <td class="table__cell--attribute">Role</td>
            </tr>
          </thead>
          <tbody>
            <% @members.each do |member| %>
              <tr>
                <td class="table__cell--title">
                  <a href="<%= account_dashboard_member_path(@account, member) %>" class="table__row-link"></a>
                  <%= member.user.name %>
                </td>
                <td class="table__cell--attribute">
                  <%= Member.human_attribute_name "role.#{member.role}" %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
      <% if @pending_members.any? %>
        <div class="subheader">
          Pending
        </div>
        <div class="card card--outlined">
          <table class="table table--flex">
            <thead>
              <tr>
                <td class="table__cell--title">Indentifier</td>
                <td class="table__cell--attribute">Role</td>
              </tr>
            </thead>
            <tbody>
              <% @pending_members.each do |member| %>
                <tr>
                  <td class="table__cell--title">
                    <a href="<%= account_dashboard_member_path(@account, member) %>" class="table__row-link"></a>
                    <% if member.user %>
                      <%= member.user.name %>
                    <% else %>
                      <%= member.invitation_email %>
                    <% end %>
                  </td>
                  <td class="table__cell--attribute">
                    <%= Member.human_attribute_name "role.#{member.role}" %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      <% end %>
    </div>
  </div>
</div>
