<div class="container container--medium padding-3">
  <div class="title-medium display-flex align-items-center gap-2 margin-bottom-4">
    <a href="<%= account_root_path(@account) %>" class="link-title display-inline-flex gap-1">
      <div class="avatar avatar--small">
        <%= avatar_image_tag @account.owner.avatar %>
      </div>
      <%= @account.display_name %>
    </a>
    <span class="material-icons">chevron_right</span>
    <a href="<%= account_dashboard_root_path(@account) %>" class="link-title">
      <%= t 'common.dashboard' %>
    </a>
    <span class="material-icons">chevron_right</span>
    <%= t 'common.members' %>
  </div>

  <div class="display-flex gap-2 align-items-center margin-bottom-3">
    <div class="flex-grow-1 headline-medium">
      <%= t 'common.members' %>
    </div>

    <a href="<%= new_account_dashboard_member_path %>" class="button button--text">
      <div class="button__icon">
        <span class="material-icons">person_add</span>
      </div>
      <div class="button__label">
        <%= t 'common.invite_member' %>
      </div>
    </a>
  </div>

  <div class="card card--outlined margin-bottom-3">
    <% @members.each do |member| %>
      <div class="display-flex padding-3 position-relative">
        <div class="flex-grow-1">
          <div class="title-medium">
            <a href="<%= account_dashboard_member_path(@account, member) %>" class="link-title link-expended">
              <%= member.user.name %>
            </a>
          </div>
          <div class="text-muted">
            <%= member.user.email %>
          </div>
        </div>
        <div class="">
          <%= Member.human_attribute_name "role.#{member.role}" %>
        </div>
      </div>
    <% end %>

    <hr class="divider">

    <% @pending_members.each do |member| %>
      <div class="display-flex padding-3 position-relative">
        <div class="flex-grow-1">
          <div class="title-medium">
            <a href="<%= account_dashboard_member_path(@account, member) %>" class="link-title link-expended">
              <%= member.user ? member.user.name : member.invitation_email %>
            </a>
          </div>
          <div class="text-muted">
            <%= t 'common.pending' %>
          </div>
        </div>
        <div class="">
          <%= Member.human_attribute_name "role.#{member.role}" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
