<div class="container">
  <div class="padding">
    <div class="breadcrumb">
      <a href="<%= account_root_path(@account) %>" class="breadcrumb__item">
        <%= @account.display_name %>
      </a>
      <a href="<%= account_dashboard_root_path(@account) %>" class="breadcrumb__item">
        <%= t 'common.dashboard' %>
      </a>
      <span class="breadcrumb__item breadcrumb__item--active">
        <%= t 'common.members' %>
      </span>
    </div>
  </div>

  <div class="toolbar">
    <div class="toolbar__title headline-4">
      <%= t 'common.members' %>
    </div>
    <div class="toolbar__action">
      <a href="<%= new_account_dashboard_member_path %>" class="button button--contained button--primary button--last">
        <div class="button__icon">
          <span class="material-icons">person_add</span>
        </div>
        <div class="button__text">
          <%= t 'common.invite_member' %>
        </div>
      </a>
    </div>
  </div>

  <div class="padding">
      <table class="table table--flex border-bottom">
        <thead>
          <tr>
            <th class="table__cell--title"><%= t 'common.name' %></th>
            <th class="table__cell--attribute"><%= t 'common.role' %></th>
          </tr>
        </thead>
        <tbody>
          <% @members.each do |member| %>
            <tr>
              <td class="table__cell--title">
                <a href="<%= account_dashboard_member_path(@account, member) %>" class="table__row-link"></a>
                <%= member.user.name %>
              </td>
              <td class="table__cell--attribute">
                <%= Member.human_attribute_name "role.#{member.role}" %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% if @pending_members.any? %>
      <div class="headline-5 margin-y">
        <%= t 'common.pending' %>
      </div>
      <table class="table table--flex border-bottom">
        <thead>
          <tr>
            <th class="table__cell--title"><%= t 'common.indentifier' %></th>
            <th class="table__cell--attribute"><%= t 'common.role' %></th>
          </tr>
        </thead>
        <tbody>
          <% @pending_members.each do |member| %>
            <tr>
              <td class="table__cell--title">
                <a href="<%= account_dashboard_member_path(@account, member) %>" class="table__row-link"></a>
                <% if member.user %>
                  <%= member.user.name %>
                <% else %>
                  <%= member.invitation_email %>
                <% end %>
              </td>
              <td class="table__cell--attribute">
                <%= Member.human_attribute_name "role.#{member.role}" %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% end %>
  </div>
</div>
