<div class="container">
  <div class="padding">
    <div class="breadcrumb">
      <div class="breadcrumb__item">
        <a href="<%= account_root_path(@account) %>">
          <%= @account.display_name %>
        </a>
      </div>
      <div class="breadcrumb__item">
        <a href="<%= account_dashboard_root_path(@account) %>">
          <%= t 'common.dashboard' %>
        </a>
      </div>
      <div class="breadcrumb__item">
        <a href="<%= account_dashboard_members_path(@account) %>">
          <%= t 'common.members' %>
        </a>
      </div>
      <div class="breadcrumb__item breadcrumb__item--active">
        <%= t 'common.invite_member' %>
      </div>
    </div>
  </div>
</div>

<div class="container container--small">
  <div class="padding">
    <%= render 'form' %>
  </div>
</div>
