<div class="toolbar">
  <div class="toolbar__action">
    <a href="<%= account_dashboard_members_path %>" class="button button--icon">
      <span class="material-icons">arrow_back</span>
    </a>
  </div>
  <div class="toolbar__title">
    Member
  </div>
  <% if can_manage?(@member) %>
    <div class="toolbar">
      <div class="toolbar__action">
        <a href="<%= edit_account_dashboard_member_path(@account, @member) %>" class="button button--text">
          <div class="button__icon">
            <span class="material-icons">edit</span>
          </div>
          <div class="button__text">
            Edit
          </div>
        </a>
      </div>
      <% if @member.invitation_exipred? %>
        <div class="toolbar__action">
          <%= form_with url: resend_account_dashboard_member_path(@account, @member) do %>
            <button type="submit" class="button button--text">
              <div class="button__icon">
                <span class="material-icons">send</span>
              </div>
              <div class="button__text">
                Resend Invitation
              </div>
            </button>
          <% end %>
        </div>
      <% end %>
      <div class="toolbar__action">
        <%= form_with url: account_dashboard_member_path(@account, @member), method: 'delete' do %>
          <button type="submit" class="button button--text" data-confirm="Are you sure remove this member?">
            <div class="button__icon">
              <span class="material-icons">person_remove</span>
            </div>
            <div class="button__text">
              Remove
            </div>
          </button>
        <% end %>
      </div>
    </div>
  <% end %>
</div>

<div class="container container--small">
  <div class="padding">
    <dl class="row">
      <dt class="col-3">
        Identifier
      </dt>
      <dd class="col-9">
        <%= @member.user ? @member.user.name : @member.invitation_email %>
      </dd>
      <dt class="col-3">
        Role
      </dt>
      <dd class="col-9">
        <%= Member.human_attribute_name "role.#{@member.role}" %>
      </dd>
      <dt class="col-3">
        Status
      </dt>
      <dd class="col-9">
        <%= Member.human_attribute_name "status.#{@member.status}" %>
        <% if @member.invitation_exipred? %>
          <span class="text--failed">(Invitation Expired)</span>
        <% end %>
      </dd>
      <% if @member.invited_at %>
        <dt class="col-3">
          Invited at
        </dt>
        <dd class="col-9">
          <%= local_time @member.invited_at, format: :short %>
        </dd>
      <% end %>
      <% if @member.actived_at %>
        <dt class="col-3">
          Accepted at
        </dt>
        <dd class="col-9">
          <%= local_time @member.actived_at, format: :short %>
        </dd>
      <% end %>
    </dl>
  </div>
</div>
