<label class="list__item" id="post-<%= @post.id %>-collection-<%= collection.id %>">
  <div class="list__content">
    <div class="primary-text">
      <%= collection.name %>
    </div>
    <div class="secondary-text">
      <%= collection.collection_items.count %> items
    </div>
  </div>
  <div class="list__icon">
    <%= form_with model: collection, url: account_post_collection_path(@account, @post, collection), builder: CustomFormBuilder, class: 'form', data: { controller: 'form' } do |form| %>
      <%= form.check_box :added, id: "collection-#{collection.id}-added", checked: collection.collection_items.where(post: @post).exists?, data: { action: 'form#submit' } %>
    <% end %>
  </div>
</label>
