<label class="list__item" id="post-<%= @post.id %>-collection-<%= collection.id %>">
  <div class="list__content">
    <div class="primary-text">
      <%= collection.name %>
    </div>
    <div class="secondary-text">
      <%= collection.collection_items.count %> items
    </div>
  </div>
  <div class="list__icon">
    <%= form_with url: account_post_collection_path(@account, @post, collection), builder: CustomFormBuilder, class: 'form', data: { controller: 'form' } do |form| %>
      <%= form.check_box '_method', { checked: collection.added, id: "collection-#{collection.id}-added", data: { action: 'form#submit' } }, 'patch', 'delete' %>
    <% end %>
  </div>
</label>
