<%= form_with model: @collection, url: account_post_collections_path(@account, @post, account: params[:account]), builder: CustomFormBuilder, id: "post-#{@post.id}-collection-form", class: 'form display-contents' do |form| %>
  <div class="toolbar">
    <div class="toolbar__action">
      <a href="<%= account_post_collections_path(@account, @post, account: params[:account]) %>" class="button button--icon">
        <span class="material-icons">arrow_back</span>
      </a>
    </div>
    <div class="toolbar__title">
      <%= t 'common.new_collection' %>
    </div>
  </div>
  <div class="padding-x overflow-auto">
    <div class="form__field">
      <%= form.text_field :name, autocomplete: 'off', autofocus: true %>
    </div>
    <div class="form__field">
      <%= form.text_area :description %>
    </div>
    <div class="form__control">
      <%= form.radio_button :visibility, :private %>
      <label for="collection_visibility_private" class="form__control__label">
        <div class="text-primary">
          <%= t '.visibility_private_label' %>
        </div>
        <div class="text-secondary">
          <%= t '.visibility_private_description' %>
        </div>
      </label>
    </div>
    <div class="form__control">
      <%= form.radio_button :visibility, :public %>
      <label for="collection_visibility_public" class="form__control__label">
        <div class="text-primary">
          <%= t '.visibility_public_label' %>
        </div>
        <div class="text-secondary">
          <%= t '.visibility_public_description' %>
        </div>
      </label>
    </div>
  </div>
  <div class="toolbar">
    <div class="toolbar__space">
    </div>
    <div class="toolbar__action">
      <a href="<%= account_post_collections_path(@account, @post, account: params[:account]) %>" class="button button--text button--primary">
        <%= t 'common.cancel' %>
      </a>
    </div>
    <div class="toolbar__action">
      <button type="submit" class="button button--text button--primary">
        <%= t 'common.create_collection' %>
      </button>
    </div>
  </div>
<% end %>
