<%= form_with model: @collection, url: account_post_collections_path(@account, @post), builder: CustomFormBuilder, id: "post-#{@post.id}-collection-form", class: 'form' do |form| %>

  <div class="padding-3">
    <div class="margin-bottom-3">
      <%= form.text_field :name, autocomplete: 'off', autofocus: true %>
    </div>
    <div class="margin-bottom-3">
      <%= form.text_area :description %>
    </div>
    <div class="form__control">
      <%= form.radio_button :visibility, :private %>
      <label for="collection_visibility_private" class="form__control__label">
        <div class="text-primary">
          <%= t 'collection.visibility_private_label' %>
        </div>
        <div class="text-secondary">
          <%= t 'collection.visibility_private_description' %>
        </div>
      </label>
    </div>
    <div class="form__control">
      <%= form.radio_button :visibility, :public %>
      <label for="collection_visibility_public" class="form__control__label">
        <div class="text-primary">
          <%= t 'collection.visibility_public_label' %>
        </div>
        <div class="text-secondary">
          <%= t 'collection.visibility_public_description' %>
        </div>
      </label>
    </div>
  </div>

<% end %>
