<div class="max-w-md mx-auto">
  <div class="card card-default">
    <div class="card-body">
      <h2 class="card-title mb-4">
        <%= t "general.reset_password" %>
      </h2>

      <%= form_with model: @user, url: identity_password_path, method: :post do |form| %>
        <%= render "components/text_field", form: form, name: :email, options: { required: true, autofocus: true } %>

        <%= render "components/recaptcha_field", form: form %>

        <button type="submit" class="btn btn-primary btn-block mt-4">
          <%= t ".send_reset_email" %>
        </button>
      <% end %>
    </div>
  </div>
</div>
