<div class="navbar px-0 gap-4">
  <div class="flex-none">
    <a href="<%= new_session_path %>" class="btn btn-square btn-ghost">
      <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-arrow-left-icon lucide-arrow-left"><path d="m12 19-7-7 7-7"/><path d="M19 12H5"/></svg>
    </a>
  </div>
  <div class="flex-grow">
    <div class="text-xl font-medium">
      <%= t "general.reset_password" %>
    </div>
  </div>
</div>

<div class="max-w-md mx-auto">
  <div class="card card-default">
    <div class="card-body">
      <%= form_with model: @user, url: identity_password_path, method: :post do |form| %>
        <%= render "components/text_field", form: form, name: :email, options: { required: true, autofocus: true } %>

        <%= render "components/recaptcha_field", form: form %>

        <button type="submit" class="btn btn-primary btn-block mt-4">
          <%= t ".send_reset_email" %>
        </button>
      <% end %>
    </div>
  </div>
</div>
