<div class="">
  <div class="position-sticky top-3">
    <%= sanitize @site.sidebar_header_html %>

    <div class="">
      <div class="nav">
        <a href="<%= root_path %>" class="nav__item <%= 'nav__item--active' if controller_name == 'home' && action_name == 'index' %>">
          <div class="nav__item__icon">
            <span class="material-icons">whatshot</span>
          </div>
          <div class="nav__item__label">
            <%= t 'common.hot' %>
          </div>
        </a>
        <a href="<%= feed_path %>" class="nav__item <%= 'nav__item--active' if controller_name == 'home' && action_name == 'feed' %>">
          <div class="nav__item__icon">
            <span class="material-icons">feed</span>
          </div>
          <div class="nav__item__label">
            <%= t 'common.feed' %>
          </div>
        </a>
        <a href="<%= newest_path %>" class="nav__item <%= 'nav__item--active' if controller_name == 'home' && action_name == 'newest' %>">
          <div class="nav__item__icon">
            <span class="material-icons">auto_awesome</span>
          </div>
          <div class="nav__item__label">
            <%= t 'common.newest' %>
          </div>
        </a>
      </div>
    </div>

    <div class="display-none display-block@tablet">
      <div class="padding-3 title-small text-muted">
        <%= t 'common.popular_tags' %>
      </div>
      <div class="nav">
        <% Tag.trending.limit(5).each do |tag| %>
          <a href="<%= tag_path(id: tag.name) %>" class="nav__item <%= 'nav__item--active' if tag == @tag %>">
            <div class="nav__item__icon">
              <span class="material-icons">tag</span>
            </div>
            <div class="nav__item__label">
              <%= tag.name %>
            </div>
            <div class="">
              <%= tag.count %>
            </div>
          </a>
        <% end %>

        <a href="<%= tags_path %>" class="nav__item">
          <div class="nav__item__icon">
            <span class="material-icons">arrow_right_alt</span>
          </div>
          <div class="nav__item__label">
            <%= t 'common.view_more' %>
          </div>
        </a>
      </div>
    </div>

    <%= sanitize @site.sidebar_footer_html %>
  </div>
</div>
