<article id="<%= dom_id(post) %>" class="p-4 mt-4 first:mt-0 relative card hover:interactive-bg-surface-container-lowest">
  <div class="flex flex-col gap-2">
    <div class="flex gap-4">
      <div class="flex-shrink-0">
        <img src="<%= avatar_url(post.user) %>" alt="avatar" class="w-10 h-10 rounded-full">
      </div>
      <div class="flex-grow">
        <div class="text-sm font-medium">
          <%= post.user.name %>
        </div>
        <div class="text-sm text-on-surface-variant">
          <%= format_time post.published_at %>
        </div>
      </div>
    </div>

    <div class="flex gap-4">
      <div class="flex-grow min-w-0">
        <div class="line-clamp-3">
          <a href="<%= account_post_path(post.user.account.name, post) %>" class="text-lg font-medium hover:opacity-80 after:absolute after:inset-0">
            <%= post.title %>
          </a>
          <div class="text-on-surface-variant">
            <%= markdown_summary post.content %>
          </div>
        </div>
      </div>

      <% if post.featured_image.attached? %>
        <div class="flex-shrink-0">
          <img src="<%= url_for(post.featured_image.variant(:large)) %>" alt="Featured image" class="rounded-lg w-40 aspect-video object-cover">
        </div>
      <% end %>
    </div>
  </div>

  <div class="flex justify-between mt-4">
    <div class="flex items-center h-8 px-3 gap-2 text-sm interactive-bg-surface-container rounded-full">
      <div class="inline-flex items-center gap-1">
        <div class="icon w-4 h-4">
          <%= material_icon :favorite %>
        </div>
        <% if post.likes_count > 0 %>
          <div class="tabular-nums">
            <%= post.likes_count %>
          </div>
        <% end %>
      </div>
      <div class="inline-flex items-center gap-1">
        <div class="icon w-4 h-4">
          <%= material_icon :comment %>
        </div>
        <% if post.comments_count > 0 %>
          <div class="tabular-nums">
            <%= post.comments_count %>
          </div>
        <% end %>
      </div>
      <div class="inline-flex items-center gap-1">
        <div class="icon w-4 h-4">
          <%= material_icon :bookmark %>
        </div>
        <% if post.bookmarks_count > 0 %>
          <div class="tabular-nums">
            <%= post.bookmarks_count %>
          </div>
        <% end %>
      </div>
    </div>

    <% if post.tags.any? %>
      <div class="flex gap-2 relative">
        <% post.tags.each do |tag| %>
          <a href="#" class="inline-flex items-center h-8 px-3 text-sm font-medium interactive-bg-surface-container rounded-full">
            <%= tag.name %>
          </a>
        <% end %>
      </div>
    <% end %>
  </div>
</article>
