<div class="space-y-4">
  <div class="relative">
    <div class="icon h-6 w-6 absolute left-3 top-3">
      <x-icon>search</x-icon>
    </div>
    <%= form_with url: search_url, method: :get do |form| %>
      <%= form.hidden_field :type, value: @type %>
      <%= form.text_field :q, value: params[:q], placeholder: t("general.search"), class: "h-12 w-full pl-12 border-none rounded-full bg-surface-container hover:bg-surface-container-high focus:bg-surface-container-highest transition-colors outline-0" %>
    <% end %>
  </div>

  <%= sanitize @site.sidebar_header_html %>

  <% if current_user && !current_user.email_verified? %>
    <div class="bg-tertiary-container rounded-xl p-4">
      <h3 class="font-medium">
        <%= t '.email_is_not_verified' %>
      </h3>
      <div class="mt-4">
        <a href="<%= settings_email_path %>" class="underline">
          <%= t '.verify_email' %>
        </a>
      </div>
    </div>
  <% end %>

  <%
    popular_tags = Tag.order(taggings_count: :desc).limit(10)
  %>
  <div class="card">
    <div class="p-4 font-medium">
      <%= t "general.popular_tags" %>
    </div>

    <div class="px-4 pb-4 flex gap-4 flex-wrap">
      <% popular_tags.each do |tag| %>
        <a href="<%= tag_path(tag.name) %>" class="inline-flex items-center h-8 px-3 text-sm font-medium bg-surface-container interactive rounded-full">
          <%= tag.name %>
        </a>
      <% end %>
    </div>
  </div>

  <%
    recommend_accounts = Account.where(id: Account.order(followers_count: :desc).excluding(Current.user&.account).limit(100)).order("RANDOM()").limit(3)
  %>
  <div class="card">
    <div class="p-4 font-medium">
      <%= t "general.recommend_users" %>
    </div>
    <div class="">
      <%= render partial: "account/item", collection: recommend_accounts, as: :account %>
    </div>
  </div>

  <%= sanitize @site.sidebar_footer_html %>
</div>
