<div class="tabs tabs-border">
  <a href="<%= root_path %>" class="tab <%= "tab-active" if current_page?(root_path) %>">
    <%= t "general.popular" %>
  </a>
  <a href="<%= following_path %>" class="tab <%= "tab-active" if current_page?(following_path) %>">
    <%= t "general.following" %>
  </a>
  <a href="<%= newest_path %>" class="tab <%= "tab-active" if current_page?(newest_path) %>">
    <%= t "general.newest" %>
  </a>
</div>

<div class="layout-main-sidebar mt-4">
  <div class="">
    <%= render "components/scroll_pagination", pagy: @pagy, content_class: "space-y-4" do %>
      <%= render partial: "account/posts/post", collection: @posts, cached: -> post { [ post.account, post.user, post ] } %>
    <% end %>
  </div>

  <div class="hidden md:block">
    <turbo-frame id="home_sidebar" src="/home/sidebar" loading="lazy" target="_top" data-turbo-permanent>
    </turbo-frame>
  </div>
</div>
