<div class="">
  <div class="text-lg font-medium">
    <%= t "general.home" %>
  </div>

  <div class="flex items-center gap-2 mt-6">
    <%= render "components/tab", icon: :trending_up, label: t("general.popular"), url: root_path, active: current_page?(root_path) %>
    <%= render "components/tab", icon: :post, label: t("general.following"), url: following_path, active: current_page?(following_path) %>
    <%= render "components/tab", icon: :newspaper, label: t("general.newest"), url: newest_path, active: current_page?(newest_path) %>
  </div>

  <div class="flex gap-6 mt-6">
    <div class="flex-grow min-w-0">
      <%= render "components/scroll_pagination", pagy: @pagy do %>
        <%= render partial: "post", collection: @posts %>
      <% end %>
    </div>

    <div class="hidden md:block flex-shrink-0 w-80">
      <%= render "sidebar" %>
    </div>
  </div>
</div>
