<% @show_dock = true %>

<div class="navbar px-0 gap-4">
  <div class="grow">
    <div class="text-xl font-medium">
      <%= t "general.home" %>
    </div>
  </div>
</div>

<div class="tabs tabs-border">
  <a href="<%= root_path %>" class="tab px-4 gap-2 <%= "tab-active" if current_page?(root_path) %>">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-trending-up-icon lucide-trending-up"><path d="M16 7h6v6"/><path d="m22 7-8.5 8.5-5-5L2 17"/></svg>
    <%= t "general.popular" %>
  </a>
  <a href="<%= following_path %>" class="tab px-4 gap-2 <%= "tab-active" if current_page?(following_path) %>">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-users-icon lucide-users"><path d="M16 21v-2a4 4 0 0 0-4-4H6a4 4 0 0 0-4 4v2"/><path d="M16 3.128a4 4 0 0 1 0 7.744"/><path d="M22 21v-2a4 4 0 0 0-3-3.87"/><circle cx="9" cy="7" r="4"/></svg>
    <%= t "general.following" %>
  </a>
  <a href="<%= newest_path %>" class="tab px-4 gap-2 <%= "tab-active" if current_page?(newest_path) %>">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-clock-icon lucide-clock"><circle cx="12" cy="12" r="10"/><path d="M12 6v6l4 2"/></svg>
    <%= t "general.newest" %>
  </a>
</div>

<div class="layout-main-sidebar mt-4">
  <div>
    <%= render "components/scroll_pagination", pagy: @pagy, content_class: "space-y-4" do %>
      <%= render partial: "account/posts/post", collection: @posts, cached: -> post { [ post.account, post.user, post ] } %>
    <% end %>
  </div>

  <div class="hidden md:block">
    <turbo-frame id="home_sidebar" src="/home/sidebar" loading="lazy" target="_top" data-turbo-permanent>
    </turbo-frame>
  </div>
</div>
