<div class="container mx-auto p-4">
  <turbo-frame id="home_sidebar">
    <div class="space-y-4">
      <%= raw @site.sidebar_header_html %>

      <% if Current.user && !Current.user.email_verified? %>
        <div class="card bg-warning text-warning-content p-4">
          <h3 class="font-medium">
            <%= t '.email_is_not_verified' %>
          </h3>
          <div class="mt-4">
            <a href="<%= settings_email_path %>" class="btn">
              <%= t '.verify_email' %>
            </a>
          </div>
        </div>
      <% end %>

      <%
        popular_tags = Tag.order(taggings_count: :desc).limit(10)
      %>
      <div class="card card-border border-base-300 bg-base-100 p-4">
        <h3 class="font-medium mb-4">
          <%= t "general.popular_tags" %>
        </h3>

        <div class="flex gap-2 flex-wrap">
          <% popular_tags.each do |tag| %>
            <a href="<%= tag_path(tag.name) %>" class="btn btn-soft btn-sm">
              #<%= tag.name %>
            </a>
          <% end %>
        </div>
      </div>

      <%
        recommend_accounts = Account.where(id: Account.order(followers_count: :desc).excluding(Current.user&.account).limit(100)).order("RANDOM()").limit(3)
      %>
      <div class="card card-border border-base-300 bg-base-100 p-4">
        <div class="font-medium mb-4">
          <%= t "general.recommend_users" %>
        </div>
        <div class="list">
          <%= render partial: "account/item", collection: recommend_accounts, as: :account %>
        </div>
      </div>

      <div class="card card-border border-base-300 bg-base-100 p-4">
        <div class="font-medium mb-4">
          <%= t "general.community_stats" %>
        </div>
        <div class="flex items-center h-10 gap-4">
          <x-icon>person</x-icon>
          <div>
            <%= t "general.users_count", count: User.count %>
          </div>
        </div>
        <div class="flex items-center h-10 gap-4">
          <x-icon>article</x-icon>
          <div>
            <%= t "general.posts_count", count: Post.count %>
          </div>
        </div>
        <div class="flex items-center h-10 gap-4">
          <x-icon>comment</x-icon>
          <div>
            <%= t "general.comments_count", count: Comment.count %>
          </div>
        </div>
      </div>

      <%= raw @site.sidebar_footer_html %>
    </div>
  </turbo-frame>
</div>
