<div class="container">
  <div class="layout">
    <%= render 'account/dashboard/navbar' %>

    <div class="main">
      <div class="card card--surface padding-3 margin-bottom-3">
        <div class="breadcrumb">
          <div class="breadcrumb__item">
            <a href="<%= account_dashboard_collections_path(@account) %>">
              <%= t 'common.collections' %>
            </a>
          </div>
          <div class="breadcrumb__item">
            <a href="<%= account_dashboard_collection_path(@account, @collection) %>">
              <%= @collection.name %>
            </a>
          </div>
          <div class="breadcrumb__item breadcrumb__item--active">
            <%= t 'common.edit' %>
          </div>
        </div>
      </div>

      <div class="card card--surface padding-3">
        <%= render 'form' %>
      </div>
    </div>
  </div>
</div>
