<div class="container">
  <div class="padding">
    <div class="breadcrumb">
      <div class="breadcrumb__item">
        <a href="<%= account_root_path(@account) %>">
          <%= @account.display_name %>
        </a>
      </div>
      <div class="breadcrumb__item">
        <a href="<%= account_dashboard_root_path(@account) %>">
          <%= t 'common.dashboard' %>
        </a>
      </div>
      <div class="breadcrumb__item">
        <a href="<%= account_dashboard_collections_path(@account) %>">
          <%= t 'common.collections' %>
        </a>
      </div>
      <div class="breadcrumb__item breadcrumb__item--active">
        <%= @collection.name %>
      </div>
    </div>
  </div>
</div>

<div class="container container--medium">
  <div class="toolbar">
    <div class="toolbar__title headline-4">
      <%= @collection.name %>
    </div>
    <div class="toolbar__action">
      <a href="<%= account_collection_path(@account, @collection) %>" class="button button--icon" target="_blank">
        <span class="material-icons">open_in_new</span>
      </a>
    </div>
    <div class="toolbar__action">
      <a href="<%= edit_account_dashboard_collection_path(@account, @collection) %>" class="button button--icon">
        <span class="material-icons">edit</span>
      </a>
    </div>
    <div class="toolbar__action">
      <div class="dropdown" data-controller="dropdown">
        <button type="button" class="button button--icon" data-action="dropdown#toggle">
          <span class="material-icons">more_vert</span>
        </button>
        <div class="dropdown__menu dropdown__menu--top-right">
          <%= button_to account_dashboard_collection_path(@account, @collection), method: 'delete', class: 'dropdown__item', data: { confirm: I18n.t('common.delete_collection_confirm') } do %>
            <%= t 'common.delete_collection' %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="padding">
    <div class="text-primary margin-bottom">
      <%= @collection.description.presence || t('common.no_description') %>
    </div>
    <div class="text-secondary">
      <div class="nowrap">
        <% if @collection.visibility_private? %>
          <span class="material-icons material-icons--inline">lock</span>
          <%= t 'common.private' %>
        <% else %>
          <span class="material-icons material-icons--inline">public</span>
          <%= t 'common.public' %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="toolbar">
    <div class="toolbar__title headline-5">
      <%= t 'common.posts' %>
    </div>
    <div class="toolbar__action">
      <div class="dropdown" data-controller="dropdown">
        <button type="button" class="button button--icon" data-action="dropdown#toggle">
          <span class="material-icons">sort</span>
        </button>
        <div class="dropdown__menu dropdown__menu--top-right">
          <% Collection.order_types.keys.each do |name| %>
            <%= button_to account_dashboard_collection_path(@account, @collection), method: 'patch', class: "dropdown__item" do %>
              <div class="dropdown__item__icon">
                <% if @collection.order_type == name %>
                  <span class="material-icons">check</span>
                <% end %>
              </div>
              <div class="dropdown__item__text">
                <%= Collection.human_attribute_name "order_type.#{name}" %>
              </div>
              <%= hidden_field_tag 'collection[order_type]', name %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <% if @collection_items.any? %>
    <div class="list" data-controller="sortable">
      <% @collection_items.each do |collection_item| %>
        <div id="collection-item-<%= collection_item.id %>" class="list__item flex-align-items-center" data-sortable-target="item" data-controller="draggable collection-item" data-action="sortable:change->collection-item#updatePosition" data-update-url="<%= account_dashboard_collection_collection_item_path(@account, @collection, collection_item) %>">
          <div class="list__item__action">
            <label class="button button--icon button--drag-handle" data-draggable-target="handle">
              <span class="material-icons">drag_handle</span>
            </label>
          </div>
          <div class="list__item__content overflow-hidden">
            <div class="subtitle-1 overflow-ellipsis">
              <%= collection_item.post.title %>
            </div>
            <div class="text-secondary">
              <%= collection_item.post.account.name %>
            </div>
          </div>
          <div class="list__item__action">
            <div class="dropdown" data-controller="dropdown">
              <button type="button" class="button button--icon" data-action="dropdown#toggle">
                <span class="material-icons">more_vert</span>
              </button>
              <div class="dropdown__menu dropdown__menu--top-right">
                <button type="button" class="dropdown__item" data-action="sortable#moveToTop">
                  <div class="dropdown__item__icon">
                    <span class="material-icons">vertical_align_top</span>
                  </div>
                  <div class="dropdown__item__text">
                    <%= t 'common.move_to_top' %>
                  </div>
                </button>
                <button type="button" class="dropdown__item" data-action="sortable#moveToBottom">
                  <div class="dropdown__item__icon">
                    <span class="material-icons">vertical_align_bottom</span>
                  </div>
                  <div class="dropdown__item__text">
                    <%= t 'common.move_to_bottom' %>
                  </div>
                </button>
                <hr class="divider">
                <%= button_to account_dashboard_collection_collection_item_path(@account, @collection, collection_item), method: 'delete', class: 'dropdown__item', data: { confirm: t('common.delete_collection_item_confirm') } do %>
                  <div class="dropdown__item__icon">
                    <span class="material-icons">delete</span>
                  </div>
                  <div class="dropdown__item__text">
                    <%= t 'common.delete_collection_item' %>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>

    <div class="padding">
      <%= paginate @collection_items %>
    </div>
  <% else %>
    <div class="content-placeholder">
      <div class="content-placeholder__icon">
        <span class="material-icons">article</span>
      </div>
      <div class="content-placeholder__label">
        <%= t 'common.no_posts' %>
      </div>
    </div>
  <% end %>
</div>
