<div class="nav-header">
  <div class="nav-header__avatar">
    <div class="avatar">
      <%= avatar_image_tag current_user.avatar %>
    </div>
  </div>
  <div class="nav-header__content">
    <div class="nav-header__primary-text">
      <%= current_user.name %>
    </div>
    <div class="nav-header__secondary-text">
      User account
    </div>
  </div>
</div>
<div class="nav">
  <a href="<%= settings_profile_path %>" class="nav__item <%= 'nav__item--active' if controller_name == 'profiles' %>">
    Profile
  </a>
  <a href="<%= settings_account_path %>" class="nav__item <%= 'nav__item--active' if controller_name == 'accounts' %>">
    Account
  </a>
  <a href="<%= settings_password_path %>" class="nav__item <%= 'nav__item--active' if controller_name == 'passwords' %>">
    Password
  </a>
  <a href="<%= settings_organizations_path %>" class="nav__item <%= 'nav__item--active' if controller_name == 'organizations' %>">
    Organizations
  </a>
</div>
