<div class="nav">
  <a href="<%= settings_account_path %>" class="nav__item <%= 'nav__item--active' if controller_name == 'accounts' %>">
    <%= t 'common.account' %>
  </a>
  <a href="<%= settings_password_path %>" class="nav__item <%= 'nav__item--active' if controller_name == 'passwords' %>">
    <%= t 'common.change_password' %>
  </a>
</div>
