<%= form_with model: @post, url: account_dashboard_post_settings_path(@account, @post), builder: CustomFormBuilder, class: 'form', id: 'settings-form' do |form| %>
  <div class="margin-bottom-3">
    <%= form.text_area :excerpt %>
  </div>
  <div class="margin-bottom-3">
    <div class="text-field text-field--outlined">
      <div class="text-field__container">
        <div class="selector tag-selector text-field__input" data-controller="tag-selector" data-tag-selector-placeholder-value="" data-tag-selector-creatable-value="true" data-tag-selector-max-items-value="5">
          <select name="post[tag_list][]" class="selector__select" data-tag-selector-target="select" multiple>
            <% @post.tags.each do |tag| %>
              <option value="<%= tag.name %>" selected><%= tag.name %></option>
            <% end %>
          </select>
        </div>
        <label class="text-field__label">
          <%= t 'common.tags' %>
        </label>
      </div>
    </div>
  </div>
  <% if @account.organization? %>
    <div class="margin-bottom-3">
      <label class="label"><%= t 'common.authors' %></label>
      <div class="selector" data-controller="selector" data-selector-max-items-value="3">
        <select name="post[author_list][]" class="selector__select" data-selector-target="select" multiple>
          <% @post.author_users.includes(:account).each do |user| %>
            <option value="<%= user.account.name %>" selected><%= user.name %></option>
          <% end %>
          <% @account.owner.members.active.includes(user: :account).where.not(user: @post.author_users).each do |member| %>
            <option value="<%= member.user.account.name %>"><%= member.user.name %></option>
          <% end %>
        </select>
      </div>
    </div>
  <% end %>
  <div class="margin-bottom-3">
    <%= form.text_field :canonical_url, helper_text: t('.canonical_url_hepler_text') %>
  </div>
  <div class="margin-bottom-3">
    <label class="display-flex gap-2 align-items-center">
      <%= form.check_box :allow_comments %>
      <div class="">
        <%= Post.human_attribute_name :allow_comments %>
      </div>
    </label>
    <label class="display-flex gap-2 align-items-center">
      <%= form.check_box :featured %>
      <div class="">
        <%= Post.human_attribute_name :featured %>
      </div>
    </label>
  </div>
  <button type="submit" class="button button--filled">
    <%= t 'common.save_changes' %>
  </button>
<% end %>
