<div class="">
  <div class="card">
    <div class="flex items-center h-14 px-2 gap-2">
      <a href="<%= admin_tag_path(@tag) %>" class="icon-button">
        <%= material_icon :arrow_back %>
      </a>
      <div class="flex-grow text-lg font-medium px-2">
        <%= t 'general.merge_tags' %>
      </div>
    </div>

    <div class="p-4">
      <%= form_with url: admin_tag_merge_path do |form| %>
        <div class="form-field">
          <%= t '.merge_to', name: @tag.name %>
        </div>
        <div class="form-field">
          <%= form.label :tag_list, class: "form-label" %>
          <div class="combobox">
            <%= form.combobox :tag_list, tag_options_path, multiselect_chip_src: tag_chips_path, free_text: true %>
          </div>
        </div>
        <div class="form-field">
          <button type="submit" class="filled-button">
            <%= t '.merge' %>
          </button>
        </div>
      <% end %>
    </div>
  </div>
</div>
