<div class="top-app-bar">
  <a href="<%= account_root_path(Current.user.account.name) %>" class="icon-button">
    <x-icon>arrow_back</x-icon>
  </a>
  <div class="top-app-bar__headline">
    <%= t "general.settings" %>
  </div>
</div>

<div class="layout-main-sidebar">
  <div>
    <div class="card py-4">
      <% [
        { icon: :contact_mail, label: t("general.email"), href: settings_email_path, description: t(".email_description") },
        { icon: :lock, label: t("general.password"), href: settings_password_path, description: t(".password_description") },
        { icon: :notifications, label: t("general.notification"), href: settings_notification_path, description: t(".notification_description") },
      ].each do |item| %>
        <a href="<%= item[:href] %>" class="flex py-3 px-4 gap-4 interactive">
          <x-icon class="text-on-surface-variant"><%= item[:icon] %></x-icon>
          <div class="flex-grow">
            <div class="line-clamp-1">
              <%= item[:label] %>
            </div>
            <div class="text-sm text-on-surface-variant line-clamp-1">
              <%= item[:description] %>
            </div>
          </div>
        </a>
      <% end %>
    </div>
  </div>
</div>
