<div class="layout-nav-main">
  <div>
    <%= render "account/nav", account: @account %>
  </div>

  <div>
    <div class="tabs tabs-border">
      <% if @account.user? %>
        <a href="<%= account_followings_path(@account.name) %>" class="tab">
          <%= t "general.following" %>
        </a>
      <% end %>
      <a href="<%= account_followers_path(@account.name) %>" class="tab tab-active">
        <%= t "general.followers" %>
      </a>
    </div>

    <div class="card card-border border-base-300 bg-base-100 mt-4">
      <div class="card-body">
        <%= render "components/scroll_pagination", pagy: @pagy, content_class: "list" do %>
          <%= render partial: "account/item", collection: @accounts, as: :account %>
        <% end %>
      </div>
    </div>
  </div>
</div>
