<% @page_title = @account.display_name %>

<div class="banner-image">
  <div class="banner-image__inner">
    <% if @account.owner.banner_image.attached? %>
      <%= image_tag @account.owner.banner_image.variant(resize_to_limit: [1920, 1920]) %>
    <% end %>
  </div>
</div>

<div class="container">
  <div class="layout-primary padding-3">
    <%= render 'account/navbar' %>

    <div class="flex-grow-1 min-width-0">
      <div class="top-app-bar">
        <div class="top-app-bar__action">
          <a href="<%= account_root_path(@account) %>" class="button button--icon">
            <span class="material-icons">arrow_back</span>
          </a>
        </div>
        <div class="top-app-bar__title">
          <%= t 'common.followers' %>
        </div>
      </div>

      <div class="display-flex gap-3">
        <div class="flex-grow-1 min-width-0">
          <% if @accounts.any? %>
            <div class="display-flex flex-direction-column gap-3">
              <%= render partial: 'account/follows/account', collection: @accounts %>
            </div>

            <div class="padding-3">
              <%= paginate @accounts %>
            </div>
          <% else %>
            <div class="padding-3 text-muted">
              <%= t 'common.no_followers' %>
            </div>
          <% end %>
        </div>

        <div class="sidebar display-flex flex-direction-column gap-3">
        </div>
      </div>
    </div>
  </div>
</div>
