<div class="container padding-3">
  <div class="layout-primary">
    <%= render 'admin/navbar' %>

    <div class="">
      <div class="card card--elevated background-surface">
        <div class="top-app-bar">
          <div class="top-app-bar__action">
            <a href="<%= admin_tag_path(@tag) %>" class="button button--icon">
              <span class="material-icons">arrow_back</span>
            </a>
          </div>
          <div class="top-app-bar__title">
            <%= t 'common.edit_tags' %>
          </div>
        </div>

        <div class="padding-3">
          <%= form_with model: @tag, url: admin_tag_path(@tag), builder: CustomFormBuilder do |form| %>
            <div class="margin-bottom-3">
              <%= form.text_field :name %>
            </div>

            <button type="submit" class="button button--filled">
              <%= t 'common.save_changes' %>
            </button>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
