<div class="container">
  <div class="layout">
    <%= render 'admin/navbar' %>

    <div class="main">
      <div class="card card--surface">
        <div class="headline-small padding-3">
          <%= t 'common.tags' %>
        </div>

        <table class="table border-top border-bottom">
          <tbody>
            <% @tags.each do |tag| %>
              <tr>
                <td>
                  <a href="<%= admin_tag_path(tag) %>">
                    <%= tag.name %>
                  </a>
                </td>
                <td>
                  <%= tag.taggings_count %>
                </td>
                <td>
                  <%= format_time tag.created_at %>
                </td>
              </tr>
            <% end %>
        </table>

        <div class="padding-3">
          <%= paginate @tags %>
        </div>
      </div>
    </div>

    <div class="sidebar">
      <div class="card card--surface padding-3">
        <%= form_with url: admin_tags_path, method: :get, builder: CustomFormBuilder do |form| %>
          <div class="margin-bottom-3">
            <%= form.text_field :name, value: params[:name] %>
          </div>
          <button type="submit" class="button button--filled">
            <%= t 'common.search' %>
          </button>
        <% end %>
      </div>
    </div>
  </div>
</div>
