<div class="">
  <div class="card">
    <div class="flex items-center h-14 px-2">
      <div class="flex-grow px-2 text-lg font-medium">
        Tags
      </div>

      <div class="relative">
        <div class="icon w-6 h-6 absolute top-2 left-2">
          <%= material_icon :search %>
        </div>
        <%= form_with url: url_for, method: :get do |f| %>
          <%= f.search_field :q, value: params[:q], placeholder: "Search", class: "h-10 pl-10 border-none focus:ring-0 interactive-bg-surface-container rounded-full" %>
        <% end %>
      </div>
    </div>

    <table class="data-table">
      <thead>
        <tr>
          <th>
            ID
          </th>
          <th>
            Name
          </th>
          <th>
            Taggings
          </th>
          <th>
            Created at
          </th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @tags.each do |tag| %>
          <tr>
            <td>
              <%= tag.id %>
            </td>
            <td>
              <%= tag.name %>
            </td>
            <td>
              <%= tag.taggings_count %>
            </td>
            <td>
              <%= format_time tag.created_at %>
            </td>
            <td class="text-right">
              <a href="<%= admin_tag_path(tag) %>" class="text-button">
                View
              </a>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <div class="p-4">
      <%= render "components/page_pagination", pagy: @pagy %>
    </div>
  </div>
</div>
