<div class="container">
  <div class="layout">
    <%= render 'admin/navbar' %>

    <div class="main">
      <div class="card card--surface padding-3 margin-bottom-3">
        <div class="breadcrumb">
          <div class="breadcrumb__item">
            <a href="<%= admin_tags_path %>">
              <%= t 'common.tags' %>
            </a>
          </div>
          <div class="breadcrumb__item breadcrumb__item--active">
            <%= @tag.id %>
          </div>
        </div>
      </div>

      <div class="card card--surface margin-bottom-3">
        <div class="title-medium padding-3">
          <%= t 'common.attributes' %>
        </div>

        <table class="table border-top">
          <% @tag.attributes.except('password_digest', 'auth_token').each do |name, value| %>
            <tr>
              <th>
                <%= name %>
              </th>
              <td class="text-break-all">
                <%= value %>
              </td>
            </tr>
          <% end %>
        </table>
      </div>
    </div>

    <div class="sidebar">
      <div class="card card--surface padding-3">
        <div class="margin-bottom-3">
          <a href="<%= edit_admin_tag_path(@tag) %>" class="button button--outlined">
            <%= t 'common.edit' %>
          </a>
        </div>
        <div class="">
          <a href="<%= new_admin_tag_merge_path(@tag) %>" class="button button--outlined">
            <%= t 'common.merge' %>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
