<div class="container padding-3">
  <div class="layout-primary">
    <%= render 'admin/navbar' %>

    <div class="">
      <div class="card card--elevated background-surface">
        <div class="top-app-bar">
          <div class="top-app-bar__action">
            <a href="<%= admin_tags_path %>" class="button button--icon">
              <span class="material-icons">arrow_back</span>
            </a>
          </div>
          <div class="top-app-bar__title">
            <%= t 'common.tags' %> #<%= @tag.id %>
          </div>
          <div class="top-app-bar__action">
            <a href="<%= edit_admin_tag_path(@tag) %>" class="button button--text">
              <%= t 'common.edit' %>
            </a>
          </div>
          <div class="top-app-bar__action">
            <a href="<%= new_admin_tag_merge_path(@tag) %>" class="button button--text">
              <%= t 'common.merge' %>
            </a>
          </div>
        </div>

        <table class="table border-top">
          <% @tag.attributes.except('password_digest', 'auth_token').each do |name, value| %>
            <tr>
              <th>
                <%= name %>
              </th>
              <td class="text-break-all">
                <%= value %>
              </td>
            </tr>
          <% end %>
        </table>
      </div>
    </div>
  </div>
</div>
