<div class="toolbar">
  <div class="toolbar__action">
    <a href="<%= account_dashboard_memberships_path %>" class="button button--icon">
      <span class="material-icons">arrow_back</span>
    </a>
  </div>
  <div class="toolbar__title">
    Membership
  </div>
  <% if current_role.in? %w(owner admin) %>
    <div class="toolbar">
      <div class="toolbar__action">
        <a href="<%= edit_account_dashboard_membership_path(@account, @membership) %>" class="button button--text">
          <div class="button__icon">
            <span class="material-icons">edit</span>
          </div>
          <div class="button__text">
            Edit
          </div>
        </a>
      </div>
      <% if @membership.invitation_exipred? %>
        <div class="toolbar__action">
          <%= form_with url: resend_account_dashboard_membership_path(@account, @membership) do %>
            <button type="submit" class="button button--text">
              <div class="button__icon">
                <span class="material-icons">send</span>
              </div>
              <div class="button__text">
                Resend Invitation
              </div>
            </button>
          <% end %>
        </div>
      <% end %>
      <% if current_role == 'owner' || @membership.member? %>
        <div class="toolbar__action">
          <%= form_with url: account_dashboard_membership_path(@account, @membership), method: 'delete' do %>
            <button type="submit" class="button button--text" data-confirm="Are you sure remove this member?">
              <div class="button__icon">
                <span class="material-icons">person_remove</span>
              </div>
              <div class="button__text">
                Remove
              </div>
            </button>
          <% end %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>

<div class="container container--small">
  <div class="padding">
    <dl class="row">
      <dt class="col-3">
        Identifier
      </dt>
      <dd class="col-9">
        <%= @membership.user ? @membership.user.name : @membership.invitation_email %>
      </dd>
      <dt class="col-3">
        Role
      </dt>
      <dd class="col-9">
        <%= Membership.human_attribute_name "role.#{@membership.role}" %>
      </dd>
      <dt class="col-3">
        Status
      </dt>
      <dd class="col-9">
        <%= Membership.human_attribute_name "status.#{@membership.status}" %>
        <% if @membership.invitation_exipred? %>
          <span class="text--failed">(Invitation Expired)</span>
        <% end %>
      </dd>
      <% if @membership.invited_at %>
        <dt class="col-3">
          Invited at
        </dt>
        <dd class="col-9">
          <%= local_time @membership.invited_at, format: :short %>
        </dd>
      <% end %>
      <% if @membership.actived_at %>
        <dt class="col-3">
          Accepted at
        </dt>
        <dd class="col-9">
          <%= local_time @membership.actived_at, format: :short %>
        </dd>
      <% end %>
    </dl>
  </div>
</div>
