<div class="card card--filled position-relative">
  <div class="display-flex">
    <div class="flex-grow-1 padding-3">
      <h3 class="title-medium margin-top-0 margin-bottom-2 flex flex-align-items-center">
        <a href="<%= account_collection_path(@account, collection) %>" class="link-title link-expended">
          <%= collection.name %>
        </a>
      </h3>
      <div class="text-muted margin-bottom-2">
        <%= collection.description %>
      </div>
      <div class="text-muted display-flex gap-3 align-items-center">
        <div class="">
          <%= collection.collection_items_count %> <%= t 'common.posts' %>
        </div>
        <% if collection.visibility_private? %>
          <div class="display-flex align-items-center">
            <span class="material-icons material-icons--inline">lock</span>
            <%= t 'common.private' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
