<% @page_title = @account.display_name %>

<div class="container">
  <div class="display-flex gap-3 padding-3">
    <%= render 'account/navbar' %>

    <div class="flex-grow-1">
      <%= render 'account/tab' %>

      <div class="display-flex flex-direction-column gap-3">
        <%= render partial: 'collection', collection: @collections, cached: true %>
      </div>

      <div class="padding-3">
        <%= paginate @collections %>
      </div>
    </div>

    <%= render 'account/sidebar' %>
  </div>
</div>
