<% @page_title = @account.display_name %>

<%= render "account/header", account: @account %>

<div class="container padding-3">
  <div class="layout-primary">
    <div class="">
      <div id="collections" class="display-flex flex-direction-column gap-3" data-controller="pagination">
        <%= render partial: 'collection', collection: @paginator[:page].pluck(:data), cached: true %>

        <% if @paginator[:page_info][:has_next_page] %>
          <a href="<%= url_for(after: @paginator[:page_info][:end_cursor]) %>" class="button button--text width-100 justify-content-center" data-pagination-target="nextPageLink">
            <%= t "common.load_more" %>
          </a>
        <% else %>
          <div class="body-medium text-muted text-align-center padding-x-3 padding-y-2">
            <%= t "common.no_more_content" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
