<% @page_title = @account.display_name %>

<div class="banner-image">
  <div class="banner-image__inner">
    <% if @account.owner.banner_image.attached? %>
      <%= image_tag @account.owner.banner_image.variant(resize_to_limit: [1920, 1920]) %>
    <% end %>
  </div>
</div>

<div class="container">
  <div class="display-flex gap-3 padding-3">
    <%= render 'account/navbar' %>

    <div class="flex-grow-1 min-width-0">
      <%= render 'account/tab' %>

      <div class="display-flex gap-3">
        <div class="flex-grow-1 min-width-0">
          <div class="display-flex flex-direction-column gap-3">
            <%= render partial: 'collection', collection: @collections, cached: true %>
          </div>

          <div class="padding-3">
            <%= paginate @collections %>
          </div>
        </div>

        <div class="sidebar display-flex flex-direction-column gap-3">
        </div>
      </div>
    </div>
  </div>
</div>
