<% @page_title = "#{@collection.name} - #{@account.display_name}" %>

<div class="container">
  <div class="display-flex gap-3 padding-3">
    <div class="navbar display-flex flex-direction-column gap-3">
      <div class="card card--filled padding-3">
        <div class="margin-bottom-3">
          <a href="<%= account_collections_path(@account) %>" class="link-title">
            <div class="display-flex gap-2 align-items-center">
              <div class="avatar">
                <%= avatar_image_tag @account.owner.avatar %>
              </div>
              <div class="title-medium">
                <%= @account.owner.name %>
              </div>
            </div>
          </a>
        </div>

        <div class="title-medium margin-bottom-3">
          <%= @collection.name %>
        </div>

        <div class="text-muted margin-bottom-3">
          <%= @collection.description %>
        </div>

        <div class="text-muted display-flex gap-3 align-items-center">
          <div class="">
            <%= @collection.collection_items_count %> <%= t 'common.posts' %>
          </div>
          <% if @collection.visibility_private? %>
            <div class="display-flex align-items-center">
              <span class="material-icons material-icons--inline">lock</span>
              <%= t 'common.private' %>
            </div>
          <% end %>
        </div>
      </div>

    </div>

    <div class="flex-grow-1">
      <div class="display-flex flex-direction-column gap-3" data-controller="post-list" data-post-list-collection-id-value="<%= @collection.id %>">
        <%= render partial: 'account/posts/post', collection: @posts, cached: true %>
      </div>

      <div class="padding-3">
        <%= paginate @posts %>
      </div>
    </div>

    <div class="sidebar display-flex flex-direction-column gap-3">
    </div>
  </div>
</div>
