<% @page_title = "#{@collection.name} - #{@account.display_name}" %>

<div class="container">
  <div class="display-flex gap-3 padding-3">
    <%= render 'account/navbar' %>

    <div class="flex-grow-1">
      <%= render 'account/tab' %>

      <div class="card card--filled padding-3 margin-bottom-3">
        <div class="title-medium margin-bottom-2">
          <%= @collection.name %>
        </div>

        <div class="text-muted margin-bottom-2">
          <%= @collection.description %>
        </div>

        <div class="text-muted display-flex gap-3 align-items-center">
          <div class="">
            <%= @collection.collection_items_count %> <%= t 'common.posts' %>
          </div>
          <% if @collection.visibility_private? %>
            <div class="display-flex align-items-center">
              <span class="material-icons material-icons--inline">lock</span>
              <%= t 'common.private' %>
            </div>
          <% end %>
        </div>
      </div>

      <div class="display-flex flex-direction-column gap-3" data-controller="post-list" data-post-list-collection-id-value="<%= @collection.id %>">
        <%= render partial: 'account/posts/post', collection: @posts, cached: true %>
      </div>

      <div class="padding-3">
        <%= paginate @posts %>
      </div>
    </div>

    <%= render 'account/sidebar' %>
  </div>
</div>
