<div id="post-editor" class="post-editor"
  data-controller="post-editor"
  data-action="
    keydown.ctrl+s@window->post-editor#submit:prevent
    keydown.meta+s@window->post-editor#submit:prevent
  "
  data-post-editor-preview-url-value="<%= preview_dashboard_posts_path(@account.name) %>"
  >
  <%= form_with model: @post, url: @post.new_record? ? dashboard_posts_path(@account.name) : dashboard_post_path(@account.name, @post), id: "post-form", data: { post_editor_target: "form", controller: "form-unsave-checker", action: "input->post-editor#handleChanges" } do |form| %>
    <div class="flex overflow-y-hidden">
      <div class="grow h-screen overflow-auto">
        <div class="container mx-auto">
          <%# Top bar %>
          <div class="top-app-bar sticky top-0 z-10 bg-surface">
            <a href="<%= dashboard_posts_path(@account.name) %>" class="icon-button">
              <x-icon>arrow_back</x-icon>
            </a>
            <div class="top-app-bar__headline">
              <%= t "general.post" %>
            </div>

            <% if @post.new_record? %>
              <button type="submit" class="button button--text" data-post-editor-target="submitButton" disabled>
                <%= t "general.save" %>
              </button>
              <button type="button" class="button button--text" disabled>
                <%= t "general.publish" %>
              </button>
              <label for="settings" class="icon-button">
                <x-icon>tune</x-icon>
              </label>
              <button type="button" class="icon-button" disabled>
                <x-icon>more_horiz</x-icon>
              </button>
            <% else %>
              <% if @post.draft? %>
                <button type="submit" class="button button--text" data-post-editor-target="submitButton" disabled>
                  <%= t "general.save" %>
                </button>
                <button type="submit" class="button button--text" data-post-editor-target="publishButton" form="publish-form">
                  <%= t "general.publish" %>
                </button>
              <% elsif @post.published? %>
                <button type="submit" class="button button--text" form="post-form" data-post-editor-target="submitButton" disabled>
                  <%= t "general.update" %>
                </button>
                <a href="<%= account_post_path(@post.account.name, @post) %>" class="button button--text">
                  <%= t "general.view" %>
                </a>
              <% elsif @post.trashed? %>
                <button type="submit" class="button button--text" form="restore-form">
                  <%= t "general.restore" %>
                </button>
              <% end %>

              <div class="menu">
                <label tabindex="0" class="icon-button">
                  <x-icon>more_horiz</x-icon>
                </label>

                <div tabindex="0" class="menu__content top-full right-0 origin-top-right">
                  <% if @post.published? %>
                    <button type="submit" class="menu__item" form="unpublish-form">
                      <x-icon>unpublished</x-icon>
                      <span>
                        <%= t "general.unpublish" %>
                      </span>
                    </button>
                  <% end %>
                  <% if @post.trashed? %>
                    <button type="submit" class="menu__item" form="delete-form">
                      <x-icon>delete_forever</x-icon>
                      <span>
                        <%= t "general.delete_forever" %>
                      </span>
                    </button>
                  <% else %>
                    <button type="submit" class="menu__item" form="trash-form">
                      <x-icon>delete</x-icon>
                      <span>
                        <%= t "general.move_to_trash" %>
                      </span>
                    </button>
                  <% end %>
                </div>
              </div>

              <label for="side-sheet-toggle" class="icon-button">
                <x-icon>view_sidebar</x-icon>
              </label>
            <% end %>
          </div>

          <div class="flex px-4 justify-center">

            <%# Container %>
            <div class="card flex-grow p-8 mb-4 max-w-screen-md group/container" data-post-editor-target="container" data-turbo-permanent>
              <div class="block group-[.previewing]/container:hidden min-h-screen">
                <%= form.text_area :title, class: "block w-full px-0 py-2 border-none outline-none bg-transparent text-3xl font-bold resize-none", placeholder: Post.human_attribute_name("title"), autocomplete: "off", data: { post_editor_target: "titleInput", action: "input->post-editor#resizeTitleInput keydown.enter->post-editor#focus:prevent" } %>
                <%= form.hidden_field :content, id: "post_content", placeholder: "Markdown...", data: { post_editor_target: "contentInput" } %>

                <markdown-editor input="post_content" data-post-editor-target="markdownEditor" class="mt-4"></markdown-editor>
              </div>

              <div data-post-editor-target="preview" class="hidden group-[.previewing]/container:block break-words min-h-screen prose dark:prose-invert max-w-none"></div>

              <div class="sticky flex justify-center px-4 mt-8 bottom-4 pb-safe">
                <div class="flex items-center gap-1 p-1 bg-surface-container rounded-full shadow-md">
                  <button type="button" class="icon-button text-on-secondary-container bg-secondary-container group-[.previewing]/container:text-on-surface-variant group-[.previewing]/container:bg-transparent" data-action="post-editor#write">
                    <x-icon>edit</x-icon>
                  </button>
                  <button type="button" class="icon-button group-[.previewing]/container:text-on-secondary-container group-[.previewing]/container:bg-secondary-container" data-action="post-editor#preview">
                    <x-icon>preview</x-icon>
                  </button>

                  <div class="border-l border-outline-variant h-6 mx-1"></div>

                  <button type="button" class="icon-button" data-action="post-editor#attachFile" data-post-editor-target="toolbarButton">
                    <x-icon>attach_file</x-icon>
                  </button>
                </div>
              </div>
            </div>

          </div>

        </div>

      </div>

      <%= render "editor_side_sheet", form: form %>
    </div>
  <% end %>

  <div class="hidden">
    <% if @post.persisted? %>
      <%= form_with model: @post, url: dashboard_post_publish_path(@account.name, @post), id: "publish-form", method: :patch do %>
      <% end %>
      <%= form_with model: @post, url: dashboard_post_publish_path(@account.name, @post), id: "unpublish-form", method: :delete do %>
      <% end %>
      <%= form_with model: @post, url: dashboard_post_trash_path(@account.name, @post), id: "restore-form", method: :delete do %>
      <% end %>
      <%= form_with model: @post, url: dashboard_post_trash_path(@account.name, @post), id: "trash-form", method: :patch do %>
      <% end %>
      <%= form_with model: @post, url: dashboard_post_path(@account.name, @post), id: "delete-form", method: :delete, data: { turbo_confirm: t(".delete_forever_confirm") } do %>
      <% end %>
    <% end %>
  </div>
</div>
