<div id="post-editor" class="post-editor" data-controller="post-editor">
  <%= form_with model: @post, url: @post.new_record? ? dashboard_posts_path(@account.name) : dashboard_post_path(@account.name, @post) do |form| %>
    <div class="drawer drawer-end">
      <input type="checkbox" id="drawer-toggle" class="drawer-toggle" />

      <div class="drawer-content">
        <div class="sticky top-0 z-10 bg-base-200 border-b border-base-300">
          <div class="max-w-7xl mx-auto">
            <div class="navbar">
              <div class="flex-grow">
                <a href="<%= dashboard_posts_path(@account.name) %>" class="btn btn-ghost">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-chevron-left-icon lucide-chevron-left"><path d="m15 18-6-6 6-6"/></svg>
                  <%= t "general.posts" %>
                </a>
                <% if @post.draft? %>
                  <div class="btn btn-disabled btn-ghost text-base-content/80">
                    <%= t "general.draft" %>
                  </div>
                <% elsif @post.published? %>
                  <a href="<%= account_post_path(@account.name, @post) %>" class="btn btn-ghost text-base-content/80" target="_blank">
                    <%= t "general.published" %>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-arrow-up-right-icon lucide-arrow-up-right"><path d="M7 7h10v10"/><path d="M7 17 17 7"/></svg>
                  </a>
                <% end %>
              </div>
              <div class="flex-none">
                <% if @post.draft? %>
                  <button type="submit" class="btn btn-ghost">
                    <%= t "general.save" %>
                  </button>
                  <% if @post.persisted? %>
                    <button type="submit" class="btn btn-ghost text-primary" form="publish-form">
                      <%= t "general.publish" %>
                    </button>
                  <% else %>
                    <button type="button" class="btn btn-ghost" disabled>
                      <%= t "general.publish" %>
                    </button>
                  <% end %>
                <% elsif @post.published? %>
                  <button type="submit" class="btn btn-ghost text-primary">
                    <%= t "general.update" %>
                  </button>
                  <button type="submit" class="btn btn-ghost" form="unpublish-form">
                    <%= t "general.unpublish" %>
                  </button>
                <% end %>
                <label for="drawer-toggle" class="btn btn-ghost btn-square">
                  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-panel-right-icon lucide-panel-right"><rect width="18" height="18" x="3" y="3" rx="2"/><path d="M15 3v18"/></svg>
                </label>
              </div>
            </div>
          </div>
        </div>

        <div class="max-w-4xl mx-auto p-4">
          <div class="card card-lg card-border border-base-300 bg-base-100" data-turbo-permanent>
            <div class="card-body">
              <%= form.text_area :title, class: "text-3xl font-medium resize-none outline-none", placeholder: "Title", data: { controller: "autoresize" } %>
              <%= form.hidden_field :content, id: "post_content", placeholder: "Markdown..." %>
              <markdown-editor input="post_content" class="mt-4 min-h-screen"></markdown-editor>

              <div class="sticky bottom-4 flex justify-center mt-4">
                <div class="bg-base-200 p-1 rounded-box flex gap-1 shadow-sm">
                  <div class="join">
                    <button type="button" class="btn btn-ghost join-item">
                      <%= t "general.edit" %>
                    </button>
                    <button type="button" class="btn btn-ghost join-item">
                      <%= t "general.preview" %>
                    </button>
                  </div>
                  <div class="">
                    <button type="button" class="btn btn-ghost btn-square">
                      <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-paperclip-icon lucide-paperclip"><path d="m16 6-8.414 8.586a2 2 0 0 0 2.829 2.829l8.414-8.586a4 4 0 1 0-5.657-5.657l-8.379 8.551a6 6 0 1 0 8.485 8.485l8.379-8.551"/></svg>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="drawer-side z-10">
        <label for="drawer-toggle" class="drawer-overlay"></label>

        <div class="bg-base-100 text-base-content h-full w-80 flex flex-col">
          <div class="navbar border-b border-base-300">
            <div class="flex-grow px-2">
              <%= t "general.settings" %>
            </div>
            <label for="drawer-toggle" class="btn btn-ghost btn-square">
              <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-x-icon lucide-x"><path d="M18 6 6 18"/><path d="m6 6 12 12"/></svg>
            </label>
          </div>

          <div class="flex-grow p-4 overflow-auto">
            <div class="space-y-2">
              <%= render "components/image_field", form: form, name: :featured_image %>

              <fieldset class="fieldset">
                <legend class="fieldset-legend">
                  <%= t "general.tags" %>
                </legend>
                <div data-controller="tag-field">
                  <%= form.hidden_field :tag_list, data: { tag_field_target: "input" } %>
                </div>
              </fieldset>

              <%= render "components/text_field", form: form, name: :canonical_url %>

              <fieldset class="fieldset">
                <legend class="fieldset-legend">
                  <%= t "general.options" %>
                </legend>
                <%= render "components/checkbox_field", form: form, name: :allow_comments %>
              </fieldset>
            </div>

            <% if @post.persisted? %>
              <div class="divider"></div>

              <button type="submit" class="btn btn-outline btn-error" form="delete-form">
                <%= t "general.delete_post" %>
              </button>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>

<div id="post-editor" class="post-editor hidden" data-controller="post-editor-disabled">
  <%= form_with model: @post, url: @post.new_record? ? dashboard_posts_path(@account.name) : dashboard_post_path(@account.name, @post), id: "post-form", data: { post_editor_target: "form", controller: "form-unsave-checker", action: "input->post-editor#handleChanges" } do |form| %>
    <div class="flex overflow-y-hidden">
      <div class="grow h-screen overflow-auto">
        <div class="container mx-auto">
          <%# Top bar %>
          <div class="top-app-bar sticky top-0 z-10 bg-surface">
            <a href="<%= dashboard_posts_path(@account.name) %>" class="icon-button">
              <x-icon>arrow_back</x-icon>
            </a>
            <div class="top-app-bar__headline">
              <%= t "general.post" %>
            </div>

            <% if @post.new_record? %>
              <button type="submit" class="button button--text" data-post-editor-target="submitButton" disabled>
                <%= t "general.save" %>
              </button>
              <button type="button" class="button button--text" disabled>
                <%= t "general.publish" %>
              </button>
              <button type="button" class="icon-button" disabled>
                <x-icon>more_horiz</x-icon>
              </button>
            <% else %>
              <% if @post.draft? %>
                <button type="submit" class="button button--text" data-post-editor-target="submitButton" disabled>
                  <%= t "general.save" %>
                </button>
                <button type="submit" class="button button--text" data-post-editor-target="publishButton" form="publish-form">
                  <%= t "general.publish" %>
                </button>
              <% elsif @post.published? %>
                <button type="submit" class="button button--text" form="post-form" data-post-editor-target="submitButton" disabled>
                  <%= t "general.update" %>
                </button>
                <a href="<%= account_post_path(@post.account.name, @post) %>" class="button button--text">
                  <%= t "general.view" %>
                </a>
              <% elsif @post.trashed? %>
                <button type="submit" class="button button--text" form="restore-form">
                  <%= t "general.restore" %>
                </button>
              <% end %>

              <div class="menu">
                <label tabindex="0" class="icon-button">
                  <x-icon>more_horiz</x-icon>
                </label>

                <div tabindex="0" class="menu__content top-full right-0 origin-top-right">
                  <% if @post.published? %>
                    <button type="submit" class="menu__item" form="unpublish-form">
                      <x-icon>unpublished</x-icon>
                      <span>
                        <%= t "general.unpublish" %>
                      </span>
                    </button>
                  <% end %>
                  <% if @post.trashed? %>
                    <button type="submit" class="menu__item" form="delete-form">
                      <x-icon>delete_forever</x-icon>
                      <span>
                        <%= t "general.delete_forever" %>
                      </span>
                    </button>
                  <% else %>
                    <button type="submit" class="menu__item" form="trash-form">
                      <x-icon>delete</x-icon>
                      <span>
                        <%= t "general.move_to_trash" %>
                      </span>
                    </button>
                  <% end %>
                </div>
              </div>
            <% end %>

            <label for="side-sheet-toggle" class="icon-button">
              <x-icon>view_sidebar</x-icon>
            </label>
          </div>

          <div class="flex px-4 justify-center">

            <div class="card flex-grow p-8 mb-4 max-w-screen-md group/container" data-post-editor-target="container" data-turbo-permanent>
              <div class="min-h-screen">
                <%= form.text_area :title, class: "block w-full px-0 py-2 border-none outline-none bg-transparent text-3xl font-bold resize-none", placeholder: Post.human_attribute_name("title"), autocomplete: "off", data: { post_editor_target: "titleInput", action: "input->post-editor#resizeTitleInput keydown.enter->post-editor#focus:prevent" } %>
                <%= form.hidden_field :content, id: "post_content", placeholder: "Markdown...", data: { post_editor_target: "contentInput" } %>

                <markdown-editor input="post_content" data-post-editor-target="markdownEditor" class="mt-4"></markdown-editor>
              </div>

              <div class="sticky flex justify-center px-4 mt-8 bottom-4 pb-safe">
                <div class="flex items-center gap-1 p-1 bg-surface-container rounded-full shadow-md">
                  <button type="button" class="button button--text text-on-surface-variant button--active" data-post-editor-target="editButton" data-action="post-editor#edit">
                    <%= t "general.edit" %>
                  </button>
                  <button type="button" class="button button--text text-on-surface-variant" data-post-editor-target="previewButton" data-action="post-editor#preview">
                    <%= t "general.preview" %>
                  </button>

                  <div class="border-l border-outline-variant h-6 mx-1"></div>

                  <button type="button" class="icon-button" data-action="post-editor#attachFile" data-post-editor-target="toolbarButton">
                    <x-icon>attach_file</x-icon>
                  </button>
                </div>
              </div>
            </div>

          </div>

        </div>

      </div>

      <%= render "editor_side_sheet", form: form %>
    </div>
  <% end %>

</div>

<div class="hidden">
  <% if @post.persisted? %>
    <%= form_with model: @post, url: dashboard_post_publish_path(@account.name, @post), id: "publish-form", method: :patch do %>
    <% end %>
    <%= form_with model: @post, url: dashboard_post_publish_path(@account.name, @post), id: "unpublish-form", method: :delete do %>
    <% end %>
    <%= form_with model: @post, url: dashboard_post_trash_path(@account.name, @post), id: "restore-form", method: :delete do %>
    <% end %>
    <%= form_with model: @post, url: dashboard_post_trash_path(@account.name, @post), id: "trash-form", method: :patch do %>
    <% end %>
    <%= form_with model: @post, url: dashboard_post_path(@account.name, @post), id: "delete-form", method: :delete, data: { turbo_confirm: t(".delete_forever_confirm") } do %>
    <% end %>
  <% end %>
</div>
