<div class="list-row relative hover:bg-base-200">
  <div class="list-col-grow">
    <div>
      <a href="<%= edit_dashboard_post_path(post.account.name, post) %>" class="text-base font-medium line-clamp-1 after:absolute after:inset-0">
        <%= post.title.presence || t("general.untitled") %>
      </a>
    </div>
    <div class="text-sm text-base-content/80 mt-2">
      <span>
        <%= post.user.name %>
      </span>
      <% if post.account.organization? %>
        <span>
          <%= t "general.in" %>
          <%= post.account.owner.name %>
        </span>
      <% end %>
      &centerdot;
      <span>
        <%= format_time post.updated_at %>
      </span>
    </div>
  </div>

  <div>
    <% case post.status %>
    <% when "published" %>
      <div class="badge badge-primary badge-soft">
        <%= t "general.published" %>
      </div>
    <% when "draft" %>
      <div class="badge badge-neutral badge-soft">
        <%= t "general.draft" %>
      </div>
    <% end %>
  </div>
</div>
