<div class="flex items-center justify-between px-4 py-3 border-b border-outline-variant gap-4 relative interactive">
  <div class="flex-grow min-w-0">
    <div>
      <a href="<%= edit_dashboard_post_path(post.account.name, post) %>" class="font-medium line-clamp-1 after:absolute after:inset-0">
        <%= post.title.presence || t("general.untitled") %>
      </a>
    </div>
    <div class="text-sm text-on-surface-variant mt-1">
      <span>
        <%= post.user.name %>
      </span>
      <% if post.account.organization? %>
        <span>
          <%= t "general.in" %>
          <%= post.account.owner.name %>
        </span>
      <% end %>
      &centerdot;
      <span>
        <%= format_time post.updated_at %>
      </span>
    </div>
  </div>
</div>
