<div class="top-app-bar">
  <div class="top-app-bar__headline">
    <%= t "general.posts" %>
  </div>

  <a href="<%= new_dashboard_post_path(@account.name) %>" class="button button--filled -mr-2">
    <x-icon>add</x-icon>
    <%= t "general.new_post" %>
  </a>
</div>

<div class="card">
  <div class="flex items-center border-b border-outline-variant rounded-t-xl overflow-hidden">
    <a href="<%= url_for(status: nil) %>" class="tab tab--secondary grow <%= "tab--active" if @status == "draft" %>">
      <%= t "general.draft" %> <%= account_posts.draft.count %>
    </a>
    <a href="<%= url_for(status: "published") %>" class="tab tab--secondary grow <%= "tab--active" if @status == "published" %>">
      <%= t "general.published" %> <%= account_posts.published.count %>
    </a>
    <a href="<%= url_for(status: "trashed") %>" class="tab tab--secondary grow <%= "tab--active" if @status == "trashed" %>">
      <%= t "general.trashed" %> <%= account_posts.trashed.count %>
    </a>
  </div>

  <div class="pb-3">
    <%= render "components/scroll_pagination", pagy: @pagy do %>
      <%= render partial: "post", collection: @posts %>
    <% end %>
  </div>
</div>
