<div class="card card-board border-base-300 bg-base-100">
  <div class="card-body">
    <div class="flex items-center gap-4 pb-4 border-b border-base-300">
      <div class="flex-grow">
        <div class="card-title">
          <%= t "general.posts" %>
        </div>
      </div>

      <div class="flex-none">
        <div class="dropdown dropdown-end">
          <label tabindex="0" class="btn btn-ghost">
            <% case @status %>
            <% when "all" %>
              <%= t "general.all" %>
            <% when "published" %>
              <%= t "general.published" %>
            <% when "draft" %>
              <%= t "general.draft" %>
            <% end %>
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-chevron-down-icon lucide-chevron-down"><path d="m6 9 6 6 6-6"/></svg>
          </label>
          <ul tabindex="0" class="dropdown-content menu w-52 bg-base-100 p-2 shadow-sm">
            <li>
              <a href="<%= url_for(status: nil) %>" class="<%= "menu-active" if @status == "all" %>">
                <%= t "general.all" %>
              </a>
            </li>
            <li>
              <a href="<%= url_for(status: "published") %>" class="<%= "menu-active" if @status == "published" %>">
                <%= t "general.published" %>
              </a>
            </li>
            <li>
              <a href="<%= url_for(status: "draft") %>" class="<%= "menu-active" if @status == "draft" %>">
                <%= t "general.draft" %>
              </a>
            </li>
          </ul>
        </div>

        <a href="<%= new_dashboard_post_path(@account.name) %>" class="btn btn-soft">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-plus-icon lucide-plus"><path d="M5 12h14"/><path d="M12 5v14"/></svg>
          <%= t "general.new_post" %>
        </a>
      </div>
    </div>

    <%= render "components/scroll_pagination", pagy: @pagy, content_class: "list" do %>
      <%= render partial: "post", collection: @posts %>
    <% end %>
  </div>
</div>
