<div class="top-app-bar">
  <a href="<%= dashboard_settings_root_path %>" class="icon-button">
    <x-icon>arrow_back</x-icon>
  </a>
  <div class="top-app-bar__headline">
    <%= t "general.import" %>
  </div>
</div>

<div class="card">
  <div class="p-4">
    <div class="max-w-screen-sm">
      <%= form_with model: @account, url: dashboard_settings_import_path(@account.name) do |form| %>
        <div class="form-field">
          <%= form.label :feed_url, class: "form-label" %>
          <%= render "components/text_field", form: form, name: :feed_url %>
        </div>
        <div class="form-field">
          <%= render "components/checkbox_field", form: form, name: :feed_mark_canonical, description: t('.feed_mark_canonical_description') %>
        </div>
        <div class="form-field flex gap-2 items-center">
          <button type="submit" class="button button--filled">
            <%= t '.save_and_fetch' %>
          </button>
          <% if @account.feed_url.present? && @account.feed_fetched_at %>
            <div class="text-on-surface-variant">
              <%= t 'general.last_fetched_at' %>
              <%= format_time @account.feed_fetched_at %>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
