<div class="card card-border border-base-300 bg-base-100">
  <div class="card-body">
    <h2 class="card-title">
      <%= t "general.overview" %>
    </h2>

    <div class="stats stats-vertical md:stats-horizontal border border-base-300">
      <div class="stat">
        <div class="stat-title">
          <%= t "general.followers" %>
        </div>
        <div class="stat-value">
          <%= @account.followers.count %>
        </div>
      </div>

      <div class="stat">
        <div class="stat-title">
          <%= t "general.page_view" %>
        </div>
        <div class="stat-value">
          #todo
        </div>
      </div>

      <div class="stat">
        <div class="stat-title">
          <%= t "general.likes" %>
        </div>
        <div class="stat-value">
          #todo
        </div>
      </div>
    </div>
  </div>
</div>
