<div class="container padding-3">
  <div class="card card--elevated background-surface">
    <div class="flex h-14 items-center px-2">
      <a href="<%= admin_post_path(@post) %>" class="icon-button">
        <x-icon>arrow_back</x-icon>
      </a>
      <div class="flex-grow px-2 text-lg font-medium">
        <%= t 'general.edit' %> #<%= @post.id %>
      </div>
    </div>

    <div class="p-4">
      <%= form_with model: @post, url: admin_post_path(@post) do |form| %>
        <div class="form-field">
          <%= form.label :title, class: "form-label" %>
          <%= render "components/text_field", form: form, name: :title %>
        </div>

        <div class="form-field">
          <%= form.label :content, class: "form-label" %>
          <%= render "components/markdown_field", form: form, name: :content %>
        </div>

        <div class="form-field">
          <%= form.label :tag_list, class: "form-label" %>
          <div class="combobox">
            <%= form.combobox :tag_list, tag_options_path, multiselect_chip_src: tag_chips_path, free_text: true %>
          </div>
        </div>

        <div class="form-field">
          <%= form.label :canonical_url, class: "form-label" %>
          <%= render "components/text_field", form: form, name: :canonical_url %>
        </div>

        <div class="form-field">
          <button type="submit" class="filled-button">
            <%= t 'general.save_changes' %>
          </button>
        </div>
      <% end %>
    </div>
  </div>
</div>
