<div class="container">
  <div class="layout">
    <%= render 'admin/navbar' %>

    <div class="main">
      <div class="card card--surface">
        <div class="headline-medium padding-y-2 padding-x-3">
          <%= t 'common.posts' %>
        </div>

        <table class="table border-top border-bottom">
          <% @posts.each do |post| %>
            <tr>
              <td>
                <a href="<%= admin_post_path(post) %>">
                  <%= post.title.presence || 'Untitile' %>
                </a>
              </td>
              <td>
                <%= post.account.name %>
              </td>
              <td>
                <%= format_time post.created_at %>
              </td>
            </tr>
          <% end %>
        </table>

        <div class="padding-3">
          <%= paginate @posts %>
        </div>
      </div>
    </div>
  </div>
</div>
