<div class="">
  <div class="card">
    <div class="flex items-center h-14 px-2">
      <a href="<%= admin_posts_path %>" class="icon-button">
        <%= material_icon :arrow_back %>
      </a>

      <div class="flex-grow px-2 text-lg font-medium">
        Posts #<%= @post.id %>
      </div>

      <a href="<%= edit_admin_post_path(@post) %>" class="icon-button">
        <%= material_icon :edit %>
      </a>

      <div class="menu">
        <label tabindex="0" class="icon-button">
          <%= material_icon :more_vert %>
        </label>
        <div tabindex="0" class="menu__content top-full right-0 origin-top-right">
          <% if @post.restricted? %>
            <%= form_with url: unrestrict_admin_post_path(@post), method: :patch do %>
              <button type="submit" class="menu__item">
                <%= material_icon :block %>
                <span>Unblock</span>
              </button>
            <% end %>
          <% else  %>
            <%= form_with url: restrict_admin_post_path(@post), method: :patch, data: { turbo_confirm: t('.restrict_post_confirm') } do %>
              <button type="submit" class="menu__item">
                <%= material_icon :block %>
                <span>Block</span>
              </button>
            <% end %>
          <% end %>
          <%= form_with url: admin_post_path(@post), method: :delete, data: { turbo_confirm: "Delete post?" } do %>
            <button type="submit" class="menu__item">
              <%= material_icon :delete %>
              <span>Delete</span>
            </button>
          <% end %>
        </div>
      </div>
    </div>

    <dl class="data-list pb-3">
      <div>
        <dt>
          <%= t 'common.account' %>
        </dt>
        <dd>
          <a href="<%= admin_account_path(@post.account.id) %>" class="text-primary underline">
            <%= @post.account.name %>
          </a>
        </dd>
      </div>

      <div>
        <dt>
          <%= t 'common.user' %>
        </dt>
        <dd>
          <a href="<%= admin_user_path(@post.user) %>" class="text-primary underline">
            <%= @post.user.name %>
          </a>
        </dd>
      </div>

      <div>
        <dt>
          <%= t 'common.public_link' %>
        </dt>
        <dd>
          <a href="<%= account_post_path(@post.account, @post) %>" class="text-primary underline">
            <%= account_post_path(@post.account, @post) %>
          </a>
        </dd>
      </div>

      <% @post.attributes.each do |name, value| %>
        <div>
          <dt>
            <%= name %>
          </dt>
          <dd class="break-words">
            <%= value %>
          </dd>
        </div>
      <% end %>
    </dl>
  </div>
</div>
