<div class="container padding-3">
  <div class="layout-primary">
    <%= render 'admin/navbar' %>

    <div class="">
      <div class="card card--elevated background-surface">
        <div class="top-app-bar">
          <div class="top-app-bar__action">
            <a href="<%= admin_posts_path %>" class="button button--icon">
              <span class="material-icons">arrow_back</span>
            </a>
          </div>
          <div class="top-app-bar__title">
            <%= t 'common.posts' %> #<%= @post.id %>
          </div>

          <div class="top-app-bar__action">
            <a href="<%= edit_admin_post_path(@post) %>" class="button button--text">
              <%= t 'common.edit' %>
            </a>
          </div>

          <div class="top-app-bar__action">
            <% if @post.restricted? %>
              <%= form_with model: @post, url: unrestrict_admin_post_path(@post) do %>
                <button type="submit" class="button button--text">
                  <%= t '.unrestrict' %>
                </button>
              <% end %>
            <% else  %>
              <%= form_with model: @post, url: restrict_admin_post_path(@post), data: { turbo_confirm: t('.restrict_post_confirm') } do %>
                <button type="submit" class="button button--text button--danger">
                  <%= t '.restrict_post' %>
                </button>
              <% end %>
            <% end %>
          </div>
        </div>

        <table class="table border-top">
          <tr>
            <th>
              <%= t 'common.account' %>
            </th>
            <td>
              <a href="<%= edit_admin_account_path(@post.account.id) %>">
                <%= @post.account.name %>
              </a>
            </td>
          </tr>

          <tr>
            <th>
              <%= t 'common.user' %>
            </th>
            <td>
              <a href="<%= edit_admin_user_path(@post.user) %>">
                <%= @post.user.name %>
              </a>
            </td>
          </tr>

          <tr>
            <th>
              <%= t 'common.public_link' %>
            </th>
            <td>
              <a href="<%= account_post_path(@post.account, @post) %>">
                <%= account_post_path(@post.account, @post) %>
              </a>
            </td>
          </tr>

          <% @post.attributes.each do |name, value| %>
            <tr>
              <th>
                <%= name %>
              </th>
              <td class="text-break-all">
                <%= value %>
              </td>
            </tr>
          <% end %>
        </table>
      </div>

      <div class="sidebar">
        <div class="card card--surface padding-3">
        </div>
      </div>
    </div>
  </div>
</div>
