<% @page_title = @account.display_name %>

<div class="container padding-3">
  <div class="layout-primary">
    <div class="">
      <div class="breadcrumb margin-bottom-3">
        <div class="breadcrumb__item">
          <a href="<%= account_root_path(@account) %>">
            <div class="display-flex gap-2 align-items-center">
              <div class="avatar">
                <%= avatar_image_tag @account.owner.avatar %>
              </div>
              <div class="">
                <b><%= @account.owner.name %></b>
              </div>
            </div>
          </a>
        </div>

        <div class="breadcrumb__item">
          <a href="<%= account_followings_path(@account) %>">
            <%= t 'common.followings' %>
          </a>
        </div>
      </div>

      <div class="card card--elevated padding-y-2">
        <div id="followings" class="divide-y" data-controller="pagination">
          <%= render partial: "account/account", collection: @paginator[:page].pluck(:data).map(&:account), cached: true %>

          <% if @paginator[:page_info][:has_next_page] %>
            <a href="<%= url_for(after: @paginator[:page_info][:end_cursor]) %>" class="button button--text width-100 justify-content-center" data-pagination-target="nextPageLink">
              Load more
            </a>
          <% else %>
            <div class="body-medium text-muted text-align-center padding-x-3 padding-y-2">
              No more content.
            </div>
          <% end %>
        </div>
      </div>

    </div>
  </div>
</div>
