<div class="flex flex-col md:flex-row gap-6">
  <div class="flex-grow min-w-0">
    <div class="card">
      <div class="flex items-center h-14 gap-2 p-2">
        <div class="flex-shrink-0">
          <a href="<%= account_root_path(@account.name) %>" class="icon-button">
            <%= material_icon :arrow_back %>
          </a>
        </div>
        <div class="flex-grow text-lg">
          <span class="font-medium">
            <%= @account.name %>
          </span>
        </div>
      </div>

      <div class="flex gap-2 items-center border-b border-outline-variant">
        <%= render "components/primary_tab", url: account_followings_path(@account.name), label: t("general.following"), active: current_page?(account_followings_path(@account.name)) %>
        <%= render "components/primary_tab", url: account_followers_path(@account.name), label: t("general.followers"), active: current_page?(account_followers_path(@account.name)) %>
      </div>

      <%= render "components/scroll_pagination", pagy: @pagy do %>
        <%= render partial: "account/item", collection: @accounts, as: :account %>
      <% end %>
    </div>
  </div>

  <div class="flex-shrink-0 md:w-80">
    <%= render "account/profile_card", account: @account %>
  </div>
</div>
