<%= render 'account/subheader' %>

<div class="container container--medium">
  <div class="breadcrumb padding">
    <div class="breadcrumb__item">
      <a href="<%= account_root_path(@account) %>">
        <%= @account.display_name %>
      </a>
    </div>
    <div class="breadcrumb__item breadcrumb__item--active">
      <%= t 'common.followings' %>
    </div>
  </div>

  <div class="list">
    <%= render partial: 'account/follows/list_item', collection: @accounts, as: :account %>
  </div>

  <%= paginate @accounts %>
</div>
