<div class="top-app-bar">
  <a href="<%= account_root_path(@account.name) %>" class="icon-button" data-controller="back-link">
    <x-icon>arrow_back</x-icon>
  </a>
  <div class="top-app-bar__headline">
    <%= @account.display_name %>
  </div>
</div>

<div class="layout-main-sidebar">
  <div>
    <div class="card">
      <div class="flex items-center border-b border-outline-variant rounded-t-xl overflow-hidden">
        <a href="<%= account_followings_path(@account.name) %>" class="tab tab--secondary tab--active grow">
          <%= t "general.following" %>
        </a>
        <a href="<%= account_followers_path(@account.name) %>" class="tab tab--secondary grow">
          <%= t "general.followers" %>
        </a>
      </div>

      <%= render "components/scroll_pagination", pagy: @pagy do %>
        <%= render partial: "account/item", collection: @accounts, as: :account %>
      <% end %>
    </div>
  </div>

  <div>
    <%= render "account/profile_card", account: @account %>
  </div>
</div>
