
<div class="navbar px-0 gap-4">
  <div class="flex-none">
    <label for="navigation-drawer-toggle" class="btn btn-square btn-ghost xl:hidden">
      <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M4 5h16"/><path d="M4 12h16"/><path d="M4 19h16"/></svg>
    </label>
  </div>
  <div class="flex-grow">
    <div class="text-xl font-medium">
      <%= t 'general.organizations' %>
    </div>
  </div>
</div>


<div class="card card-default">
  <div class="card-body">
    <table class="table">
      <thead>
        <tr>
          <th><%= t 'general.id' %></th>
          <th><%= t 'general.name' %></th>
          <th><%= t 'general.created_at' %></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @organizations.each do |organization| %>
          <tr>
            <td><%= organization.id %></td>
            <td><%= organization.name %></td>
            <td><%= format_time organization.created_at %></td>
            <td class="text-right">
              <a href="<%= admin_organization_path(organization) %>" class="btn btn-ghost">View</a>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <div class="p-4">
      <%= render "components/page_pagination", pagy: @pagy %>
    </div>
  </div>
</div>
