<div class="top-app-bar">
  <label for="navigation-drawer-toggle" class="icon-button xl:hidden">
    <x-icon>menu</x-icon>
  </label>
  <div class="top-app-bar__headline">
    <%= t 'general.organizations' %>
  </div>
</div>

<div class="card">
  <table class="data-table">
    <thead>
      <tr>
        <th>
          <%= t 'general.id' %>
        </th>
        <th>
          <%= t 'general.name' %>
        </th>
        <th>
          <%= t 'general.created_at' %>
        </th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @organizations.each do |organization| %>
        <tr>
          <td>
            <%= organization.id %>
          </td>
          <td>
            <%= organization.name %>
          </td>
          <td>
            <%= format_time organization.created_at %>
          </td>
          <td class="text-right">
            <a href="<%= admin_organization_path(organization) %>" class="button button--text">
              View
            </a>
          </td>
        </tr>
      <% end %>
  </table>

  <div class="padding-3">
    <%= paginate @organizations %>
  </div>
</div>
