<div class="container padding-3">
  <div class="layout-primary">
    <%= render 'admin/navbar' %>

    <div class="">
      <div class="card card--elevated background-surface">
        <div class="top-app-bar">
          <div class="top-app-bar__title">
            <%= t 'common.organizations' %>
          </div>
        </div>

        <table class="table border-top border-bottom">
          <tbody>
            <% @organizations.each do |organization| %>
              <tr>
                <td>
                  <a href="<%= admin_organization_path(organization) %>">
                    <%= organization.name %>
                  </a>
                </td>
                <td>
                  <%= format_time organization.created_at %>
                </td>
              </tr>
            <% end %>
        </table>

        <div class="padding-3">
          <%= paginate @organizations %>
        </div>
      </div>
    </div>
  </div>
</div>
