<div class="">
  <div class="card">
    <div class="flex items-center h-14 gap-2 px-2">
      <a href="<%= admin_organizations_path %>" class="icon-button">
        <%= material_icon :arrow_back %>
      </a>
      <div class="flex-grow text-lg font-medium px-2">
        Organization #<%= @organization.id %>
      </div>
      <a href="<%= edit_admin_organization_path(@organization) %>" class="icon-button">
        <%= material_icon :edit %>
      </a>
      <div class="menu">
        <label tabindex="0" class="icon-button">
          <%= material_icon :more_vert %>
        </label>
        <div class="menu__content top-full right-0 origin-top-right">
          <%= form_with url: admin_organization_path(@organization), method: :delete, data: { turbo_confirm: "Delete organization?" } do %>
            <button type="submit" class="menu__item">
              <%= material_icon :delete %>
              <span>Delete</span>
            </button>
          <% end %>
        </div>
      </div>
    </div>

    <dl class="data-list">
      <div>
        <dt>
          <%= t 'common.account' %>
        </dt>
        <dd>
          <a href="<%= admin_account_path(@organization.account.id) %>">
            <%= @organization.account.id %>
          </a>
        </dd>
      </div>

      <% @organization.attributes.each do |name, value| %>
        <div>
          <dt>
            <%= name %>
          </dt>
          <dd>
            <%= value %>
          </dd>
        </div>
      <% end %>
    </dl>
  </div>

  <div class="card mt-4">
    <div class="flex items-center h-14 px-2">
      <div class="flex-grow text-lg font-medium px-2">
        <%= t 'common.members' %>
      </div>
    </div>
    <table class="data-table">
      <% @organization.members.each do |member| %>
        <tr>
          <td>
            <% if member.user %>
              <%= member.user.name %>
            <% else %>
              <%= member.invitation_email %>
            <% end %>
          </td>
          <td>
            <%= member.role %>
          </td>
          <td>
            <%= format_time member.created_at %>
          </td>
          <td class="text-right">
            <% if member.user %>
              <a href="<%= admin_user_path(member.user) %>" class="text-button">
                View
              </a>
            <% end %>
          </td>
        </tr>
      <% end %>
    </table>
  </div>
</div>
