<div class="container padding-3">
  <div class="layout-primary">
    <%= render 'admin/navbar' %>

    <div class="">
      <div class="card card--elevated background-surface margin-bottom-3">
        <div class="top-app-bar">
          <div class="top-app-bar__action">
            <a href="<%= admin_collections_path %>" class="button button--icon">
              <span class="material-icons">arrow_back</span>
            </a>
          </div>
          <div class="top-app-bar__title">
            <%= t 'common.collections' %> #<%= @collection.id %>
          </div>
          <div class="top-app-bar__action">
            <a href="<%= edit_admin_collection_path(@collection) %>" class="button button--text">
              <%= t 'common.edit' %>
            </a>
          </div>
        </div>

        <table class="table border-top">
          <tr>
            <th>
              <%= t 'common.account' %>
            </th>
            <td>
              <a href="<%= admin_account_path(@collection.account.id) %>">
                <%= admin_account_path(@collection.account.id) %>
              </a>
            </td>
          </tr>

          <tr>
            <th>
              <%= t 'common.public_link' %>
            </th>
            <td>
              <a href="<%= account_collection_path(@collection.account, @collection) %>">
                <%= account_collection_path(@collection.account, @collection) %>
              </a>
            </td>
          </tr>

          <% @collection.attributes.except('password_digest', 'auth_token').each do |name, value| %>
            <tr>
              <th>
                <%= name %>
              </th>
              <td class="text-break-all">
                <%= value %>
              </td>
            </tr>
          <% end %>
        </table>
      </div>

      <div class="card card--elevated background-surface">
        <div class="title-medium padding-3">
          <%= t 'common.posts' %>
        </div>

        <table class="table border-top">
          <tbody>
            <% @collection.posts.each do |post| %>
              <tr>
                <td>
                  <a href="<%= admin_post_path(post) %>">
                    <%= post.title %>
                  </a>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
