<div class="container">
  <div class="layout">
    <%= render 'admin/navbar' %>

    <div class="main">
      <div class="card card--surface padding-3 margin-bottom-3">
        <div class="breadcrumb">
          <div class="breadcrumb__item">
            <a href="<%= admin_settings_root_path %>">
              <%= t 'common.settings' %>
            </a>
          </div>
          <div class="breadcrumb__item breadcrumb__item--active">
            <%= t 'common.appearance' %>
          </div>
        </div>
      </div>

      <div class="card card--surface padding-3">
        <%= form_with url: admin_settings_appearance_path, model: @site, builder: CustomFormBuilder do |form| %>
          <div class="margin-bottom-3">
            <%= form.text_field :name %>
          </div>
          <div class="margin-bottom-3">
            <%= form.text_area :description %>
          </div>
          <button type="submit" class="button button--filled">
            <%= t 'common.save_changes' %>
          </button>
        <% end %>
      </div>
    </div>
  </div>
</div>
