<div class="">
  <div class="card">
    <div class="flex items-center h-14 gap-2 px-2">
      <a href="<%= admin_settings_root_path %>" class="icon-button">
        <%= material_icon :arrow_back %>
      </a>
      <div class="flex-grow text-lg font-medium px-2">
        <%= t 'common.appearance' %>
      </div>
    </div>

    <div class="p-4">
      <%= form_with url: admin_settings_appearance_path, model: @site do |form| %>
        <div class="form-field">
          <%= form.label :name, class: "form-label" %>
          <%= render "components/text_field", form: form, name: :name %>
        </div>

        <div class="form-field">
          <%= form.label :description, class: "form-label" %>
          <%= render "components/text_field", form: form, name: :description %>
        </div>

        <div class="form-field">
          <%= form.label :icon, class: "form-label" %>
          <%= render "components/image_field", form: form, name: :icon do %>
            <div class="relative w-32 h-32">
              <div class="absolute inset-0 [&>img]:object-cover [&>img]:h-full [&>img]:w-full" data-image-field-target="preview">
                <% if @site.icon.attached? %>
                  <%= image_tag @site.icon.variant(:thumb) %>
                <% end %>
              </div>

              <label for="site_icon" class="absolute inset-0 flex flex-col items-center justify-center gap-2 group-[.attached]/image-field:hidden border-2 border-dashed border-outline-variant interactive-bg-surface text-on-surface-variant cursor-pointer">
                <div class="icon w-6 h-6">
                  <%= material_icon :add_photo_alternate %>
                </div>
              </label>

              <div class="absolute top-2 right-2 items-center gap-2 hidden group-[.attached]/image-field:flex">
                <div class="bg-surface-variant rounded-full">
                  <label for="site_icon" class="icon-button">
                    <%= material_icon :add_photo_alternate %>
                  </label>
                </div>
              </div>
            </div>
          <% end %>
        </div>

        <div class="form-field">
          <%= form.label :header_html, class: "form-label" %>
          <%= render "components/text_field", form: form, name: :header_html, type: :text_area %>
        </div>

        <div class="form-field">
          <%= form.label :footer_html, class: "form-label" %>
          <%= render "components/text_field", form: form, name: :footer_html, type: :text_area %>
        </div>

        <div class="form-field">
          <%= form.label :sidebar_header_html, class: "form-label" %>
          <%= render "components/text_field", form: form, name: :sidebar_header_html, type: :text_area %>
        </div>

        <div class="form-field">
          <%= form.label :sidebar_header_html, class: "form-label" %>
          <%= render "components/text_field", form: form, name: :sidebar_footer_html, type: :text_area %>
        </div>

        <div class="form-field">
          <button type="submit" class="filled-button">
            <%= t 'common.save_changes' %>
          </button>
        </div>
      <% end %>
    </div>
  </div>
</div>
