<div class="container padding-3">
  <div class="layout-primary">
    <%= render 'admin/navbar' %>

    <div class="">
      <div class="card card--elevated background-surface">
        <div class="top-app-bar">
          <div class="top-app-bar__title">
            <%= t 'common.settings' %>
          </div>
        </div>

        <div class="padding-bottom-2">
          <a href="<%= admin_settings_appearance_path %>" class="link-block">
            <div class="display-flex gap-3 padding-3">
              <span class="material-icons">web</span>
              <div class="flex-grow-1">
                <div class="title-medium">
                  <%= t '.appearance' %>
                </div>
                <div class="">
                  <%= t '.appearance_desription' %>
                </div>
              </div>
            </div>
          </a>
          <a href="<%= admin_settings_weekly_digest_path %>" class="link-block">
            <div class="display-flex gap-3 padding-3">
              <span class="material-icons">email</span>
              <div class="flex-grow-1">
                <div class="title-medium">
                  <%= t '.weekly_digest' %>
                </div>
                <div class="">
                  <%= t '.weekly_digest_desription' %>
                </div>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
