<div class="">
  <div class="card pb-3">
    <div class="flex items-center h-14 gap-2 px-2">
      <div class="flex-grow text-lg font-medium px-2">
        <%= t 'general.settings' %>
      </div>
    </div>

    <div class="">
      <a href="<%= admin_settings_appearance_path %>" class="flex gap-4 p-4 interactive-bg-surface-container-lowest">
        <div class="icon h-6 w-6">
          <x-icon>web</x-icon>
        </div>
        <div class="flex-grow">
          <div class="text-lg font-medium">
            <%= t '.appearance' %>
          </div>
          <div class="">
            <%= t '.appearance_desription' %>
          </div>
        </div>
      </a>
      <a href="<%= admin_settings_weekly_digest_path %>" class="flex gap-4 p-4 interactive-bg-surface-container-lowest">
        <div class="icon h-6 w-6">
          <x-icon>mail</x-icon>
        </div>
        <div class="flex-grow">
          <div class="text-lg font-medium">
            <%= t '.weekly_digest' %>
          </div>
          <div class="">
            <%= t '.weekly_digest_desription' %>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>
