<div class="container">
  <div class="layout">
    <%= render 'admin/navbar' %>

    <div class="main">
      <div class="card card--surface">
        <div class="title-large padding-3">
          <%= t 'common.settings' %>
        </div>
        <div class="padding-bottom-2">
          <a href="<%= admin_settings_appearance_path %>" class="link-block">
            <div class="display-flex gap-3 padding-3">
              <span class="material-icons">web</span>
              <div class="flex-grow-1">
                <div class="title-medium">
                  <%= t '.appearance' %>
                </div>
                <div class="">
                  <%= t '.appearance_desription' %>
                </div>
              </div>
            </div>
          </a>
          <a href="<%= admin_settings_weekly_summary_path %>" class="link-block">
            <div class="display-flex gap-3 padding-3">
              <span class="material-icons">email</span>
              <div class="flex-grow-1">
                <div class="title-medium">
                  <%= t '.weekly_summary' %>
                </div>
                <div class="">
                  <%= t '.weekly_summary_desription' %>
                </div>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
