<div class="container">
  <div class="row">
    <div class="col-8">
      <div class="tab padding">
        <a href="<%= root_path %>" class="tab__item <%= 'tab__item--active' if action_name == 'index' %>">
          <%= t 'common.recommend' %>
        </a>
        <a href="<%= following_posts_path %>" class="tab__item <%= 'tab__item--active' if action_name == 'following' %>">
          <%= t 'common.following' %>
        </a>
        <a href="<%= latest_posts_path %>" class="tab__item <%= 'tab__item--active' if action_name == 'latest' %>">
          <%= t 'common.latest' %>
        </a>
      </div>

      <div class="list">
        <%= render partial: 'account/posts/post', collection: @posts, cached: -> (post) { [post, post.saved] } %>
      </div>

      <%= paginate @posts %>
    </div>

    <div class="col-4 margin-top">
      <% if !current_user %>
        <div class="subheader">
          <%= t '.join_geeknote' %>
        </div>
        <div class="padding">
          <div class="text-primary margin-bottom">
            <%= t '.join_geeknote_description' %>
          </div>
          <div>
            <a href="<%= sign_up_path %>" class="button button--contained button--primary">
              <%= t 'common.sign_up' %>
            </a>
            <a href="<%= sign_in_path %>" class="button button--text button--primary">
              <%= t 'common.sign_in' %>
            </a>
          </div>
        </div>
        <hr class="divider margin-x">
      <% end %>

      <div class="subheader">
        <%= t '.hot_tags' %>
      </div>
      <div class="padding">
        <div class="flex flex-wrap">
          <% Tag.order(taggings_count: :desc).limit(9).each do |tag| %>
            <a href="<%= tag_path(id: tag.name) %>" class="chip margin-right-8 margin-bottom-8">
              <div class="chip__text">
                <%= tag.name %>
              </div>
            </a>
          <% end %>
        </div>
      </div>
      <hr class="divider margin-x">

      <% if current_user %>
        <div class="subheader">
          <%= t 'common.bookmarks' %>
        </div>
        <div class="list">
          <% current_user.bookmarks.includes(:post).each do |bookmark| %>
            <% post = bookmark.post %>
            <div class="list__item position-relative">
              <div class="list__content">
                <a href="<%= account_post_path(post.account, post) %>" class="stretched-link"></a>
                <h4 class="margin-top-0 margin-bottom-8">
                  <%= post.title.presence || 'Untitle' %>
                </h4>
                <div class="text-secondary">
                  <%= local_time post.created_at, format: :short %>
                </div>
              </div>
            </div>
          <% end %>
        </div>
        <div class="padding-x">
          <a href="<%= bookmarks_path %>" class="link-text">
            <%= t 'common.view_all' %>
          </a>
        </div>
      <% end %>
    </div>
  </div>
</div>
