<div class="container">
  <div class="display-flex gap-5 padding-3">
    <div class="flex-grow-1">
      <div class="tab margin-bottom-4">
        <a href="<%= root_path %>" class="tab__item <%= 'tab__item--active' if action_name == 'index' %>">
          <%= t 'common.recommend' %>
        </a>
        <a href="<%= following_posts_path %>" class="tab__item <%= 'tab__item--active' if action_name == 'following' %>">
          <%= t 'common.following' %>
        </a>
        <a href="<%= latest_posts_path %>" class="tab__item <%= 'tab__item--active' if action_name == 'latest' %>">
          <%= t 'common.latest' %>
        </a>
      </div>

      <div class="list">
        <%= render partial: 'account/posts/post', collection: @posts, cached: true %>
      </div>

      <div class="padding">
        <%= paginate @posts %>
      </div>
    </div>

    <div class="sidebar">
      <% if !current_user %>
        <div class="margin-bottom">
          <div class="padding-x padding-bottom">
            <h3 class="subtitle-1">
              <%= t '.join_geeknote_title' %>
            </h3>
            <div class="margin-bottom">
              <%= t '.join_geeknote_description' %>
            </div>
            <div class="flex flex-gap">
              <a href="<%= sign_up_path %>" class="button button--contained button--primary">
                <%= t 'common.sign_up' %>
              </a>
              <a href="<%= sign_in_path %>" class="button button--text button--primary">
                <%= t 'common.sign_in' %>
              </a>
            </div>
          </div>
        </div>
      <% else %>
        <% if !current_user.email_verified? %>
          <div class="padding">
            <div class="card card--outlined">
              <div class="padding-x padding-top">
                <h3 class="subtitle-5 margin-top-0">
                  <%= t '.verify_email_title' %>
                </h3>
                <div class="text-priamry">
                  <%= t '.verify_email_description' %>
                </div>
              </div>
              <div class="toolbar">
                <div class="toolbar__action">
                  <a href="<%= settings_email_path %>" class="button button--text button--primary">
                    <div class="button__text">
                      <%= t '.email_settings' %>
                    </div>
                    <div class="button__icon">
                      <span class="material-icons">arrow_forward</span>
                    </div>
                  </a>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>

      <div class="margin-bottom">
        <h3 class="subtitle-1 padding-x">
          <%= t '.hot_tags' %>
        </h3>
        <div class="padding">
          <div class="flex flex-wrap">
            <% Tag.order(taggings_count: :desc).limit(9).each do |tag| %>
              <a href="<%= tag_path(id: tag.name) %>" class="chip margin-right-8 margin-bottom-8">
                <div class="chip__text">
                  <%= tag.name %>
                </div>
              </a>
            <% end %>
          </div>
        </div>
      </div>

      <div class="margin-bottom">
        <h3 class="subtitle-1 padding-x">
          <%= t '.who_to_follow' %>
        </h3>
        <div class="list">
          <%= render partial: 'account/follows/account', collection: Account.recommend_for(current_user).limit(3).includes(:owner) %>
        </div>
      </div>

      <div class="padding flex flex-gap text-secondary">
        <a href="https://geeknote.net/policy/posts/190" class="link-text"><%= t 'common.rules' %></a>
        <a href="https://geeknote.net/geeknote/" class="link-text"><%= t 'common.blog' %></a>
        <a href="/contact" class="link-text"><%= t 'common.contact' %></a>
        <a href="https://github.com/geeknote-net/feedback/discussions" class="link-text" target="_blank"><%= t 'common.feedback' %></a>
      </div>
    </div>
  </div>
</div>
