<div class="container">
  <div class="row">
    <div class="col-8">
      <div class="tab padding">
        <a href="<%= root_path %>" class="tab__item <%= 'tab__item--active' if action_name == 'index' %>">
          <%= t 'common.recommend' %>
        </a>
        <a href="<%= following_posts_path %>" class="tab__item <%= 'tab__item--active' if action_name == 'following' %>">
          <%= t 'common.following' %>
        </a>
        <a href="<%= latest_posts_path %>" class="tab__item <%= 'tab__item--active' if action_name == 'latest' %>">
          <%= t 'common.latest' %>
        </a>
      </div>

      <div class="list">
        <%= render partial: 'account/posts/post', collection: @posts, cached: true %>
      </div>

      <%= paginate @posts %>
    </div>

    <div class="col-4 margin-top padding-left">
      <% if !current_user %>
        <div class="subheader">
          <%= t '.join_geeknote' %>
        </div>
        <div class="padding">
          <div class="text-primary margin-bottom">
            <%= t '.join_geeknote_description' %>
          </div>
          <div>
            <a href="<%= sign_up_path %>" class="button button--contained button--primary">
              <%= t 'common.sign_up' %>
            </a>
            <a href="<%= sign_in_path %>" class="button button--text button--primary">
              <%= t 'common.sign_in' %>
            </a>
          </div>
        </div>
        <hr class="divider margin-x">
      <% end %>

      <div class="margin-bottom">
        <h3 class="subtitle-1 padding-x">
          <%= t '.hot_tags' %>
        </h3>
        <div class="padding">
          <div class="flex flex-wrap">
            <% Tag.order(taggings_count: :desc).limit(9).each do |tag| %>
              <a href="<%= tag_path(id: tag.name) %>" class="chip margin-right-8 margin-bottom-8">
                <div class="chip__text">
                  <%= tag.name %>
                </div>
              </a>
            <% end %>
          </div>
        </div>
      </div>

      <div class="margin-bottom">
        <h3 class="subtitle-1 padding-x">
          <%= t '.who_to_follow' %>
        </h3>
        <div class="list">
          <%= render partial: 'account/follows/account', collection: Account.recommend_for(current_user).limit(3).includes(:owner) %>
        </div>
      </div>

      <div class="padding flex flex-gap text-secondary">
        <a href="https://geeknote.net/policy/posts/190" class="link-text"><%= t 'common.rules' %></a>
        <a href="https://geeknote.net/geeknote/" class="link-text"><%= t 'common.blog' %></a>
        <a href="/contact" class="link-text"><%= t 'common.contact' %></a>
      </div>
    </div>
  </div>
</div>
