<div class="container container--medium">
  <div class="tab margin-bottom">
    <a href="<%= root_path %>" class="tab__item <%= 'tab__item--active' if action_name == 'index' %>">
      Recommend
    </a>
    <a href="<%= following_posts_path %>" class="tab__item <%= 'tab__item--active' if action_name == 'following' %>">
      Following
    </a>
    <a href="<%= latest_posts_path %>" class="tab__item <%= 'tab__item--active' if action_name == 'latest' %>">
      Latest
    </a>
  </div>

  <div class="list">
    <%= render partial: 'account/posts/post', collection: @posts %>
  </div>

  <div class="toolbar">
    <div class="toolbar__space">
    </div>
    <div class="toolbar__text">
      <%= page_entries_info @posts %>
    </div>
    <div class="toolbar__action">
      <%= paginate @posts %>
    </div>
  </div>
</div>
