<div class="cover-image <%= 'cover-image--small' unless @account.owner.cover_image.attached? %>">
  <div class="cover-image__inner">
    <%= cover_image_tag @account.owner.cover_image %>
  </div>
</div>

<div class="container container--medium">
  <div class="account-header">
    <div class="account-header__avatar">
      <div class="avatar avatar--large">
        <%= avatar_image_tag @account.owner.avatar %>
      </div>
    </div>
    <div class="account-header__content">
      <div class="toolbar">
        <div class="account-header__name">
          <%= @account.owner.name %>
        </div>
        <div class="toolbar__action">
          <div class="dropdown" data-controller="dropdown">
            <button type="button" class="button button--icon" data-action="dropdown#toggle">
              <span class="material-icons">more_horiz</span>
            </button>
            <div class="dropdown__menu dropdown__menu--top-right">
            </div>
          </div>
        </div>
        <% if @account.has_member?(current_user) %>
          <div class="toolbar__action">
            <div class="dropdown" data-controller="dropdown">
              <button type="button" class="button button--text" data-action="dropdown#toggle">
                <div class="button__text">
                  <% if @account.user? %>
                    Owner
                  <% else %>
                    <%= @account.owner.memberships.find_by(user: current_user).role %>
                  <% end %>
                </div>
                <div class="button__icon">
                  <span class="material-icons">expand_more</span>
                </div>
              </button>
              <div class="dropdown__menu dropdown__menu--top-right">
                <a href="<%= account_dashboard_settings_profile_path(@account) %>" class="dropdown__item">
                  <div class="dropdown__item__icon">
                    <span class="material-icons">edit</span>
                  </div>
                  <div class="dropdown__item__text">
                    Edit profile
                  </div>
                </a>
                <a href="<%= account_dashboard_root_path(@account) %>" class="dropdown__item">
                  <div class="dropdown__item__icon">
                    <span class="material-icons">dashboard</span>
                  </div>
                  <div class="dropdown__item__text">
                    Dashboard
                  </div>
                </a>
              </div>
            </div>
          </div>
        <% end %>
        <% if @account.owner != current_user %>
          <div class="toolbar__action">
            <%= render 'account/follows/button', account: @account %>
          </div>
        <% end %>
      </div>
      <div class="account-header__description">
        <% if @account.owner.is_a?(User) %>
          <%= @account.owner.bio %>
        <% else %>
          <%= @account.owner.description %>
        <% end %>
      </div>
      <div class="account-header__info">
        <% if @account.user? %>
          <a href="<%= account_followings_path(@account) %>" class="link-text margin-right-8"><b><%= @account.owner.followings_count %></b> followings</a>
        <% end %>
        <a href="<%= account_followers_path(@account) %>" class="link-text"><b><%= @account.followers_count %></b> followers</a>
      </div>
    </div>
  </div>

  <div class="tab margin-y">
    <a href="<%= account_root_path(@account) %>" class="tab__item <%= 'tab__item--active' if controller_name == 'posts' %>">
      Posts
    </a>
    <% if @account.user? %>
      <a href="<%= account_likes_path(@account) %>" class="tab__item <%= 'tab__item--active' if controller_name == 'likes' %>">
        Likes
      </a>
    <% end %>
  </div>
</div>
