<div class="banner-image">
  <div class="banner-image__inner">
    <% if @account.owner.banner_image.attached? %>
      <%= image_tag @account.owner.banner_image.variant(:large) %>
    <% end %>
  </div>
</div>

<div class="background-surface">
  <div class="container padding-x-3">
    <div class="display-flex flex-direction-column flex-direction-row@tablet gap-4 padding-y-4">
      <div class="avatar avatar--profile flex-shrink-0">
        <%= avatar_image_tag @account.owner.avatar %>
      </div>

      <div class="flex-grow-1 display-flex flex-direction-column gap-2">
        <div class="display-flex align-items-flex-start gap-3">
          <div class="flex-grow-1">
            <div class="title-large">
              <%= @account.owner.name %>
            </div>
            <div class="text-muted">
              @<%= @account.name %>
            </div>
          </div>

          <% if current_member %>
            <a href="<%= account_dashboard_posts_path(@account) %>" class="button button--outlined">
              <%= t 'common.dashboard' %>
            </a>
          <% end %>

          <% if account.owner != current_user %>
            <%= render 'account/follows/button', account: account %>
          <% end %>
        </div>

        <div class="">
          <%= truncate account.description %>
        </div>

        <div class="display-flex gap-3 align-items-center">
          <% if account.user? %>
            <a href="<%= account_followings_path(account) %>" class="link-text">
              <b><%= account.owner.followings_count %></b> <%= t 'common.followings' %>
            </a>
          <% end %>

          <a href="<%= account_followers_path(account) %>" class="link-text">
            <b><%= account.followers_count %></b> <%= t 'common.followers' %>
          </a>

          <a href="<%= account_feed_url(account, format: :atom) %>" class="button button--icon" target="_blank" title="Atom Feed">
            <span class="material-icons">rss_feed</span>
          </a>
        </div>
      </div>

    </div>

  </div>
</div>

<div class="border-bottom background-surface">
  <div class="container padding-x-3">
    <div class="tab tab--secondary">
      <a href="<%= account_root_path(@account) %>" class="tab__item <%= 'tab__item--active' if controller_name == 'posts' %>">
        <%= t 'common.posts' %>
      </a>

      <div class="padding-x-3">
        <%= form_with url: account_search_path, method: :get do |form| %>
          <div class="text-field text-field--filled text-field--with-leading-icon text-field--search">
            <div class="text-field__container">
              <div class="text-field__leading-icon">
                <span class="material-icons">search</span>
              </div>
              <%= form.text_field :query, autocomplete: "off", value: params[:query], autofocus: params[:query].present?, class: "text-field__input" %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
