<div class="banner-image <%= 'banner-image--small' unless @account.owner.banner_image.attached? %>">
  <div class="banner-image__inner">
    <%= banner_image_tag @account.owner.banner_image %>
  </div>
</div>

<div class="container container--medium">
  <div class="account-header">
    <div class="account-header__avatar">
      <div class="avatar avatar--large">
        <%= avatar_image_tag @account.owner.avatar %>
      </div>
    </div>
    <div class="account-header__content">
      <div class="toolbar">
        <div class="account-header__name">
          <%= @account.owner.name %>
        </div>
        <% if @account.owner != current_user %>
          <div class="toolbar__action">
            <%= render 'account/follows/button', account: @account %>
          </div>
        <% end %>
        <% if current_member %>
          <div class="toolbar__action">
            <div class="dropdown" data-controller="dropdown">
              <button type="button" class="button button--text" data-action="dropdown#toggle">
                <div class="button__text">
                  <%= Member.human_attribute_name "role.#{current_member.role}" %>
                </div>
                <div class="button__icon">
                  <span class="material-icons">expand_more</span>
                </div>
              </button>
              <div class="dropdown__menu dropdown__menu--top-right">
                <a href="<%= new_account_dashboard_post_path(@account) %>" class="dropdown__item">
                  <div class="dropdown__item__icon">
                    <span class="material-icons">post_add</span>
                  </div>
                  <div class="dropdown__item__text">
                    <%= t 'common.new_post' %>
                  </div>
                </a>
                <% if current_member.has_permission?(:edit_account_settings) %>
                  <a href="<%= account_dashboard_settings_profile_path(@account) %>" class="dropdown__item">
                    <div class="dropdown__item__icon">
                      <span class="material-icons">edit</span>
                    </div>
                    <div class="dropdown__item__text">
                      <%= t 'common.edit_profile' %>
                    </div>
                  </a>
                <% end %>
                <a href="<%= account_dashboard_root_path(@account) %>" class="dropdown__item">
                  <div class="dropdown__item__icon">
                    <span class="material-icons">dashboard</span>
                  </div>
                  <div class="dropdown__item__text">
                    <%= t 'common.dashboard' %>
                  </div>
                </a>
              </div>
            </div>
          </div>
        <% end %>
        <div class="toolbar__action">
          <div class="dropdown" data-controller="dropdown">
            <button type="button" class="button button--icon" data-action="dropdown#toggle">
              <span class="material-icons">more_horiz</span>
            </button>
            <div class="dropdown__menu dropdown__menu--top-right">
            </div>
          </div>
        </div>
      </div>
      <div class="account-header__description">
        <% if @account.owner.is_a?(User) %>
          <%= @account.owner.bio %>
        <% else %>
          <%= @account.owner.description %>
        <% end %>
      </div>
      <div class="account-header__info">
        <% if @account.user? %>
          <a href="<%= account_followings_path(@account) %>" class="link-text margin-right-8"><b><%= @account.owner.followings_count %></b> <%= t 'common.followings' %></a>
        <% end %>
        <a href="<%= account_followers_path(@account) %>" class="link-text"><b><%= @account.followers_count %></b> <%= t 'common.followers' %></a>
      </div>
    </div>
  </div>

  <div class="tab padding-x margin-bottom">
    <a href="<%= account_root_path(@account) %>" class="tab__item <%= 'tab__item--active' if controller_name == 'posts' %>">
      <%= t 'common.posts' %>
    </a>
    <% if @account.user? %>
      <a href="<%= account_likes_path(@account) %>" class="tab__item <%= 'tab__item--active' if controller_name == 'likes' %>">
        <%= t 'common.liked_posts' %>
      </a>
    <% end %>
    <% if @account.organization? %>
      <a href="<%= account_members_path(@account) %>" class="tab__item <%= 'tab__item--active' if controller_name == 'members' %>">
        <%= t 'common.members' %>
      </a>
    <% end %>
  </div>
</div>
