<div class="card">
  <div class="w-full aspect-[3/1] bg-primary-container rounded-t-xl">
    <% if account.owner.banner_image.attached? %>
      <img src="<%= polymorphic_url(account.owner.banner_image.variant(:large)) %>" alt="banner image" class="w-full aspect-[3/1] object-cover rounded-t-xl">
    <% end %>
  </div>

  <div class="flex gap-4 justify-between px-4">
    <div class="flex-shrink-0 -mt-20">
      <img src="<%= avatar_url(account.owner) %>" alt="avatar" class="w-40 h-40 rounded-full border-4 border-surface bg-surface">
    </div>
    <div class="flex-shrink-0 flex items-center gap-2">
      <% if account.user? && account.owner == Current.user %>
        <a href="<%= dashboard_settings_profile_path %>" class="outlined-button">
          <%= t "general.edit_profile" %>
        </a>
      <% else %>
        <%= render "account/follows/button", account: account %>
      <% end %>

      <div class="menu">
        <label tabindex="0" class="icon-button">
          <%= material_icon :more_vert %>
        </label>
        <div tabindex="0" class="menu__content top-full right-0 origin-top-right">
          <button type="button" class="menu__item" data-controller="copy-link" data-action="copy-link#copy" data-copy-link-url-value="<%= account_root_url(account.name) %>">
            <%= material_icon :link %>
            <span><%= t "general.copy_link" %></span>
          </button>
          <% if Current.user %>
            <% if (account.user? && account.owner == Current.user) || (account.organization? && account.owner.members.active.where(user: Current.user).exists?) %>
              <a href="<%= dashboard_root_path(account.name) %>" class="menu__item">
                <%= material_icon :dashboard %>
                <%= t "general.dashboard" %>
              </a>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <div class="p-4">
    <div class="text-2xl font-bold">
      <%= account.owner.name %>
    </div>

    <div class="text-on-surface-variant">
      @<%= account.name %>
    </div>

    <% if account.user? %>
      <div class="mt-4">
        <%= account.owner.bio %>
      </div>
    <% else %>
      <div class="mt-4">
        <%= account.owner.description %>
      </div>
    <% end %>

    <div class="mt-4 text-on-surface-variant">
      <div class="inline-flex items-center gap-2">
        <div class="icon w-6 h-6">
          <%= material_icon :calendar_month %>
        </div>
        <%= local_date account.created_at.to_date, data: { turbo_permanent: true } %> Joined
      </div>
    </div>

    <div class="mt-2 flex items-center gap-4">
      <% if account.user? %>
        <a href="<%= account_followings_path(account.name) %>">
          <span class="tabular-nums font-medium"><%= account.owner.followings_count %></span>
          <span class="text-on-surface-variant"><%= t "general.following" %></span>
        </a>
      <% end %>
      <a href="<%= account_followers_path(account.name) %>">
        <span class="tabular-nums font-medium"><%= account.followers_count %></span>
        <span class="text-on-surface-variant"><%= t "general.followers" %></span>
      </a>
      <a href="<%= account_feed_url(account.name, format: :atom) %>" class="inline-flex items-center" target="_blank">
        <div class="icon w-4 h-4">
          <%= material_icon :rss_feed %>
        </div>
      </a>
    </div>
  </div>
</div>
