<%# locals: (account:) %>

<div class="list-row hover">
  <div class="avatar">
    <div class="size-10 rounded-full">
      <img src="<%= avatar_url(account.owner) %>" alt="avatar">
    </div>
  </div>
  <div>
    <div>
      <a href="<%= account_root_path(account.name) %>" class="hover:underline after:absolute after:inset-0">
        <%= account.owner.name %>
      </a>
    </div>
    <div class="text-sm text-base-content/80">
      @<%= account.name %>
    </div>
  </div>
  <% if account.description.present? %>
    <div class="list-col-wrap text-sm text-base-content/80 line-clamp-2">
      <%= account.description %>
    </div>
  <% end %>
  <% if account != Current.user&.account %>
    <div class="relative">
      <%= render "account/follows/button", account: account %>
    </div>
  <% end %>
</div>
