<%# locals: (account:) %>

<div class="flex gap-4 p-4">
  <div class="flex-shrink-0">
      <img src="<%= avatar_url(account.owner) %>" alt="avatar" class="w-10 h-10 rounded-full">
  </div>
  <div class="flex-grow min-w-0">
    <div class="flex justify-between">
      <div class="flex-grow">
        <div class="text-sm font-medium">
          <a href="<%= account_root_path(account.name) %>">
            <%= account.display_name %>
          </a>
        </div>
        <div class="text-sm text-on-surface-variant">
          @<%= account.name %>
        </div>
      </div>

      <% if account != Current.user&.account %>
        <div class="flex-shrink-0">
          <%= render "account/follows/button", account: account %>
        </div>
      <% end %>
    </div>
    <% if account.description.present? %>
      <div class="mt-2 text-sm text-on-surface-variant line-clamp-1">
        <%= account.description %>
      </div>
    <% end %>
  </div>
</div>
