<div class="navbar display-flex flex-direction-column gap-3">
  <%= render 'account/profile_card', account: @account %>

  <% if @account.user? && @account.owner.organizations.any? %>
    <div class="card card--elevated background-surface padding-3">
      <div class="title-medium margin-bottom-3">
        <%= t 'common.organizations' %>
      </div>
      <div class="display-flex gap-2">
        <% @account.owner.organizations.order('members.created_at asc').each do |organization| %>
          <a href="<%= account_root_path(organization.account) %>" title="<%= organization.name %>">
            <div class="avatar">
              <%= avatar_image_tag organization.avatar %>
            </div>
          </a>
        <% end %>
      </div>
    </div>
  <% end %>

  <% if @account.organization? && @account.owner.members.active.any? %>
    <div class="card card--elevated background-surface padding-3">
      <div class="title-medium margin-bottom-3">
        <%= t 'common.members' %>
      </div>
      <div class="display-flex gap-2">
        <% @account.owner.members.active.order('created_at asc').each do |member| %>
          <a href="<%= account_root_path(member.user.account) %>" title="<%= member.user.name %>">
            <div class="avatar">
              <%= avatar_image_tag member.user.avatar %>
            </div>
          </a>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
