<div class="card card-border border-base-300 bg-base-100">
  <div class="flex flex-col p-4 gap-4">
    <div class="flex items-center justify-between gap-4">
      <div class="flex-shrink-0">
        <a href="<%= account_root_path(account.name) %>">
          <img src="<%= avatar_url(account.owner) %>" alt="avatar" class="size-20 rounded-full">
        </a>
      </div>

      <% if account != Current.user&.account %>
        <div class="flex-shrink-0">
          <%= render "account/follows/button", account: account %>
        </div>
      <% end %>
    </div>

    <div class="">
      <div class="relative">
        <div class="text-2xl font-bold">
          <a href="<%= account_root_path(account.name) %>" class="hover:underline after:absolute after:inset-0">
            <%= account.display_name %>
          </a>
        </div>

        <div class="text-on-surface-variant">
          @<%= account.name %>
        </div>
      </div>

      <div class="mt-4">
        <%= account.description %>
      </div>

      <div class="mt-2 flex gap-4">
        <% if account.user? %>
          <a href="<%= account_followings_path(account.name) %>">
            <span class="tabular-nums font-medium"><%= account.owner.followings_count %></span>
            <span class="text-on-surface-variant"><%= t "general.following" %></span>
          </a>
        <% end %>
        <a href="<%= account_followers_path(account.name) %>">
          <span class="tabular-nums font-medium"><%= account.followers_count %></span>
          <span class="text-on-surface-variant"><%= t "general.followers" %></span>
        </a>
      </div>
    </div>
  </div>
</div>
