<div class="card card--filled profile-card">
  <div class="banner-image">
    <div class="banner-image__inner">
      <% if account.owner.banner_image.attached? %>
        <%= banner_image_tag account.owner.banner_image %>
      <% end %>
    </div>
  </div>

  <div class="profile-card__avatar">
    <div class="avatar avatar--medium">
      <%= avatar_image_tag account.owner.avatar %>
    </div>
  </div>

  <div class="display-flex flex-direction-column gap-3 padding-3">
    <div class="text-align-center">
      <div class="title-large margin-bottom-3">
        <%= account.display_name %>
      </div>

      <div class="">
        <%= account.description %>
      </div>
    </div>

    <% if account.owner != current_user %>
      <%= render 'account/follows/button', account: account %>
    <% end %>

    <div class="display-flex gap-3 justify-content-center">
      <% if account.user? %>
        <a href="<%= account_followings_path(account) %>" class="link-text margin-right-8">
          <b><%= account.owner.followings_count %></b> <%= t 'common.followings' %>
        </a>
      <% end %>
      <a href="<%= account_followers_path(account) %>" class="link-text">
        <b><%= account.followers_count %></b> <%= t 'common.followers' %>
      </a>
    </div>

    <div class="text-align-center">
      <%= local_date account.created_at.to_date %> <%= t 'common.joined' %>
    </div>

    <div class="display-flex gap-2 justify-content-center">
      <a href="<%= account_feed_url(account, format: :atom) %>" class="button button--icon" target="_blank" title="Atom Feed">
        <span class="material-icons">rss_feed</span>
      </a>
    </div>
  </div>
</div>
