<div class="card card-border border-base-300 bg-base-100">
  <div class="card-body">
    <div class="flex items-center justify-between gap-4">
      <div class="flex-shrink-0">
        <a href="<%= account_root_path(account.name) %>">
          <img src="<%= avatar_url(account.owner) %>" alt="avatar" class="size-20 rounded-full">
        </a>
      </div>

      <% if account != Current.user&.account %>
        <div class="flex-shrink-0">
          <%= render "account/follows/button", account: account %>
        </div>
      <% end %>
    </div>

    <div class="">
      <div class="relative">
        <div class="text-xl font-medium">
          <a href="<%= account_root_path(account.name) %>" class="hover:underline after:absolute after:inset-0">
            <%= account.display_name %>
          </a>
        </div>

        <div class="text-base-content/80">
          @<%= account.name %>
        </div>
      </div>

    </div>

    <div class="">
      <%= account.description %>
    </div>
  </div>
</div>
