<div class="card card--elevated background-surface profile-card">
  <div class="display-flex flex-direction-column align-items-center gap-3 padding-3">
    <div class="avatar avatar--medium">
      <a href="<%= account_root_path(account) %>">
        <%= avatar_image_tag account.owner.avatar %>
      </a>
    </div>

    <div class="title-large">
      <a href="<%= account_root_path(account) %>" class="link-title">
        <%= account.display_name %>
      </a>
    </div>

    <div class="">
      <%= account.description %>
    </div>

    <% if account.owner != current_user %>
      <%= render 'account/follows/button', account: account %>
    <% end %>

    <% if current_member %>
      <a href="<%= account_dashboard_posts_path(@account) %>" class="button button--outlined width-100 justify-content-center">
        <%= t 'common.dashboard' %>
      </a>
    <% end %>

    <div class="display-flex gap-3">
      <% if account.user? %>
        <a href="<%= account_followings_path(account) %>" class="link-text margin-right-8">
          <b><%= account.owner.followings_count %></b> <%= t 'common.followings' %>
        </a>
      <% end %>
      <a href="<%= account_followers_path(account) %>" class="link-text">
        <b><%= account.followers_count %></b> <%= t 'common.followers' %>
      </a>
    </div>

    <div class="">
      <%= local_time account.created_at.to_date, format: I18n.t("date.formats.long") %> <%= t 'common.joined' %>
    </div>

    <div class="display-flex gap-2">
      <a href="<%= account_feed_url(account, format: :atom) %>" class="button button--icon" target="_blank" title="Atom Feed">
        <span class="material-icons">rss_feed</span>
      </a>
    </div>
  </div>
</div>
