<div class="sidebar display-flex flex-direction-column gap-3">
  <div class="card card--surface">
    <div class="title-medium padding-x-3 padding-top-3 padding-bottom-2">
      <%= t 'common.tags' %>
    </div>
    <div class="padding-bottom-2">
      <% @account.used_tags.first(5).each do |name, count| %>
        <a href="<%= account_tag_path(id: name) %>" class="link-block padding-x-3 padding-y-2">
          <div class="title-small">
            #<%= name %>
          </div>
          <div class="body-medium text-muted">
            <%= t 'common.posts_count', count: count %>
          </div>
        </a>
      <% end %>
      <% if @account.used_tags.count > 5 %>
        <a href="<%= account_tags_path(@account) %>" class="link-block padding-x-3 padding-y-2">
          <%= t 'common.view_more' %>
        </a>
      <% end %>
    </div>
  </div>
</div>
