<div class="tab margin-bottom-3">
  <a href="<%= account_root_path(@account) %>" class="tab__item <%= 'tab__item--active' if controller_name == 'posts' %>">
    <%= t 'common.posts' %>
  </a>
  <a href="<%= account_collections_path(@account) %>" class="tab__item <%= 'tab__item--active' if controller_name == 'collections' %>">
    <%= t 'common.collections' %>
  </a>
  <% if @account.user? %>
    <a href="<%= account_likes_path(@account) %>" class="tab__item <%= 'tab__item--active' if controller_name == 'likes' %>">
      <%= t 'common.liked_posts' %>
    </a>
  <% end %>
</div>
