<div class="card card-border border-base-300 bg-base-100 relative">
  <div class="card-body">
    <div class="line-clamp-3">
      <h3 class="text-xl font-medium">
        <a href="<%= account_comment_path(comment.user.account.name, comment) %>" class="flex items-center gap-2 after:absolute after:inset-0">
          <%= comment.commentable.title %>
        </a>
      </h3>

      <div class="text-base-content/80 mt-2">
        <%= markdown_summary comment.content %>
      </div>
    </div>

    <div class="text-base-content/80">
      <span>
        <%= format_time comment.created_at %>
      </span>
      &centerdot;
      <span>
        <%= comment.likes_count %>
        <%= t "general.likes" %>
      </span>
      &centerdot;
      <span>
        <%= comment.replies_count %>
        <%= t "general.replies" %>
      </span>
    </div>
  </div>
</div>
