<div class="breadcrumbs">
  <ul>
    <li>
      <a href="<%= root_path %>">
        <%= t "general.home" %>
      </a>
    </li>
    <li>
      <%= @account.owner.name %>
    </li>
  </ul>
</div>

<div class="layout-main-sidebar mt-4">
  <div>
    <%= render "account/profile_card", account: @account %>

    <div class="mt-4">
      <%= render "account/tabs", active_tab: "comments" %>
    </div>

    <div class="mt-4">
      <%= render "components/scroll_pagination", pagy: @pagy, content_class: "space-y-4" do %>
        <%= render partial: "account/comments/comment_item", collection: @comments, as: :comment, cached: -> comment { [ comment.user, comment ] } %>
      <% end %>
    </div>
  </div>

  <%= render "account/sidebar" %>
</div>
