<div class="layout-nav-main">
  <div>
    <%= render "account/nav", account: @account %>
  </div>

  <div class="">
    <div class="tabs tabs-border">
      <a href="<%= account_root_path(@account.name) %>" class="tab">
        <%= t "general.posts" %>
      </a>
      <a href="<%= account_comments_path(@account.name) %>" class="tab tab-active">
        <%= t "general.comments" %>
      </a>
    </div>

    <div class="mt-4">
      <%= render "components/scroll_pagination", pagy: @pagy, content_class: "space-y-4" do %>
        <%= render partial: "account/comments/comment_item", collection: @comments, as: :comment, cached: -> comment { [ comment.account, comment.user, comment ] } %>
      <% end %>
    </div>
  </div>
</div>
