<% content_for :head do %>
  <meta property="og:type" content="article">
  <meta property="og:title" content="<%= t("general.commented_on") %><%= @comment.commentable&.title || t("general.deleted_item") %>">
  <meta property="og:url" content="<%= account_comment_url(@account.name, @comment) %>">
  <meta property="og:description" content="<%= truncate @comment.content %>">
  <meta property="og:image" content="<%= avatar_url @comment.user %>">

  <meta name="twitter:title" content="<%= t("general.commented_on") %><%= @comment.commentable&.title || t("general.deleted_item") %>">
  <meta name="twitter:description" content="<%= truncate @comment.content %>">
  <meta name="twitter:card" content="summary">
  <meta name="twitter:image" content="<%= avatar_url @comment.user %>">
<% end %>

<div class="top-app-bar">
  <a href="<%= account_root_path(@comment.user.account.name) %>" class="icon-button" data-controller="back-link">
    <x-icon>arrow_back</x-icon>
  </a>
  <div class="top-app-bar__headline line-clamp-1">
    <%= t "general.comment" %>
  </div>
</div>

<div class="layout-main-sidebar">
  <div class="">
    <div class="card">
      <div class="flex items-center h-14 px-4 border-b border-outline-variant">
        <div class="font-medium">
          <% if @comment.commentable %>
            <%= t("general.commented_on") %><a href="<%= account_post_path(@comment.commentable.account.name, @comment.commentable) %>" class="underline"><%= @comment.commentable.title %></a>
          <% else %>
            <%= t("general.commented_on") %><%= t("general.deleted_item") %>
          <% end %>
        </div>
      </div>

      <%= render "comment", comment: @comment, showpage: true %>

      <% if Current.user %>
        <% if @comment.commentable %>
          <%= render "form", comment: Current.user.comments.new(commentable: @comment.commentable, parent: @comment), open: params[:comment].present? %>
        <% else %>
          <div class="p-4 text-on-surface-variant text-center">
            <%= t "general.comment_is_closed" %>
          </div>
        <% end %>
      <% else %>
        <div class="p-4">
          <a href="<%= sign_in_path %>" class="button button--outlined">
            <%= t "general.sign_in_to_comment" %>
          </a>
        </div>
      <% end %>
    </div>

    <div id="comments" class=" card mt-4">
      <div class="flex items-center h-14 px-4 gap-4 border-b border-outline-variant">
        <div class="grow font-medium">
          <%= t "general.all_replies" %> <%= @comment.replies_count %>
        </div>
        <div class="menu">
          <label tabindex="0" class="button button--text text-on-surface-variant">
            <x-icon>sort</x-icon>
            <span>
              <%=
                case @sort
                when "oldest"
                  t("general.oldest")
                when "popular"
                  t("general.popular")
                else
                  t("general.newest")
                end
              %>
            </span>
          </label>
          <div class="menu__content top-full right-0 origin-top-right">
            <a href="<%= url_for(sort: nil, anchor: "comments") %>" class="menu__item">
              <%= t "general.newest" %>
            </a>
            <a href="<%= url_for(sort: "oldest", anchor: "comments") %>" class="menu__item">
              <%= t "general.oldest" %>
            </a>
            <a href="<%= url_for(sort: "popular", anchor: "comments") %>" class="menu__item">
              <%= t "general.popular" %>
            </a>
          </div>
        </div>
      </div>

      <div class="group replies mt-4">
        <%= render "components/scroll_pagination", pagy: @pagy, content_id: "comments_list" do %>
          <%= render partial: "comment", collection: @comments, cached: -> comment { [ comment.user, comment ] } %>
          <%= render "account/comments/status", comments: @comments %>
        <% end %>
      </div>

    </div>
  </div>

  <div class="">
    <%= render "account/profile_card", account: @comment.user.account %>
  </div>
</div>
