<div class="top-app-bar">
  <a href="<%= account_post_comments_path(@comment.commentable.account.name, @comment.commentable) %>" class="icon-button">
    <x-icon>arrow_back</x-icon>
  </a>
  <div class="top-app-bar__headline">
    <%= @comment.commentable.title %>
  </div>
</div>

<div class="max-w-screen-xl mx-auto flex gap-6">
  <div class="flex-grow min-w-0">
    <div class="card">
      <div class="flex items-center h-14 px-4 border-b border-outline-variant">
        <div class="text-lg font-medium">
          <%= t "general.comment" %>
        </div>
      </div>

      <%= render "comment", comment: @comment, showpage: true %>

      <% if Current.user %>
        <%= render "form", comment: Current.user.comments.new(commentable: @comment.commentable, parent: @comment), open: params[:comment].present? %>
      <% else %>
        <div class="p-4">
          <a href="<%= sign_in_path %>" class="button button--outlined">
            <%= t "general.sign_in_to_comment" %>
          </a>
        </div>
      <% end %>
    </div>

    <div id="comments" class=" card mt-4">
      <div class="flex items-center h-14 px-4 gap-4 border-b border-outline-variant">
        <div class="grow text-lg font-medium">
          <%= t "general.all_replies" %> <%= @comment.replies_count %>
        </div>
        <div class="menu">
          <label tabindex="0" class="button button--text text-on-surface-variant">
            <x-icon>sort</x-icon>
            <span>
              <%=
                case @sort
                when "oldest"
                  t("general.oldest")
                when "popular"
                  t("general.popular")
                else
                  t("general.newest")
                end
              %>
            </span>
          </label>
          <div class="menu__content top-full right-0 origin-top-right">
            <a href="<%= url_for(sort: nil, anchor: "comments") %>" class="menu__item">
              <%= t "general.newest" %>
            </a>
            <a href="<%= url_for(sort: "oldest", anchor: "comments") %>" class="menu__item">
              <%= t "general.oldest" %>
            </a>
            <a href="<%= url_for(sort: "popular", anchor: "comments") %>" class="menu__item">
              <%= t "general.popular" %>
            </a>
          </div>
        </div>
      </div>

      <div class="group replies mt-4">
        <%= render "components/scroll_pagination", pagy: @pagy, content_id: "comments_list" do %>
          <%= render partial: "comment", collection: @comments, cached: -> comment { [ comment.user, comment ] } %>
          <%= render "account/comments/status", comments: @comments %>
        <% end %>
      </div>

    </div>
  </div>

  <div class="flex-shrink-0 w-80">
    <%= render "account/profile_card", account: @comment.user.account %>
  </div>
</div>
