<%= form_with model: @organization, builder: CustomFormBuilder, html: { class: 'form', id: 'organization-form' } do |form| %>
  <%= form.fields_for :account do |account_form| %>
    <div class="margin-bottom-3">
      <%= account_form.text_field :name, prefix_text: ENV['HOST'] + '/', autofocus: true %>
    </div>
  <% end %>
  <div class="margin-bottom-3">
    <%= form.text_field :name %>
  </div>
  <div class="margin-bottom-3">
    <%= form.text_area :description %>
  </div>
  <button type="submit" class="button button--filled">
    <%= t 'common.create_organization' %>
  </button>
<% end %>
