<div class="container container--small padding-3">
  <div class="card card--outlined">
    <div class="padding-3 border-bottom">
      <div class="headline-small">
        <%= t 'common.organizations' %>
      </div>
    </div>

    <div class="">
      <% @members.each do |member| %>
        <div class="display-flex padding-3 gap-3 align-items-center border-bottom position-relative">
          <div class="avatar">
            <%= avatar_image_tag member.organization.avatar %>
          </div>
          <div class="title-medium flex-grow-1">
            <a href="<%= account_root_path(member.organization.account) %>" class="link-title link-expended">
              <%= member.organization.name %>
            </a>
          </div>
          <div class="text-muted">
            <%= Member.human_attribute_name "role.#{member.role}" %>
          </div>
        </div>
      <% end %>
    </div>

    <div class="padding-2">
      <a href="<%= new_organization_path %>" class="button button--text">
        <div class="button__icon">
          <span class="material-icons">add</span>
        </div>
        <div class="button__label">
          <%= t 'common.new_organization' %>
        </div>
      </a>
    </div>
  </div>
</div>
