<div class="container container--medium">
  <div class="toolbar">
    <div class="toolbar__title">
      <h3>
        Organizations
      </h3>
    </div>
    <div class="toolbar__action">
      <a href="<%= new_organization_path %>" class="button button--contained button--primary">
        New organization
      </a>
    </div>
  </div>

  <div class="list">
    <% @memberships.each do |membership| %>
      <div class="list__item position-relative border-bottom">
        <a href="<%= account_root_path(membership.organization.account) %>" class="stretched-link"></a>
        <div class="list__avatar">
          <%= avatar_image_tag membership.organization.avatar %>
        </div>
        <div class="list__content">
          <div class="text-primary">
            <%= membership.organization.name %>
          </div>
          <div class="text-secondary">
            <%= membership.organization.description %>
          </div>
        </div>
        <div class="list__action">
          <div class="dropdown" data-controller="dropdown">
            <button type="button" class="button button--text" data-action="dropdown#toggle">
              <div class="button__text">
                <%= membership.role %>
              </div>
              <div class="button__icon">
                <span class="material-icons">expand_more</span>
              </div>
            </button>
            <div class="dropdown__menu dropdown__menu--top-right">
              <a href="<%= account_root_path(membership.organization.account) %>" class="dropdown__item">
                <div class="dropdown__item__icon">
                  <span class="material-icons">account_box</span>
                </div>
                <div class="dropdown__item__text">
                  Profile
                </div>
              </a>
              <a href="<%= account_dashboard_root_path(membership.organization.account) %>" class="dropdown__item">
                <div class="dropdown__item__icon">
                  <span class="material-icons">dashboard</span>
                </div>
                <div class="dropdown__item__text">
                  Dashboard
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
