<div class="max-w-screen-sm mx-auto">
  <div class="card">
    <div class="flex items-center h-14 p-2">
      <a href="<%= dashboard_root_path(Current.user.account.name) %>" class="icon-button">
        <x-icon>arrow_back</x-icon>
      </a>
      <div class="flex-grow px-2 text-lg font-medium">
        New organization
      </div>
    </div>

    <div class="p-4">
      <%= form_with model: @organization do |form| %>
        <div class="form-field">
          <%= form.fields_for :account do |account_form| %>
            <%= account_form.label :name, class: "form-label" %>
            <%= render "components/text_field", form: account_form, name: :name, prefix: Rails.application.config.x.host + "/" %>
          <% end %>
        </div>
        <div class="form-field">
          <%= form.label :name, class: "form-label" %>
          <%= render "components/text_field", form: form, name: :name %>
        </div>
        <div class="form-field">
          <button type="submit" class="button button--filled">
            Create organization
          </button>
        </div>
      <% end %>
    </div>
  </div>
</div>
