<div class="container padding-3">
  <div class="layout-primary">
    <%= render 'admin/navbar' %>

    <div class="">
      <div class="card card--elevated background-surface">
        <div class="top-app-bar">
          <div class="top-app-bar__action">
            <a href="<%= admin_user_path(@user) %>" class="button button--icon">
              <span class="material-icons">arrow_back</span>
            </a>
          </div>
          <div class="top-app-bar__title">
            <%= t 'common.edit_users' %> #<%= @user.id %>
          </div>
        </div>

        <div class="padding-3">
          <%= form_with model: @user, url: admin_user_path(@user), builder: CustomFormBuilder do |form| %>
            <div class="margin-bottom-3">
              <%= form.text_field :name %>
            </div>

            <div class="margin-bottom-3">
              <%= form.text_field :email %>
            </div>

            <div class="margin-bottom-3">
              <%= form.text_area :bio %>
            </div>

            <div class="margin-bottom-3">
              <label class="display-flex align-items-center gap-3">
                <%= form.check_box :email_notification_enabled %>
                <%= User.human_attribute_name :email_notification_enabled %>
              </label>
              <label class="display-flex align-items-center gap-3">
                <%= form.check_box :comment_email_notification_enabled %>
                <%= User.human_attribute_name :comment_email_notification_enabled %>
              </label>
              <label class="display-flex align-items-center gap-3">
                <%= form.check_box :weekly_digest_email_enabled %>
                <%= User.human_attribute_name :weekly_digest_email_enabled %>
              </label>
            </div>

            <button type="submit" class="button button--filled">
              <%= t 'common.save_changes' %>
            </button>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
