<div class="">
  <div class="card">
    <div class="flex items-center h-14 gap-2 px-2">
      <a href="<%= admin_user_path(@user) %>" class="icon-button">
        <%= material_icon :arrow_back %>
      </a>
      <div class="flex-grow text-lg font-medium px-2">
        Edit user #<%= @user.id %>
      </div>
    </div>

    <div class="p-4">
      <%= form_with model: @user, url: admin_user_path(@user) do |form| %>
        <div class="form-field">
          <%= form.label :name, class: "form-label" %>
          <%= render "components/text_field", form: form, name: :name %>
        </div>

        <div class="form-field">
          <%= form.label :email, class: "form-label" %>
          <%= render "components/text_field", form: form, name: :email %>
        </div>

        <div class="form-field">
          <%= form.label :bio, class: "form-label" %>
          <%= render "components/text_field", form: form, name: :bio, type: :text_area %>
        </div>

        <div class="form-field">
          <%= render "components/checkbox_field", form: form, name: :email_notification_enabled %>
          <%= render "components/checkbox_field", form: form, name: :weekly_digest_email_enabled %>
        </div>

        <div class="form-field">
          <button type="submit" class="filled-button">
            <%= t 'common.save_changes' %>
          </button>
        </div>
      <% end %>
    </div>
  </div>
</div>
