<div class="top-app-bar">
  <label for="navigation-drawer-toggle" class="icon-button xl:hidden">
    <x-icon>menu</x-icon>
  </label>
  <div class="top-app-bar__headline">
    <%= t 'general.users' %>
  </div>
</div>

<div class="card">
  <table class="data-table">
    <thead>
      <tr>
        <th>
          ID
        </th>
        <th>
          Name
        </th>
        <th>
          Email
        </th>
        <th>
          Created at
        </th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td>
            <%= user.id %>
          </td>
          <td>
            <%= user.name %>
          </td>
          <td>
            <%= user.email %>
          </td>
          <td>
            <%= format_time user.created_at %>
          </td>
          <td class="text-right">
            <a href="<%= admin_user_path(user) %>" class="button button--text">
              View
            </a>
          </td>
        </tr>
      <% end %>
  </table>

  <div class="p-4">
    <%= render "components/page_pagination", pagy: @pagy %>
  </div>
</div>
