<div class="">
  <div class="card">
    <div class="flex items-center h-14 gap-2 px-2">
      <div class="flex-grow text-lg font-medium px-2">
        <%= t 'general.users' %>
      </div>
    </div>

    <table class="data-table">
      <thead>
        <tr>
          <th>
            ID
          </th>
          <th>
            Name
          </th>
          <th>
            Email
          </th>
          <th>
            Created at
          </th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @users.each do |user| %>
          <tr>
            <td>
              <%= user.id %>
            </td>
            <td>
              <%= user.name %>
            </td>
            <td>
              <%= user.email %>
            </td>
            <td>
              <%= format_time user.created_at %>
            </td>
            <td class="text-right">
              <a href="<%= admin_user_path(user) %>" class="button button--text">
                View
              </a>
            </td>
          </tr>
        <% end %>
    </table>

    <div class="p-4">
      <%= render "components/page_pagination", pagy: @pagy %>
    </div>
  </div>
</div>
