<div class="container padding-3">
  <div class="layout-primary">
    <%= render 'admin/navbar' %>

    <div class="">
      <div class="card card--elevated background-surface">
        <div class="top-app-bar">
          <div class="top-app-bar__title">
            <%= t 'common.users' %>
          </div>
          <div class="top-app-bar__action">
            <%= form_with method: :get, builder: CustomFormBuilder do |form| %>
              <%= form.text_field :email, value: params[:email] %>
            <% end %>
          </div>
        </div>

        <table class="table border-top border-bottom">
          <tbody>
            <% @users.each do |user| %>
              <tr>
                <td>
                  <a href="<%= admin_user_path(user) %>">
                    <%= user.name %>
                  </a>
                </td>
                <td>
                  <%= user.email %>
                </td>
                <td>
                  <%= format_time user.created_at %>
                </td>
              </tr>
            <% end %>
        </table>

        <div class="padding-3">
          <%= paginate @users %>
        </div>
      </div>
    </div>
  </div>
</div>
