<div class="container">
  <div class="layout">
    <%= render 'admin/navbar' %>

    <div class="main">
      <div class="card card--surface">
        <div class="headline-small padding-3">
          <%= t 'common.users' %>
        </div>

        <table class="table border-top border-bottom">
          <tbody>
            <% @users.each do |user| %>
              <tr>
                <td>
                  <a href="<%= admin_user_path(user) %>">
                    <%= user.name %>
                  </a>
                </td>
                <td>
                  <%= user.email %>
                </td>
                <td>
                  <%= format_time user.created_at %>
                </td>
              </tr>
            <% end %>
        </table>

        <div class="padding-3">
          <%= paginate @users %>
        </div>
      </div>
    </div>

    <div class="sidebar">
      <div class="card card--surface padding-3">
        <%= form_with method: :get, builder: CustomFormBuilder do |form| %>
          <div class="margin-bottom-3">
            <%= form.text_field :email, value: params[:email] %>
          </div>

          <button type="submit" class="button button--filled">
            <%= t 'common.filter' %>
          </button>
        <% end %>
      </div>
    </div>
  </div>
</div>
