<div class="container">
  <div class="layout">
    <%= render 'admin/navbar' %>

    <div class="main">
      <div class="card card--surface padding-3 margin-bottom-3">
        <div class="breadcrumb">
          <div class="breadcrumb__item">
            <a href="<%= admin_users_path %>">
              <%= t 'common.users' %>
            </a>
          </div>
          <div class="breadcrumb__item breadcrumb__item--active">
            <%= @user.id %>
          </div>
        </div>
      </div>

      <div class="card card--surface">
        <div class="title-medium padding-3">
          <%= t 'common.attributes' %>
        </div>

        <table class="table border-top">
          <tr>
            <th>
              <%= t 'common.account' %>
            </th>
            <td>
              <a href="<%= admin_account_path(@user.account.id) %>">
                <%= admin_account_path(@user.account.id) %>
              </a>
            </td>
          </tr>

          <% @user.attributes.except('password_digest', 'auth_token').each do |name, value| %>
            <tr>
              <th>
                <%= name %>
              </th>
              <td class="text-break-all">
                <%= value %>
              </td>
            </tr>
          <% end %>
        </table>
      </div>
    </div>

    <div class="sidebar">
      <div class="card card--surface padding-3">
        <div class="">
          <a href="<%= edit_admin_user_path(@user) %>" class="button button--outlined">
            <%= t 'common.edit' %>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
