<%= form_with model: @post, url: [@account, :dashboard, @post], builder: CustomFormBuilder, html: { id: 'post-form', class: 'post-form', autocomplete: "off" } do |form| %>
  <div class="margin-bottom-3">
    <%= form.text_field :title %>
  </div>
  <div class="margin-bottom-3">
    <div class="image-uploader <%= 'image-uploader--active' if @post.featured_image.attached? %>" data-controller="image-uploader">
      <div class="image-uploader__preview" data-image-uploader-target="preview">
        <% if @post.featured_image.attached? %>
          <%= featured_image_tag @post.featured_image %>
        <% end %>
      </div>
      <div class="image-uploader__toolbar">
        <label for="post_featured_image" class="button button--text image-uploader__hide-on-active">
          <div class="button__icon">
            <span class="material-icons">add_photo_alternate</span>
          </div>
          <div class="button__label">
            <%= t Post.human_attribute_name :featured_image %>
          </div>
        </label>
        <label class="button button--icon image-uploader__show-on-active">
          <span class="material-icons">add_photo_alternate</span>
          <%= form.file_field :featured_image, direct_upload: true, data: { 'image-uploader-target': 'input', action: 'image-uploader#update' } %>
        </label>
        <label class="button button--icon image-uploader__show-on-active">
          <span class="material-icons">close</span>
          <input type="checkbox" name="post[remove_featured_image]" data-image-uploader-target="removeCheckbox" data-action="image-uploader#remove">
        </label>
      </div>
    </div>
  </div>
  <div class="margin-bottom-3">
    <%= form.hidden_field :content, id: 'post-content' %>
    <div class="markdown-editor" data-controller="markdown-editor" data-markdown-editor-input-value="post-content" data-markdown-editor-direct-upload-url-value="<%= rails_direct_uploads_path %>" data-markdown-editor-i18n-value="<%= { write: I18n.t('markdown_editor.write'), preview: I18n.t('markdown_editor.preview') }.to_json %>">
    </div>
  </div>
  <div class="margin-bottom-3">
    <div class="text-field text-field--outlined">
      <div class="text-field__container">
        <div class="selector text-field__input" data-controller="selector tag-selector" data-selector-placeholder-value="" data-selector-creatable-value="true" data-selector-max-items-value="5" data-action="selector:input->tag-selector#update">
          <select name="post[tag_list][]" class="selector__select" data-selector-target="select" multiple>
            <% @post.tags.each do |tag| %>
              <option value="<%= tag.name %>" selected><%= tag.name %></option>
            <% end %>
          </select>
        </div>
        <label class="text-field__label">
          <%= t 'common.tags' %>
        </label>
      </div>
    </div>
  </div>

  <details>
    <summary class="padding-1 margin-bottom-3">
      <%= t 'common.settings' %>
    </summary>

    <div class="margin-bottom-3">
      <%= form.text_field :canonical_url, helper_text: I18n.t('common.canonical_url_helper') %>
    </div>
  </details>

  <div class="display-flex gap-2">
    <% if @post.published? %>
      <button type="submit" class="button button--filled" name="submit" value="update">
        <%= t 'common.save_changes' %>
      </button>
    <% else %>
      <button type="submit" class="button button--filled" name="submit" value="publish">
        <%= t 'common.publish' %>
      </button>
      <button type="submit" class="button button--filled-tonal" name="submit" value="draft">
        <%= t 'common.save_draft' %>
      </button>
    <% end %>
  </div>
<% end %>
