<tr>
  <td class="table__cell--title">
    <a href="<%= edit_account_dashboard_post_path(@account, post) %>" class="table__row-link">
    </a>
    <div class="text-primary text-bold">
      <%= post.title.presence || t('common.untitled') %>
    </div>
    <div class="text-secondary">
      <%= t 'common.by' %> <%= post.author_users.pluck(:name).join(', ') %>
      &centerdot;
      <% if post.tags.any? %>
        <%= post.tags.pluck(:name).join(', ') %>
        &centerdot;
      <% end %>
      <%= format_time post.updated_at %>
    </div>
  </td>
  <td class="table__cell--attribute">
    <%= Post.human_attribute_name "status.#{post.status}" %>
    <% if post.restricted? %>
      <span class="text-color-red"><%= t 'common.restricted' %></span>
    <% end %>
  </td>
</tr>
