<div class="toolbar">
  <div class="toolbar__title">
    Posts
  </div>
  <div class="toolbar__action dropdown" data-controller="dropdown">
    <button type="button" class="button button--text" data-action="dropdown#toggle">
      <div class="button__label">
        <% if Post.statuses.include?(params[:status]) %>
          <%= Post.human_attribute_name("status.#{params[:status]}") %>
        <% else %>
          Status
        <% end %>
      </div>
      <div class="button__icon">
        <span class="material-icons">expand_more</span>
      </div>
    </button>
    <div class="dropdown__menu dropdown__menu--top-right">
      <a href="<%= url_for(post_filter_params.merge(status: nil)) %>" class="dropdown__item">All</a>
      <% Post.statuses.keys.each do |status| %>
        <a href="<%= url_for(post_filter_params.merge(status: status)) %>" class="dropdown__item"><%= Post.human_attribute_name(status) %></a>
      <% end %>
    </div>
  </div>
  <div class="toolbar__action dropdown" data-controller="dropdown">
    <button type="button" class="button button--text" data-action="dropdown#toggle">
      <div class="button__label">
        <% if params[:tag] %>
          <%= params[:tag] %>
        <% else %>
          Tags
        <% end %>
      </div>
      <div class="button__icon">
        <span class="material-icons">expand_more</span>
      </div>
    </button>
    <div class="dropdown__menu dropdown__menu--top-right">
      <a href="<%= url_for(post_filter_params.merge(tag: nil)) %>" class="dropdown__item">All</a>
      <% @account.post_tags.each do |tag| %>
        <a href="<%= url_for(post_filter_params.merge(tag: tag.name)) %>" class="dropdown__item"><%= tag.name %></a>
      <% end %>
    </div>
  </div>
  <div class="toolbar__action">
    <a href="<%= new_account_dashboard_post_path(@account) %>" class="button button--contained button--primary button--last">
      New Post
    </a>
  </div>
</div>

<div class="app-content">
  <div class="padding">
    <div class="card card--outlined">
      <table class="table table--flex">
        <thead>
          <tr>
            <th class="table__cell--title">Title</th>
            <th class="table__cell--attribute">Status</th>
          </tr>
        </thead>
        <tbody>
          <% @posts.each do |post| %>
            <tr>
              <td class="table__cell--title">
                <a href="<%= edit_account_dashboard_post_path(@account, post) %>" class="table__row-link">
                </a>
                <div class="text-primary text-bold">
                  <%= post.title.presence || 'Untitled' %>
                </div>
                <div class="text-secondary">
                  By <%= post.author.name %>
                  &centerdot;
                  <% if post.tags.any? %>
                    <%= post.tags.pluck(:name).join(', ') %>
                    &centerdot;
                  <% end %>
                  <%= local_time post.updated_at, format: :short %>
                </div>
              </td>
              <td class="table__cell--attribute"><%= Post.human_attribute_name "status.#{post.status}" %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>

    <%= paginate @posts %>
  </div>
</div>
