<div class="container">
  <div class="layout-primary padding-3">
    <%= render 'account/dashboard/navbar' %>

    <div class="layout-secondary">
      <div class="">
        <div class="card card--elevated background-surface">
          <div class="display-flex gap-2 padding-3 align-items-center border-bottom">
            <div class="flex-grow-1 title-large">
              <%= t 'common.posts' %>
            </div>

            <a href="<%= new_account_dashboard_post_path(@account) %>" class="button button--outlined">
              <div class="button__icon">
                <span class="material-icons">post_add</span>
              </div>
              <div class="button__text">
                <%= t 'common.new_post' %>
              </div>
            </a>
          </div>

          <div class="">
            <%= render partial: 'post', collection: @posts %>
          </div>

          <div class="padding-3">
            <%= paginate @posts %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
