<%= turbo_stream.replace 'preview-dialog' do %>
  <div id="preview-dialog" class="dialog dialog--open dialog--full-screen" data-controller="dialog">
    <div class="dialog__container">
      <div class="display-flex gap-3 padding-3 align-items-center border-bottom">
        <div class="flex-grow-1 headline-small">
          <%= t 'common.preview' %>
        </div>
        <button type="button" class="button button--icon" data-action="dialog#close">
          <span class="material-icons">close</span>
        </button>
      </div>
      <div class="flex-grow-1 min-height-0">
        <iframe src="<%= account_post_preview_path(@account, @post, token: @post.preview_token) %>" class="post-preview-iframe">
        </iframe>
      </div>
      <div class="display-flex gap-3 padding-3 justify-content-center align-items-center border-top ">
        <div class="">
          Share link
        </div>
        <div class="clipboard" data-controller="clipboard">
          <input type="text" value="<%= account_post_preview_url(@account, @post, token: @post.preview_token) %>" data-clipboard-target="source">
          <button type="button" class="button button--filled" data-action="clipboard#copy">
            Copy
          </button>
        </div>
        <div class="">
          <a href="<%= account_post_preview_path(@account, @post, token: @post.preview_token) %>" class="button button--icon" target="_blank">
            <span class="material-icons">open_in_new</span>
          </a>
        </div>
      </div>
    </div>
    <div class="dialog__scrim" data-action="click->dialog#close">
    </div>
  </div>
<% end %>
