<div class="container container--medium padding-3">
  <div class="title-medium display-flex align-items-center gap-2 margin-bottom-4">
    <a href="<%= account_root_path(@account) %>" class="link-title display-inline-flex gap-1">
      <div class="avatar avatar--small">
        <%= avatar_image_tag @account.owner.avatar %>
      </div>
      <%= @account.display_name %>
    </a>
    <span class="material-icons">chevron_right</span>
    <%= t 'common.dashboard' %>
  </div>

  <div class="container container--small">
    <div class="">
      <a href="<%= account_dashboard_posts_path(@account) %>" class="link-block border-radius-3">
        <div class="display-flex gap-3 padding-3">
          <span class="material-icons">article</span>
          <div class="flex-grow-1">
            <div class="title-medium">
              <%= t '.posts' %>
            </div>
            <div class="">
              <%= t '.posts_desription' %>
            </div>
          </div>
        </div>
      </a>
      <a href="<%= account_dashboard_collections_path(@account) %>" class="link-block border-radius-3">
        <div class="display-flex gap-3 padding-3">
          <span class="material-icons">library_books</span>
          <div class="flex-grow-1">
            <div class="title-medium">
              <%= t '.collections' %>
            </div>
            <div class="">
              <%= t '.collections_desription' %>
            </div>
          </div>
        </div>
      </a>
      <a href="<%= account_dashboard_settings_root_path(@account) %>" class="link-block border-radius-3">
        <div class="display-flex gap-3 padding-3">
          <span class="material-icons">settings</span>
          <div class="flex-grow-1">
            <div class="title-medium">
              <%= t '.settings' %>
            </div>
            <div class="">
              <%= t '.settings_desription' %>
            </div>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>
