<div class="container container--medium padding-3">
  <div class="headline-medium display-flex gap-2 align-items-center margin-bottom-4">
    <a href="<%= account_root_path(@account) %>" class="link-text">
      <%= @account.display_name %>
    </a>
    <span class="material-icons">chevron_right</span>
    <div class="">
      <%= t 'common.dashboard' %>
    </div>
  </div>

  <% posts = @account.posts.not_trashed.order(updated_at: :desc).limit(3) %>
  <div class="card card--outlined margin-bottom-4">
    <div class="padding-3 headline-small border-bottom">
      <%= t 'common.posts' %>
    </div>
    <% if posts.any? %>
      <%= render partial: 'account/dashboard/posts/post', collection: posts %>
      <div class="display-flex justify-content-flex-end padding-2">
        <a href=" <%= account_dashboard_posts_path(@account) %>" class="button button--text">
          <%= t 'common.view_all' %>
        </a>
      </div>
    <% else %>
      <div class="content-placeholder">
        <div class="content-placeholder__icon">
          <span class="material-icons">article</span>
        </div>
        <div class="content-placeholder__label">
          <%= t '.no_post_yet' %>
        </div>
        <a href="<%= new_account_dashboard_post_path(@account) %>" class="button button--contained button--primary">
          <%= t 'common.new_post' %>
        </a>
      </div>
    <% end %>
  </div>

  <div class="display-grid grid-cols-2 gap-4">
    <div class="card card--outlined padding-3">
      <div class="headline-small">
        <%= t 'common.overview' %>
      </div>
      <dl>
        <dt><%= t 'common.followers' %></dt>
        <dd><%= @account.followers_count %></dd>
        <dt><%= t 'common.likes' %></dt>
        <dd><%= @account.posts.sum("likes_count") %></dd>
        <dt><%= t 'common.comments' %></dt>
        <dd><%= @account.posts.sum("comments_count") %></dd>
      </dl>
    </div>

    <div class="card card--outlined padding-3">
      <div class="headline-small">
        <%= t 'common.collections' %>
      </div>
      <div class="">
        <% @account.collections.order(updated_at: :desc).limit(3).each do |collection| %>
          <div class="display-flex padding-y-3">
            <div class="">
              <div class="title-medium">
                <%= collection.name %>
              </div>
              <div class="display-flex align-items-center">
                <%= collection.collection_items_count %> <%= t 'common.posts' %>
                <% if collection.visibility_private? %>
                  &centerdot;
                  <span class="material-icons material-icons--inline">lock</span>
                  <%= t 'common.private' %>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
      <div class="toolbar">
        <div class="toolbar__action">
          <a href="<%= account_dashboard_collections_path(@account) %>" class="button button--text">
            <%= t 'common.view_all' %>
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="display-flex gap-3 margin-y-4">
    <% if @account.organization? && current_member.has_permission?(:manage_member) %>
      <div class="toolbar__action">
        <a href="<%= account_dashboard_members_path(@account) %>" class="button button--text">
          <div class="button__icon">
            <span class="material-icons">people</span>
          </div>
          <div class="button__text">
            <%= t 'common.members' %>
          </div>
        </a>
      </div>
    <% end %>

    <% if current_member.has_permission?(:edit_account_settings) %>
      <div class="toolbar__action">
        <a href="<%= account_dashboard_settings_root_path(@account) %>" class="button button--text">
          <div class="button__icon">
            <span class="material-icons">settings</span>
          </div>
          <div class="button__text">
            <%= t 'common.settings' %>
          </div>
        </a>
      </div>
    <% end %>
  </div>
</div>
