<div class="navbar px-0 gap-4">
  <div class="flex-none">
    <a href="<%= settings_root_path %>" class="btn btn-square btn-ghost">
      <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-arrow-left-icon lucide-arrow-left"><path d="m12 19-7-7 7-7"/><path d="M19 12H5"/></svg>
    </a>
  </div>
  <div class="flex-grow">
    <div class="text-xl font-medium">
      <%= t "general.email" %>
    </div>
  </div>
</div>

<div class="layout-main-sidebar">
  <div>
    <div class="card card-default">
      <div class="card-body">
        <%= form_with model: @user, url: settings_email_path do |form| %>
          <%= render "components/text_field", form: form, name: :email %>

          <%= render "components/text_field", form: form, name: :password_challenge, type: :password_field, options: { autocomplete: "current-password" } %>

          <div class="mt-4">
            <button type="submit" class="btn btn-primary">
              <%= t "general.save_changes" %>
            </button>
          </div>
        <% end %>
      </div>
    </div>

    <% if @user.persisted? && !@user.email_verified? %>
      <div class="card bg-warning text-warning-content mt-4">
        <div class="card-body">
          <div class="card-title">
            <%= t ".verify_email" %>
          </div>
          <div>
            <p>
              <%= t ".verify_email_description" %>
            </p>
          </div>
          <div>
            <%= form_with url: resend_settings_email_path do |form| %>
              <button type="submit" class="btn btn-outline">
                <%= t ".resend_verification_email" %>
              </button>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
