<div class="top-app-bar">
  <a href="<%= settings_root_path %>" class="icon-button">
    <x-icon>arrow_back</x-icon>
  </a>
  <div class="top-app-bar__headline">
    <%= t "general.email" %>
  </div>
</div>

<div class="layout-main-sidebar">
  <div>
    <div class="card p-4">
      <%= form_with model: @user, url: settings_email_path do |form| %>
        <div class="form-field">
          <%= form.label :email, class: "form-label" %>
          <%= render "components/text_field", form: form, name: :email %>
        </div>

        <div class="form-field">
          <%= form.label :password_challenge, class: "form-label" %>
          <%= render "components/text_field", form: form, name: :password_challenge, type: :password_field, options: { autocomplete: "current-password" } %>
        </div>

        <div class="form-field">
          <button type="submit" class="button button--filled">
            <%= t "general.save_changes" %>
          </button>
        </div>
      <% end %>
    </div>

    <% if @user.persisted? && !@user.email_verified? %>
      <div class="card p-4 bg-primary-container mt-4">
        <div class="text-lg font-medium">
          <%= t ".verify_email" %>
        </div>
        <div class="mt-2">
          <p>
            <%= t ".verify_email_description" %>
          </p>
        </div>
        <div class="mt-2">
          <%= form_with url: resend_settings_email_path do |form| %>
            <button type="submit" class="button button--outlined">
              <x-icon>send</x-icon>
              <span>
                <%= t ".resend_verification_email" %>
              </span>
            </button>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
