<div class="container container--small padding-3">
  <div class="card card--elevated background-surface">
    <div class="top-app-bar">
      <div class="top-app-bar__action">
        <a href="<%= settings_root_path %>" class="button button--icon">
          <span class="material-icons">arrow_back</span>
        </a>
      </div>
      <div class="top-app-bar__title">
        <%= t 'common.email' %>
      </div>
    </div>
    <div class="padding-3">
      <%= render 'form' %>
    </div>
  </div>

  <% if !@user.email_verified? %>
    <div class="card card--filled padding-3 margin-top-3">
      <h3 class="subtitle-5 margin-top-0">
        <%= t '.verify_email_title' %>
      </h3>
      <p>
        <%= t '.verify_email_description' %>
      </p>
      <%= form_with url: resend_settings_email_path do |form| %>
      <button type="submit" class="button button--text">
        <div class="button__icon">
          <span class="material-icons">send</span>

        </div>
        <div class="button__label">
          <%= t '.resend_verification_email' %>
        </div>
      </button>
      <% end %>
    </div>
  <% end %>
</div>
