<% @page_title = "#{t 'common.tags'} - #{@account.display_name}" %>

<div class="container">
  <div class="layout">
    <%= render 'account/navbar' %>

    <div class="main">
      <div class="card card--surface padding-3 margin-bottom-3">
        <div class="breadcrumb">
          <div class="breadcrumb__item">
            <a href="<%= account_root_path(@account) %>">
              <%= @account.display_name %>
            </a>
          </div>
          <div class="breadcrumb__item breadcrumb__item--active">
            <%= t 'common.tags' %>
          </div>
        </div>
      </div>

      <div class="card card--surface">
        <div class="padding-y-2">
          <% @account.used_tags.each do |name, count| %>
            <a href="<%= account_tag_path(id: name) %>" class="link-block padding-x-3 padding-y-2">
              <div class="title-small">
                #<%= name %>
              </div>
              <div class="body-medium text-muted">
                <%= t 'common.posts_count', count: count %>
              </div>
            </a>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
