<% @page_title = "#{t 'common.tags'} - #{@account.display_name}" %>

<div class="banner-image">
  <div class="banner-image__inner">
    <% if @account.owner.banner_image.attached? %>
      <%= image_tag @account.owner.banner_image.variant(resize_to_limit: [1920, 1920]) %>
    <% end %>
  </div>
</div>

<div class="container">
  <div class="layout-primary padding-3">
    <%= render 'account/navbar' %>

    <div class="">
      <div class="breadcrumb title-medium padding-3">
        <div class="breadcrumb__item">
          <a href="<%= account_root_path(@account) %>">
            <%= @account.display_name %>
          </a>
        </div>
        <div class="breadcrumb__item breadcrumb__item--active">
          <%= t 'common.tags' %>
        </div>
      </div>

      <div class="layout-secondary">
        <div class="card card--elevated background-surface">
          <div class="padding-y-2">
            <% @account.used_tags.each do |name, count| %>
              <a href="<%= account_tag_path(id: name) %>" class="link-block padding-x-3 padding-y-2">
                <div class="title-small">
                  #<%= name %>
                </div>
                <div class="body-medium text-muted">
                  <%= t 'common.posts_count', count: count %>
                </div>
              </a>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
