<% @page_title = "#{params[:id]} - #{@account.display_name}" %>

<div class="banner-image">
  <div class="banner-image__inner">
    <% if @account.owner.banner_image.attached? %>
      <%= image_tag @account.owner.banner_image.variant(resize_to_limit: [1920, 1920]) %>
    <% end %>
  </div>
</div>

<div class="container">
  <div class="layout-primary padding-3">
    <%= render 'account/navbar' %>

    <div class="">
      <div class="breadcrumb title-medium padding-3">
        <div class="breadcrumb__item">
          <a href="<%= account_root_path(@account) %>">
            <%= @account.display_name %>
          </a>
        </div>
        <div class="breadcrumb__item">
          <a href="<%= account_tags_path(@account) %>">
            <%= t 'common.tags' %>
          </a>
        </div>
        <div class="breadcrumb__item breadcrumb__item--active">
          <%= params[:id] %>
        </div>
      </div>

      <div class="layout-secondary">
        <div class="">
          <div class="display-flex flex-direction-column gap-3">
            <%= render partial: 'account/posts/post', collection: @posts, cached: true %>
          </div>

          <div class="padding-3">
            <%= paginate @posts %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
