<div class="container container--small padding-3">
  <div class="card card--elevated background-surface padding-3">
    <div class="text-align-center">
      <h3>
        You’ve been invited to the <%= @account.name %> organization.
      </h3>
      <p class="text--secondary">
        Invited by @<%= @member.inviter.account.name %>
      </p>
      <% if Current.user %>
        <% if @account.owner.members.active.where(user: Current.user).exists? %>
          <p>
            You are already a member of @<%= @account.name %>.
            <a href="<%= new_session_path(return_to: account_invitation_path(invitation_token: @member.invitation_token)) %>">Sign in</a> as another user if you want to join as another user.
          </p>
        <% else %>
          <%= form_with url: account_invitation_path(invitation_token: @member.invitation_token), method: 'patch' do %>
            <button type="submit" class="button button--filled">
              Join <%= @account.owner.name %>
            </button>
          <% end %>
        <% end %>
      <% else %>
        <div class="display-flex gap-3 justify-content-center">
          <a href="<%= new_registration_path(return_to: account_invitation_path(invitation_token: @member.invitation_token)) %>" class="button button--filled">
            <%= t 'general.sign_up' %>
          </a>
          <a href="<%= new_session_path(return_to: account_invitation_path(invitation_token: @member.invitation_token)) %>" class="button button--outlined">
            <%= t 'general.sign_in' %>
          </a>
        </div>
      <% end %>
    </div>
  </div>
</div>
