<div class="container container--small padding-3">
  <div class="card card--surface padding-3">
    <h2 class="headline-medium margin-top-0 margin-bottom-3">
      <%= t 'common.forgot_password?' %>
    </h2>
    <%= form_with url: user_password_path, builder: CustomFormBuilder, class: 'form', data: { turbo: 'false' } do |form| %>
      <div class="margin-bottom-3">
        <%= form.text_field :email, autofocus: true %>
      </div>
      <div class="margin-bottom-3">
        <%= optional_recaptcha_tags %>
      </div>
      <button type="submit" class="button button--filled">
        <%= t('common.send_password_reset_email') %>
      </button>
    <% end %>
  </div>
</div>
