<div class="container container--micro">
  <div class="padding">
    <h2 class="headline-medium margin-y-4">
      <%= t 'common.forgot_password?' %>
    </h2>
    <%= form_with url: user_password_path, builder: CustomFormBuilder, class: 'form', data: { turbo: 'false' } do |form| %>
      <div class="form__field">
        <%= form.text_field :email, autofocus: true %>
      </div>
      <div class="form__field">
        <%= recaptcha_tags %>
      </div>
      <button type="submit" class="button button--filled">
        <%= t('common.send_password_reset_email') %>
      </button>
    <% end %>
  </div>
</div>
