<div class="max-w-screen-sm mx-auto">
  <div class="card">
    <div class="flex items-center p-2">
      <a href="<%= settings_root_path %>" class="icon-button">
        <%= material_icon :arrow_back %>
      </a>
      <div class="text-lg font-medium flex-grow px-2">
        Profile
      </div>
      <a href="<%= account_root_path(@user.account.name) %>" class="text-button">
        View
      </a>
    </div>

    <div class="p-4">
      <%= form_with model: @user, url: settings_profile_path do |form| %>
        <div class="form-field">
          <%= form.label :banner_image, class: "form-label" %>
          <%= render "components/image_field", form: form, name: :banner_image do %>
            <div class="relative w-full aspect-[3/1]">
              <div class="absolute inset-0 [&>img]:object-cover [&>img]:h-full [&>img]:w-full [&>img]:rounded" data-image-field-target="preview">
                <% if @user.banner_image.attached? %>
                  <%= image_tag @user.banner_image.variant(:large) %>
                <% end %>
              </div>

              <label for="user_banner_image" class="absolute inset-0 flex flex-col items-center justify-center gap-2 group-[.attached]/image-field:hidden rounded border-2 border-dashed border-outline-variant interactive-bg-surface text-on-surface-variant cursor-pointer">
                <div class="icon w-6 h-6">
                  <%= material_icon :add_photo_alternate %>
                </div>
                <div class="text-sm font-medium">
                  Click to select image
                </div>
              </label>

              <div class="absolute top-2 right-2 items-center gap-2 hidden group-[.attached]/image-field:flex">
                <div class="bg-surface-variant rounded-full">
                  <label for="user_banner_image" class="icon-button">
                    <%= material_icon :add_photo_alternate %>
                  </label>
                </div>
                <div class="bg-surface-variant rounded-full">
                  <label for="user_remove_banner_image" class="icon-button">
                    <%= material_icon :delete %>
                  </label>
                </div>
              </div>
            </div>
          <% end %>
        </div>

        <div class="form-field">
          <%= form.label :avatar, class: "form-label" %>
          <%= render "components/image_field", form: form, name: :avatar do %>
            <div class="relative w-32 h-32">
              <div class="absolute inset-0 [&>img]:object-cover [&>img]:h-full [&>img]:w-full [&>img]:rounded-full" data-image-field-target="preview">
                <% if @user.avatar.attached? %>
                  <%= image_tag @user.avatar.variant(:thumb) %>
                <% end %>
              </div>

              <label for="user_avatar" class="absolute inset-0 flex flex-col items-center justify-center gap-2 group-[.attached]/image-field:hidden rounded-full border-2 border-dashed border-outline-variant interactive-bg-surface text-on-surface-variant cursor-pointer">
                <div class="icon w-6 h-6">
                  <%= material_icon :add_photo_alternate %>
                </div>
              </label>

              <div class="absolute top-2 right-2 items-center gap-2 hidden group-[.attached]/image-field:flex">
                <div class="bg-surface-variant rounded-full">
                  <label for="user_avatar" class="icon-button">
                    <%= material_icon :add_photo_alternate %>
                  </label>
                </div>
              </div>
            </div>
          <% end %>
        </div>

        <div class="form-field">
          <%= form.label :name, class: "form-label" %>
          <%= render "components/text_field", form: form, name: :name %>
        </div>

        <%= form.fields_for :account do |account_form| %>
          <div class="form-field">
            <%= account_form.label :name, class: "form-label" %>
            <%= render "components/text_field", form: account_form, name: :name, prefix: "@" %>
          </div>
        <% end %>

        <div class="form-field">
          <%= form.label :bio, class: "form-label" %>
          <%= render "components/text_field", form: form, name: :bio, type: :text_area, options: { rows: 3 } %>
        </div>

        <div class="form-field">
          <button type="submit" class="filled-button">
            Save changes
          </button>
        </div>
      <% end %>
    </div>
  </div>
</div>
