<input type="checkbox" id="theme-dialog-toggle" class="dialog-toggle">
<div class="dialog">
  <div class="dialog__container">
    <div class="headline-small margin-x-1 margin-top-1 padding-3">
      <%= t 'common.theme' %>
    </div>
    <div class="overflow-auto" data-controller="theme-settings">
      <label class="display-flex align-items-center gap-3 padding-x-3 padding-y-2 label-state">
        <label class="radio">
          <input type="radio" name="color_scheme" value="default" data-action="theme-settings#selectColorScheme">
          <div class="radio__icon"></div>
        </label>
        <div class="flex-grow-1">
          <div class="label-large">
            <%= t 'common.devise_theme' %>
          </div>
        </div>
      </label>
      <label class="display-flex align-items-center gap-3 padding-x-3 padding-y-2 label-state">
        <label class="radio">
          <input type="radio" name="color_scheme" value="light" data-action="theme-settings#selectColorScheme">
          <div class="radio__icon"></div>
        </label>
        <div class="flex-grow-1">
          <div class="label-large">
            <%= t 'common.light_theme' %>
          </div>
        </div>
      </label>
      <label class="display-flex align-items-center gap-3 padding-x-3 padding-y-2 label-state">
        <label class="radio">
          <input type="radio" name="color_scheme" value="dark" data-action="theme-settings#selectColorScheme">
          <div class="radio__icon"></div>
        </label>
        <div class="flex-grow-1">
          <div class="label-large">
            <%= t 'common.dark_theme' %>
          </div>
        </div>
      </label>
    </div>
    <div class="display-flex justify-content-flex-end padding-3">
      <label for="theme-dialog-toggle" class="button button--text">
        <%= t 'common.done' %>
      </label>
    </div>
  </div>
  <label for="theme-dialog-toggle" class="dialog__scrim"></label>
</div>
