<% content_for :body do %>
  <div class="padding-1">
    <div class="top-app-bar">
      <div class="top-app-bar__title display-flex align-items-center gap-3">
        <% if @site.logo.attached? %>
          <div class="logo">
            <a href="<%= admin_root_path %>" class="display-inline-block">
              <div class="display-block@light">
                <%= image_tag @site.logo.variant(:normal) %>
              </div>
              <div class="display-block@dark">
                <% if @site.logo_dark.attached? %>
                  <%= image_tag @site.logo_dark.variant(:normal) %>
                <% else %>
                  <%= image_tag @site.logo.variant(:normal) %>
                <% end %>
              </div>
            </a>
          </div>
        <% else %>
          <a href="<%= admin_root_path %>">
            <%= @site.name || 'GeekNote' %>
          </a>
        <% end %>
        <div class="title-medium text-muted">
          <%= t 'common.admin' %>
        </div>
      </div>
      <div class="top-app-bar__action">
        <div class="dropdown dropdown--right">
          <label tabindex="0" class="button button--icon button--avatar">
            <div class="avatar">
              <%= avatar_image_tag current_user.avatar %>
            </div>
          </label>
          <div tabindex="0" class="dropdown__container">
            <a href="<%= root_path %>" class="dropdown__item">
              <div class="dropdown__item__icon">
                <span class="material-icons">exit_to_app</span>
              </div>
              <div class="dropdown__item__text">
                <%= t 'common.back_to_home' %>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <%= yield %>
<% end %>

<%= render template: 'layouts/base' %>
