<% content_for :body do %>
  <div class="app-bar">
    <div class="toolbar">
      <div class="toolbar__title">
        <a href="/">
          Community
        </a>
      </div>
      <% if current_user %>
        <div class="toolbar__action">
          <a href="#" class="button button--icon">
            <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z"/></svg>
          </a>
        </div>
        <div class="toolbar__action">
          <a href="#" class="button button--icon">
            <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M19.29 17.29L18 16v-5c0-3.07-1.64-5.64-4.5-6.32V4c0-.83-.67-1.5-1.5-1.5s-1.5.67-1.5 1.5v.68C7.63 5.36 6 7.92 6 11v5l-1.29 1.29c-.63.63-.19 1.71.7 1.71h13.17c.9 0 1.34-1.08.71-1.71zM16 17H8v-6c0-2.48 1.51-4.5 4-4.5s4 2.02 4 4.5v6zm-4 5c1.1 0 2-.9 2-2h-4c0 1.1.89 2 2 2z"/></svg>
          </a>
        </div>
        <div class="toolbar__action dropdown" data-controller="dropdown">
          <button type="button" class="button button--icon" data-action="dropdown#toggle">
            <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M12 6c1.1 0 2 .9 2 2s-.9 2-2 2-2-.9-2-2 .9-2 2-2m0 10c2.7 0 5.8 1.29 6 2H6c.23-.72 3.31-2 6-2m0-12C9.79 4 8 5.79 8 8s1.79 4 4 4 4-1.79 4-4-1.79-4-4-4zm0 10c-2.67 0-8 1.34-8 4v2h16v-2c0-2.66-5.33-4-8-4z"/></svg>
          </button>
          <div class="dropdown__menu dropdown__menu--top-right">
            <a href="<%= account_root_path(current_user.account) %>" class="dropdown__item">Profile</a>
            <a href="<%= account_dashboard_root_path(current_user.account) %>" class="dropdown__item">Dashboard</a>
            <a href="<%= settings_organizations_path %>" class="dropdown__item">Organizations</a>
            <a href="<%= settings_profile_path %>" class="dropdown__item">Settings</a>
            <hr class="divider">
            <%= form_with url: sign_out_path, method: 'delete' do %>
              <button type="submit" class="dropdown__item">
                Sign out
              </button>
            <% end %>
          </div>
        </div>
        <div class="toolbar__action">
          <a href="<%= new_account_dashboard_post_path(current_user.account) %>" class="button button--contained button--primary">
            <div class="button__icon">
              <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#000000"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M3 17.25V21h3.75L17.81 9.94l-3.75-3.75L3 17.25zM5.92 19H5v-.92l9.06-9.06.92.92L5.92 19zM20.71 5.63l-2.34-2.34c-.2-.2-.45-.29-.71-.29s-.51.1-.7.29l-1.83 1.83 3.75 3.75 1.83-1.83c.39-.39.39-1.02 0-1.41z"/></svg>
            </div>
            <div class="button__text">
              Post
            </div>
          </a>
        </div>
      <% end %>
    </div>
  </div>
  <%= yield %>

  <div id="snackbar-container" class="snackbar-container">
    <% if flash[:notice] %>
      <div class="snackbar" data-controller="snackbar" data-snackbar-period="5000">
        <%= flash[:notice] %>
      </div>
    <% end %>
  </div>
<% end %>

<%= render template: 'layouts/base' %>
