<% content_for :body do %>
  <div class="background-surface">
    <div class="container">
      <div class="top-app-bar">
        <div class="top-app-bar__title">
          <a href="/" class="text-bold">
            GeekNote
          </a>
        </div>
        <% if current_user %>
          <div class="top-app-bar__action">
            <a href="<%= new_account_dashboard_post_path(current_user.account) %>" class="button button--icon">
              <span class="material-icons">post_add</span>
            </a>
          </div>
          <div class="top-app-bar__action">
            <a href="<%= notifications_path %>" class="button button--icon">
              <span class="material-icons">notifications</span>
              <% if current_user.notifications.unread.any? %>
                <div class="badge badge--small margin-1">
                </div>
              <% end %>
            </a>
          </div>
          <div class="top-app-bar__action">
            <div class="dropdown" data-controller="dropdown">
              <button type="button" class="button button--icon button--avatar" data-action="dropdown#toggle">
                <div class="avatar">
                  <%= avatar_image_tag current_user.avatar %>
                </div>
              </button>
              <div class="dropdown__container dropdown__container--top-right">
                <a href="<%= account_root_path(current_user.account) %>" class="dropdown__item">
                  <div class="dropdown__item__icon">
                    <span class="material-icons">account_box</span>
                  </div>
                  <div class="dropdown__item__text">
                    <%= t 'common.profile' %>
                  </div>
                </a>
                <a href="<%= account_collections_path(current_user.account) %>" class="dropdown__item">
                  <div class="dropdown__item__icon">
                    <span class="material-icons">library_books</span>
                  </div>
                  <div class="dropdown__item__text">
                    <%= t 'common.collections' %>
                  </div>
                </a>
                <a href="<%= account_dashboard_root_path(current_user.account) %>" class="dropdown__item">
                  <div class="dropdown__item__icon">
                    <span class="material-icons">dashboard</span>
                  </div>
                  <div class="dropdown__item__text">
                    <%= t 'common.dashboard' %>
                  </div>
                </a>
                <a href="<%= organizations_path %>" class="dropdown__item">
                  <div class="dropdown__item__icon">
                    <span class="material-icons">switch_account</span>
                  </div>
                  <div class="dropdown__item__text">
                    <%= t 'common.organizations' %>
                  </div>
                </a>
                <button type="button" class="dropdown__item" data-controller="toggle" data-toggle-target="#theme-dialog" data-toggle-action="dialog#open" data-action="dropdown#close">
                  <div class="dropdown__item__icon">
                    <span class="material-icons">dark_mode</span>
                  </div>
                  <div class="dropdown__item__text">
                    <%= t 'common.theme' %>
                  </div>
                </button>
                <a href="<%= settings_root_path %>" class="dropdown__item">
                  <div class="dropdown__item__icon">
                    <span class="material-icons">settings</span>
                  </div>
                  <div class="dropdown__item__text">
                    <%= t 'common.settings' %>
                  </div>
                </a>
                <hr class="divider">
                <%= form_with url: sign_out_path, method: 'delete' do %>
                  <button type="submit" class="dropdown__item">
                    <div class="dropdown__item__icon">
                      <span class="material-icons">logout</span>
                    </div>
                    <div class="dropdown__item__text">
                      <%= t 'common.sign_out' %>
                    </div>
                  </button>
                <% end %>
              </div>
            </div>
          </div>
        <% else %>
          <div class="top-app-bar__action">
            <a href="<%= sign_up_path %>" class="button button--text">
              <%= t 'common.sign_up' %>
            </a>
          </div>
          <div class="top-app-bar__action">
            <a href="<%= sign_in_path %>" class="button button--text">
              <%= t 'common.sign_in' %>
            </a>
          </div>
          <div class="top-app-bar__action">
            <div class="dropdown" data-controller="dropdown">
              <button type="button" class="button button--icon" data-action="dropdown#toggle">
                <span class="material-icons">more_vert</span>
              </button>
              <div class="dropdown__container dropdown__container--top-right">
                <button type="button" class="dropdown__item" data-controller="toggle" data-toggle-target="#theme-dialog" data-toggle-action="dialog#open" data-action="dropdown#close">
                  <div class="dropdown__item__icon">
                    <span class="material-icons">dark_mode</span>
                  </div>
                  <div class="dropdown__item__text">
                    <%= t 'common.theme' %>
                  </div>
                </button>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <%= content_for?(:main) ? yield(:main) : yield %>

  <div class="padding-4 display-flex gap-3 justify-content-center text-muted">
    <a href="https://geeknote.net/policy/posts/190" class="link-text"><%= t 'common.rules' %></a>
    <a href="https://geeknote.net/geeknote/" class="link-text"><%= t 'common.blog' %></a>
    <a href="/contact" class="link-text"><%= t 'common.contact' %></a>
    <a href="https://github.com/geeknote-net/feedback/discussions" class="link-text" target="_blank"><%= t 'common.feedback' %></a>
    <a href="https://geeknote.statuspage.io/" class="link-text" target="_blank"><%= t 'common.status' %></a>
  </div>

  <div class="dialog" data-controller="dialog" id="theme-dialog">
    <div class="dialog__container">
      <div class="headline-small margin-x-1 margin-top-1 padding-3">
        <%= t 'common.theme' %>
      </div>
      <div class="overflow-auto" data-controller="theme-settings">
        <label class="display-flex align-items-center gap-3 padding-x-3 padding-y-2 label-state">
          <label class="radio">
            <input type="radio" name="color_scheme" value="default" data-action="theme-settings#selectColorScheme">
            <div class="radio__icon"></div>
          </label>
          <div class="flex-grow-1">
            <div class="label-large">
              <%= t 'common.devise_theme' %>
            </div>
          </div>
        </label>
        <label class="display-flex align-items-center gap-3 padding-x-3 padding-y-2 label-state">
          <label class="radio">
            <input type="radio" name="color_scheme" value="light" data-action="theme-settings#selectColorScheme">
            <div class="radio__icon"></div>
          </label>
          <div class="flex-grow-1">
            <div class="label-large">
              <%= t 'common.light_theme' %>
            </div>
          </div>
        </label>
        <label class="display-flex align-items-center gap-3 padding-x-3 padding-y-2 label-state">
          <label class="radio">
            <input type="radio" name="color_scheme" value="dark" data-action="theme-settings#selectColorScheme">
            <div class="radio__icon"></div>
          </label>
          <div class="flex-grow-1">
            <div class="label-large">
              <%= t 'common.dark_theme' %>
            </div>
          </div>
        </label>
      </div>
      <div class="display-flex justify-content-flex-end padding-3">
        <button type="button" class="button button--text" data-action="dialog#close">
          <%= t 'common.done' %>
        </button>
      </div>
    </div>
    <div class="dialog__scrim" data-action="click->dialog#close">
    </div>
  </div>
<% end %>

<%= render template: 'layouts/base' %>
