<!DOCTYPE html>
<html class="bg-base-200">
  <head>
    <title><%= @page_titles.join(" - ") %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
    <link rel="icon" href="<%= asset_path("icon.svg") %>" type="image/svg+xml">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "markdown-editor", "data-turbo-track": "reload", type: "module" %>

    <script>
      var onRecaptchaLoad = function() {
        window.dispatchEvent(new Event("recaptcha:load"));
      }
    </script>
    <script src="https://www.recaptcha.net/recaptcha/api.js?onload=onRecaptchaLoad&render=explicit" async defer></script>

    <meta name="turbo-refresh-method" content="morph">
    <meta name="turbo-refresh-scroll" content="preserve">

    <% if Current.user %>
      <meta name="current-user-id" content="<%= Current.user.id %>">
    <% end %>

    <%= yield :head %>

    <%= raw @site.global_head_html %>
  </head>

  <body>
    <style>
      <% if Current.user %>
        .visible-to-user--<%= Current.user.id %> {
          display: block;
        }

        <% if Current.user.admin? %>
          .visible-to-admin {
            display: block;
          }
        <% end %>
      <% end %>
    </style>

    <%= content_for?(:body) ? yield(:body) : yield %>

    <div id="toast" class="toast">
      <% if notice %>
        <div class="alert alert-success" data-controller="autoremove" data-turbo-temporary>
          <%= notice %>
        </div>
      <% end %>
      <% if alert %>
        <div class="alert alert-error" data-controller="autoremove" data-turbo-temporary>
          <%= alert %>
        </div>
      <% end %>
    </div>
  </body>
</html>
