<!DOCTYPE html>
<html class="bg-surface-container">
  <head>
    <title>Geeknote</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <meta name="turbo-refresh-method" content="morph">
    <meta name="turbo-refresh-scroll" content="preserve">

    <% if Current.user %>
      <meta name="current-user-id" content="<%= Current.user.id %>">
    <% end %>

    <%= yield :head %>
  </head>

  <body>
    <style>
      <% if Current.user %>
        .visible-to-user--<%= Current.user.id %> {
          display: block;
        }

        <% if Current.user.admin? %>
          .visible-to-admin {
            display: block;
          }
        <% end %>
      <% end %>
    </style>

    <%= content_for?(:body) ? yield(:body) : yield %>

    <% if notice || alert %>
      <div class="snackbar" data-controller="snackbar" data-turbo-temporary>
        <%= notice || alert %>
      </div>
    <% end %>
  </body>
</html>
