<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= "#{@page_title} - " if @page_title %>GeekNote</title>
    <meta name="description" content="<%= t 'common.site_description' %>">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="<%= asset_path("favicon.png") %>">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbo-track': 'reload' %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>

    <% if current_user %>
      <meta name="current-user-id" content="<%= current_user.id %>">
    <% end %>

    <%= yield :head %>
  </head>

  <body>
    <% if current_user %>
      <style>
        [data-visible-to-user]:not([data-visible-to-user="<%= current_user.id %>"]) {
          display: none;
        }
      </style>
    <% else %>
      <style>
        .visible-to-user,
        [data-visible-to-user] {
          display: none;
        }
      </style>
    <% end %>

    <%= content_for?(:body) ? yield(:body) : yield %>

    <div id="snackbar-container" class="snackbar-container">
      <% if flash[:notice] %>
        <div class="snackbar" data-controller="snackbar" data-snackbar-period="5000">
          <%= flash[:notice] %>
        </div>
      <% end %>
    </div>
  </body>
</html>
