<% content_for :app_content do %>
  <div class="container container--medium">
    <div class="toolbar margin-top">
      <div class="toolbar__action">
        <div class="dropdown" data-controller="dropdown">
          <button type="button" class="button button--text" data-action="dropdown#toggle">
            <div class="button__avatar">
              <div class="avatar avatar--small">
                <%= avatar_image_tag @account.owner.avatar %>
              </div>
            </div>
            <div class="button__text">
              <%= @account.owner.name %>
            </div>
            <div class="button__icon">
              <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#000000"><path d="M24 24H0V0h24v24z" fill="none" opacity=".87"/><path d="M16.59 8.59L12 13.17 7.41 8.59 6 10l6 6 6-6-1.41-1.41z"/></svg>
            </div>
          </button>
          <div class="dropdown__menu">
            <a href="<%= account_dashboard_root_path(current_user.account) %>" class="dropdown__item">
              <div class="dropdown__item__avatar">
                <div class="avatar avatar--small">
                  <%= avatar_image_tag current_user.avatar %>
                </div>
              </div>
              <div class="dropdown__item__text">
                <%= current_user.name %>
              </div>
            </a>
            <% current_user.member_accounts.each do |account| %>
              <a href="<%= account_dashboard_root_path(account) %>" class="dropdown__item">
                <div class="dropdown__item__avatar">
                  <div class="avatar avatar--small">
                    <%= avatar_image_tag account.owner.avatar %>
                  </div>
                </div>
                <div class="dropdown__item__text">
                  <%= account.owner.name %>
                </div>
              </a>
            <% end %>
          </div>
        </div>
      </div>
      <div class="toolbar__space">
      </div>
      <div class="toolbar__action">
        <a href="<%= account_root_path(@account) %>" class="button button--text">
          <div class="button__text">
            Profile
          </div>
          <div class="button__icon">
            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#000000"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M16.01 11H4v2h12.01v3L20 12l-3.99-4v3z"/></svg>
          </div>
        </a>
      </div>
    </div>

    <div class="tab">
      <a href="<%= account_dashboard_root_path(@account) %>" class="tab__item <%= 'tab__item--active' if controller_name == 'home' %>">
        Dashboard
      </a>
      <a href="<%= account_dashboard_posts_path(@account) %>" class="tab__item <%= 'tab__item--active' if controller_name == 'posts' %>">
        Posts
      </a>
      <a href="#" class="tab__item">
        Comments
      </a>
      <% if @account.organization? %>
        <a href="<%= account_dashboard_memberships_path %>" class="tab__item <%= 'tab__item--active' if controller_name == 'memberships' %>">
          Members
        </a>
      <% end %>
      <a href="<%= account_dashboard_settings_path %>" class="tab__item <%= 'tab__item--active' if request.path.include?('settings') %>">
        Settings
      </a>
    </div>

    <%= yield %>
  </div>
<% end %>

<%= render template: 'layouts/application' %>
