<% content_for :app_content do %>
  <div class="container container--medium">
    <div class="toolbar">
      <div class="toolbar__title">
        <h3 class="margin-0">
          <%= @account.owner.name %>
        </h3>
      </div>
      <div class="toolbar__action">
        <a href="<%= account_root_path(@account) %>" class="button button--text">
          <div class="button__text">
            Profile
          </div>
          <div class="button__icon">
            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#000000"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M16.01 11H4v2h12.01v3L20 12l-3.99-4v3z"/></svg>
          </div>
        </a>
      </div>
    </div>

    <div class="tab margin-bottom">
      <a href="<%= account_dashboard_root_path(@account) %>" class="tab__item <%= 'tab__item--active' if controller_name == 'home' %>">
        Dashboard
      </a>
      <a href="<%= account_dashboard_posts_path(@account) %>" class="tab__item <%= 'tab__item--active' if controller_name == 'posts' %>">
        Posts
      </a>
      <% if @account.organization? %>
        <a href="<%= account_dashboard_memberships_path %>" class="tab__item <%= 'tab__item--active' if controller_name == 'memberships' %>">
          Members
        </a>
      <% end %>
      <a href="<%= account_dashboard_settings_profile_path %>" class="tab__item <%= 'tab__item--active' if request.path.include?('settings') %>">
        Settings
      </a>
    </div>

    <%= yield %>
  </div>
<% end %>

<%= render template: 'layouts/application' %>
