<% content_for :app_content do %>
  <div class="container container--medium">
    <div class="toolbar margin-top">
      <div class="toolbar__action">
        <div class="flex">
          <div class="avatar margin-right-8">
            <%= avatar_image_tag @account.owner.avatar %>
          </div>
          <div>
            <div class="text-primary">
              <%= @account.owner.name %>
            </div>
            <div class="text-secondary">
              <%= @account.user? ? 'User account' : 'Organization account' %>
            </div>
          </div>
        </div>
      </div>
      <div class="toolbar__space">
      </div>
      <div class="toolbar__action">
        <a href="<%= account_root_path(@account) %>" class="button button--text">
          <div class="button__text">
            Go to profile
          </div>
          <div class="button__icon">
            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#000000"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M16.01 11H4v2h12.01v3L20 12l-3.99-4v3z"/></svg>
          </div>
        </a>
      </div>
    </div>

    <div class="tab margin-y">
      <a href="<%= account_dashboard_root_path(@account) %>" class="tab__item <%= 'tab__item--active' if controller_name == 'home' %>">
        Dashboard
      </a>
      <a href="<%= account_dashboard_posts_path(@account) %>" class="tab__item <%= 'tab__item--active' if controller_name == 'posts' %>">
        Posts
      </a>
      <a href="<%= account_dashboard_collections_path(@account) %>" class="tab__item <%= 'tab__item--active' if controller_name == 'collections' %>">
        Collections
      </a>
      <a href="#" class="tab__item">
        Comments
      </a>
      <% if @account.organization? %>
        <a href="<%= account_dashboard_memberships_path %>" class="tab__item <%= 'tab__item--active' if controller_name == 'memberships' %>">
          Members
        </a>
      <% end %>
      <a href="<%= account_dashboard_settings_path %>" class="tab__item <%= 'tab__item--active' if request.path.include?('settings') %>">
        Settings
      </a>
    </div>

    <%= yield %>
  </div>
<% end %>

<%= render template: 'layouts/application' %>
