<% content_for :body do %>
  <div class="app">
    <div class="app-bar-wrapper">
      <div class="app-bar">
        <div class="toolbar">
          <div class="toolbar__action">
            <button type="button" class="button button--icon">
              <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#000000"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z"/></svg>
            </button>
          </div>
          <div class="toolbar__title">
            <a href="/">
              GeekNote Dashboard
            </a>
          </div>
          <div class="toolbar__action">
            <a href="<%= new_account_dashboard_post_path(current_user.account) %>" class="button button--icon">
              <svg xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 24 24" height="24px" viewBox="0 0 24 24" width="24px" fill="#000000"><g><rect fill="none" height="24" width="24"/></g><g><g/><g><path d="M17,19.22H5V7h7V5H5C3.9,5,3,5.9,3,7v12c0,1.1,0.9,2,2,2h12c1.1,0,2-0.9,2-2v-7h-2V19.22z"/><path d="M19,2h-2v3h-3c0.01,0.01,0,2,0,2h3v2.99c0.01,0.01,2,0,2,0V7h3V5h-3V2z"/><rect height="2" width="8" x="7" y="9"/><polygon points="7,12 7,14 15,14 15,12 12,12"/><rect height="2" width="8" x="7" y="15"/></g></g></svg>
            </a>
          </div>
          <div class="toolbar__action">
            <a href="<%= notifications_path %>" class="button button--icon <%= 'notification-unread' if current_user.notifications.unread.count > 0 %>">
              <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M19.29 17.29L18 16v-5c0-3.07-1.64-5.64-4.5-6.32V4c0-.83-.67-1.5-1.5-1.5s-1.5.67-1.5 1.5v.68C7.63 5.36 6 7.92 6 11v5l-1.29 1.29c-.63.63-.19 1.71.7 1.71h13.17c.9 0 1.34-1.08.71-1.71zM16 17H8v-6c0-2.48 1.51-4.5 4-4.5s4 2.02 4 4.5v6zm-4 5c1.1 0 2-.9 2-2h-4c0 1.1.89 2 2 2z"/></svg>
            </a>
          </div>
          <div class="toolbar__action dropdown" data-controller="dropdown">
            <button type="button" class="button button--icon button--avatar" data-action="dropdown#toggle">
              <div class="avatar">
                <%= avatar_image_tag current_user.avatar %>
              </div>
            </button>
            <div class="dropdown__menu dropdown__menu--top-right">
              <a href="<%= account_root_path(current_user.account) %>" class="dropdown__item">Profile</a>
              <a href="<%= account_dashboard_root_path(current_user.account) %>" class="dropdown__item">Dashboard</a>
              <a href="<%= organizations_path %>" class="dropdown__item">Organizations</a>
              <a href="<%= settings_account_path %>" class="dropdown__item">Settings</a>
              <hr class="divider">
              <%= form_with url: sign_out_path, method: 'delete' do %>
                <button type="submit" class="dropdown__item">
                  <%= t 'common.sign_out' %>
                </button>
              <% end %>
            </div>
          </div>
        </div>
      </div>

      <div class="drawer-wrapper">
        <div class="drawer">
          <div class="drawer__container">
            <div class="padding text-align-center">
              <div class="avatar avatar--medium margin-bottom-8">
                <%= avatar_image_tag @account.owner.avatar %>
              </div>
              <div class="text-primary text-bold">
                <%= @account.owner.name %>
              </div>
              <div class="text-secondary">
                <%= @account.user? ? 'Personal' : 'Organization' %>
              </div>
            </div>
            <div class="nav">
              <a href="<%= account_dashboard_root_path(@account) %>" class="nav__item <%= 'nav__item--active' if controller_name == 'home' %>">
                <div class="nav__item__icon">
                  <svg xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 24 24" height="24px" viewBox="0 0 24 24" width="24px" fill="#000000"><rect fill="none" height="24" width="24"/><path d="M19,3H5C3.9,3,3,3.9,3,5v14c0,1.1,0.9,2,2,2h14c1.1,0,2-0.9,2-2V5C21,3.9,20.1,3,19,3z M5,19V5h6v14H5z M19,19h-6v-7h6V19z M19,10h-6V5h6V10z"/></svg>
                </div>
                <div class="nav__item__text">
                  Dashboard
                </div>
              </a>
              <a href="<%= account_dashboard_posts_path(@account) %>" class="nav__item <%= 'nav__item--active' if controller_name == 'posts' %>">
                <div class="nav__item__icon">
                  <svg xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 24 24" height="24px" viewBox="0 0 24 24" width="24px" fill="#000000"><g><rect fill="none" height="24" width="24"/><g><path d="M19,5v14H5V5H19 M19,3H5C3.9,3,3,3.9,3,5v14c0,1.1,0.9,2,2,2h14c1.1,0,2-0.9,2-2V5C21,3.9,20.1,3,19,3L19,3z"/></g><path d="M14,17H7v-2h7V17z M17,13H7v-2h10V13z M17,9H7V7h10V9z"/></g></svg>
                </div>
                <div class="nav__item__text">
                  Posts
                </div>
              </a>
              <% if @account.organization? %>
                <a href="<%= account_dashboard_memberships_path %>" class="nav__item <%= 'nav__item--active' if controller_name == 'memberships' %>">
                  <div class="nav__item__icon">
                    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#000000"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M9 13.75c-2.34 0-7 1.17-7 3.5V19h14v-1.75c0-2.33-4.66-3.5-7-3.5zM4.34 17c.84-.58 2.87-1.25 4.66-1.25s3.82.67 4.66 1.25H4.34zM9 12c1.93 0 3.5-1.57 3.5-3.5S10.93 5 9 5 5.5 6.57 5.5 8.5 7.07 12 9 12zm0-5c.83 0 1.5.67 1.5 1.5S9.83 10 9 10s-1.5-.67-1.5-1.5S8.17 7 9 7zm7.04 6.81c1.16.84 1.96 1.96 1.96 3.44V19h4v-1.75c0-2.02-3.5-3.17-5.96-3.44zM15 12c1.93 0 3.5-1.57 3.5-3.5S16.93 5 15 5c-.54 0-1.04.13-1.5.35.63.89 1 1.98 1 3.15s-.37 2.26-1 3.15c.46.22.96.35 1.5.35z"/></svg>
                  </div>
                  <div class="nav__item__text">
                    Members
                  </div>
                </a>
              <% end %>
              <a href="<%= account_dashboard_settings_path %>" class="nav__item <%= 'nav__item--active' if request.path.include?('settings') %>">
                <div class="nav__item__icon">
                  <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#000000"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M19.43 12.98c.04-.32.07-.64.07-.98 0-.34-.03-.66-.07-.98l2.11-1.65c.19-.15.24-.42.12-.64l-2-3.46c-.09-.16-.26-.25-.44-.25-.06 0-.12.01-.17.03l-2.49 1c-.52-.4-1.08-.73-1.69-.98l-.38-2.65C14.46 2.18 14.25 2 14 2h-4c-.25 0-.46.18-.49.42l-.38 2.65c-.61.25-1.17.59-1.69.98l-2.49-1c-.06-.02-.12-.03-.18-.03-.17 0-.34.09-.43.25l-2 3.46c-.13.22-.07.49.12.64l2.11 1.65c-.04.32-.07.65-.07.98 0 .33.03.66.07.98l-2.11 1.65c-.19.15-.24.42-.12.64l2 3.46c.09.16.26.25.44.25.06 0 .12-.01.17-.03l2.49-1c.52.4 1.08.73 1.69.98l.38 2.65c.03.24.24.42.49.42h4c.25 0 .46-.18.49-.42l.38-2.65c.61-.25 1.17-.59 1.69-.98l2.49 1c.06.02.12.03.18.03.17 0 .34-.09.43-.25l2-3.46c.12-.22.07-.49-.12-.64l-2.11-1.65zm-1.98-1.71c.04.31.05.52.05.73 0 .21-.02.43-.05.73l-.14 1.13.89.7 1.08.84-.7 1.21-1.27-.51-1.04-.42-.9.68c-.43.32-.84.56-1.25.73l-1.06.43-.16 1.13-.2 1.35h-1.4l-.19-1.35-.16-1.13-1.06-.43c-.43-.18-.83-.41-1.23-.71l-.91-.7-1.06.43-1.27.51-.7-1.21 1.08-.84.89-.7-.14-1.13c-.03-.31-.05-.54-.05-.74s.02-.43.05-.73l.14-1.13-.89-.7-1.08-.84.7-1.21 1.27.51 1.04.42.9-.68c.43-.32.84-.56 1.25-.73l1.06-.43.16-1.13.2-1.35h1.39l.19 1.35.16 1.13 1.06.43c.43.18.83.41 1.23.71l.91.7 1.06-.43 1.27-.51.7 1.21-1.07.85-.89.7.14 1.13zM12 8c-2.21 0-4 1.79-4 4s1.79 4 4 4 4-1.79 4-4-1.79-4-4-4zm0 6c-1.1 0-2-.9-2-2s.9-2 2-2 2 .9 2 2-.9 2-2 2z"/></svg>
                </div>
                <div class="nav__item__text">
                  Settings
                </div>
              </a>
            </div>
          </div>
        </div>

        <div class="app-content">
          <%= yield %>

          <div id="snackbar-container" class="snackbar-container">
            <% if flash[:notice] %>
              <div class="snackbar" data-controller="snackbar" data-snackbar-period="5000">
                <%= flash[:notice] %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>

<%= render template: 'layouts/base' %>
