<% content_for :content do %>
  <div class="drawer lg:drawer-open">
    <input type="checkbox" class="drawer-toggle" id="drawer" />

    <div class="drawer-side">
      <label for="drawer" class="drawer-overlay"></label>

      <div class="flex flex-col w-60 h-full bg-base-100">
        <div class="navbar">
          <div class="flex-grow flex">
            <a href="<%= dashboard_root_path(@account.name) %>" class="inline-flex items-center p-1 gap-2">
              <img src="<%= asset_path "icon.svg" %>" alt="logo" class="size-10">
              <div class="text-xl">
                <%= t "general.dashboard" %>
              </div>
            </a>
          </div>
        </div>

        <div class="p-3 flex gap-2">
          <div class="flex-grow">
            <div class="dropdown w-full">
              <label tabindex="0" class="btn btn-wide">
                <div class="avatar">
                  <div class="size-5 rounded-full">
                    <img src="<%= avatar_url(@account.owner) %>" alt="avatar">
                  </div>
                </div>
                <div class="line-clamp-1 flex-grow text-left">
                  <%= @account.owner.name %>
                </div>
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-chevron-down-icon lucide-chevron-down"><path d="m6 9 6 6 6-6"/></svg>
              </label>
              <ul class="dropdown-content menu bg-base-100 w-52 shadow-sm">
                <% ([Current.user.account] + Current.user.member_accounts).each do |account| %>
                  <li>
                    <a href="<%= dashboard_root_path(account.name) %>" class="<%= "menu-active" if account == @account %>">
                      <div class="avatar">
                        <div class="size-5 rounded-full">
                          <img src="<%= avatar_url(account.owner) %>" alt="avatar">
                        </div>
                      </div>
                      <span><%= account.owner.name %></span>
                    </a>
                  </li>
                <% end %>
              </ul>
            </div>
          </div>
          <div class="flex-none">
            <a href="<%= account_root_path(@account.name) %>" class="btn btn-ghost btn-square">
              <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-square-arrow-right-icon lucide-square-arrow-right"><rect width="18" height="18" x="3" y="3" rx="2"/><path d="M8 12h8"/><path d="m12 16 4-4-4-4"/></svg>
            </a>
          </div>
        </div>

        <div class="flex-grow overflow-auto">
          <ul class="menu w-full p-3">
            <li>
              <a href="<%= dashboard_root_path(@account.name) %>" class="<%= "menu-active" if current_page?(dashboard_root_path(@account.name)) %>">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-layout-dashboard-icon lucide-layout-dashboard"><rect width="7" height="9" x="3" y="3" rx="1"/><rect width="7" height="5" x="14" y="3" rx="1"/><rect width="7" height="9" x="14" y="12" rx="1"/><rect width="7" height="5" x="3" y="16" rx="1"/></svg>
                <%= t "general.overview" %>
              </a>
            </li>
            <li>
              <a href="<%= dashboard_posts_path(@account.name) %>" class="<%= "menu-active" if current_page?(dashboard_posts_path(@account.name)) %>">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-file-text-icon lucide-file-text"><path d="M15 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V7Z"/><path d="M14 2v4a2 2 0 0 0 2 2h4"/><path d="M10 9H8"/><path d="M16 13H8"/><path d="M16 17H8"/></svg>
                <%= t "general.posts" %>
              </a>
            </li>
            <li>
              <a href="<%= dashboard_analytics_root_path(@account.name) %>" class="<%= "menu-active" if request.path.start_with?(dashboard_analytics_root_path(@account.name)) %>">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-chart-spline-icon lucide-chart-spline"><path d="M3 3v16a2 2 0 0 0 2 2h16"/><path d="M7 16c.5-2 1.5-7 4-7 2 0 2 3 4 3 2.5 0 4.5-5 5-7"/></svg>
                <%= t "general.analytics" %>
              </a>
            </li>
            <% if @account.can_manage_by?(Current.user) %>
              <li class="hidden lg:block"></li>
              <li>
                <a href="<%= dashboard_settings_profile_path(@account.name) %>" class="<%= "menu-active" if controller_name == "profiles" %>">
                  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-square-user-icon lucide-square-user"><rect width="18" height="18" x="3" y="3" rx="2"/><circle cx="12" cy="10" r="3"/><path d="M7 21v-2a2 2 0 0 1 2-2h6a2 2 0 0 1 2 2v2"/></svg>
                  <%= t "general.profile" %>
                </a>
              </li>
              <% if @account.organization? %>
                <li>
                  <a href="<%= dashboard_settings_members_path(@account.name) %>" class="<%= "menu-active" if controller_name == "members" %>">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-users-icon lucide-users"><path d="M16 21v-2a4 4 0 0 0-4-4H6a4 4 0 0 0-4 4v2"/><path d="M16 3.128a4 4 0 0 1 0 7.744"/><path d="M22 21v-2a4 4 0 0 0-3-3.87"/><circle cx="9" cy="7" r="4"/></svg>
                    <%= t "general.members" %>
                  </a>
                </li>
              <% end %>
              <li>
                <a href="<%= dashboard_settings_export_path(@account.name) %>" class="<%= "menu-active" if controller_name == "exports" %>">
                  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-folder-down-icon lucide-folder-down"><path d="M20 20a2 2 0 0 0 2-2V8a2 2 0 0 0-2-2h-7.9a2 2 0 0 1-1.69-.9L9.6 3.9A2 2 0 0 0 7.93 3H4a2 2 0 0 0-2 2v13a2 2 0 0 0 2 2Z"/><path d="M12 10v6"/><path d="m15 13-3 3-3-3"/></svg>
                  <%= t "general.export" %>
                </a>
              </li>
            <% end %>
          </ul>
        </div>

        <div class="p-3">
          <% if Current.user %>
            <div class="dropdown dropdown-top">
              <label tabindex="0" class="btn btn-ghost">
                <div class="avatar">
                  <div class="size-8 rounded-full">
                    <img src="<%= avatar_url(Current.user) %>">
                  </div>
                </div>
                <%= t Current.user.name %>
              </label>
              <ul tabindex="0" class="dropdown-content menu w-40 bg-base-200 rounded-box shadow p-2 z-1">
                <li>
                  <a href="<%= settings_root_path %>">
                    <%= t "general.settings" %>
                  </a>
                </li>
                <li></li>
                <li>
                  <a href="<%= session_path %>" data-turbo-method="delete">
                    <%= t "general.sign_out" %>
                  </a>
                </li>
              </ul>
            </div>
          <% end %>
        </div>
      </div>
    </div>

    <div class="drawer-content">
      <div class="max-w-7xl mx-auto px-6 pb-6">
        <%= yield %>
      </div>
    </div>
  </div>
<% end %>

<%= render template: "layouts/application" %>
